Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

Simplify wheel test
  python/Makefile
Due: none

Add `-httpx` or `-httpx2` suffinx to UserAgent for better o11y
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_httpx_compat.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): prefer httpx2 with an httpx fallback [closes LSDK-448]
  python/Makefile
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_transport.py
  python/langsmith/utils.py
  python/pyproject.toml
  python/tests/httpx2_alias/sitecustomize.py
  python/tests/unit_tests/test_httpx_compat.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

chore(py)!: swtich to httpx2 dependency while keeping httpx as a fallback (#3406)
  python/Makefile
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_transport.py
  python/langsmith/utils.py
  python/pyproject.toml
  python/tests/httpx2_alias/sitecustomize.py
  python/tests/unit_tests/test_httpx_compat.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix!: fail-closed when per-function anonymization callables fail (#3328)
  js/src/env.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/singletons/constants.ts
  js/src/tests/traceable.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/traceable.ts
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

perf(py): serialize identical replicas once, into one frame (#3450)
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_multiple_endpoints.py
  python/tests/unit_tests/test_replica_compression.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): compress replica writes that carry their own credentials (#3448)
  python/langsmith/_internal/_background_thread.py
  python/langsmith/_internal/_compressed_traces.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_compression.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.11.2 → 0.12.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): promote usage_metadata from run.extra to OTEL span attributes
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): decouple usage_metadata fallback from outputs presence
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.12.0 (#3472)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.0
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.10.0 (#3474)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py,js): drain the anonymizer walk queue in O(1) [LSDK-412]
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py,js): drain the anonymizer walk queue in O(1) [LSDK-412] (#3475)
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.12.1
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.1
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.12.1 (#3478)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.1 (#3477)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py): add 429 and 500 to status_forcelist in retry configuration
  python/langsmith/client.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff, python-mypy

test(py): drop the jitter claim from the retry matrix docstring
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff

fix(deps): retain compatible Python tool versions
  python/pyproject.toml
  python/uv.lock
Due: none

fix(py): record async stream errors
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): handle async stream context errors
  python/langsmith/run_helpers.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): respect stream context suppression
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): add 429 and 500 to status_forcelist in retry configuration (#3480)
  python/langsmith/client.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff, python-mypy

feat: add rewind function for multipart parts and update constants for inline max bytes
  python/langsmith/_internal/_constants.py
  python/langsmith/_internal/_multipart.py
  python/langsmith/client.py
  python/tests/unit_tests/test_multipart_attachment_reencode.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): make the multipart body replayable for transport-level retries
  python/langsmith/_internal/_multipart.py
  python/langsmith/client.py
  python/tests/unit_tests/test_multipart_attachment_reencode.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

test(py): repoint the encoder patch and stop racing the run indexer
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

feat(multipart): implement SeekableMultipartEncoder for retryable multipart uploads
  python/langsmith/_internal/_multipart.py
  python/langsmith/client.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff, python-mypy

test(py): pin exact retry counts for the streamed multipart body
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff

fix(js): patch faker and browserslist advisories (#3487)
  js/package.json
  js/pnpm-lock.yaml
Due: none

refactor(py/js): name the handle method close_input to pair with send_input
  js/src/sandbox/README.md
  js/src/sandbox/command_handle.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(py/js): rename the run() option to close_input
  js/src/sandbox/README.md
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): list tags as a list, and keep Snapshot's positional order
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): patch fast-uri advisories (#3489)
  js/internal/environment_tests/test-exports-webpack/package.json
  js/internal/environment_tests/test-exports-webpack/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

fix(sandbox): retry abrupt closes before command start
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py): move _rewind_parts method into RewindableMultipartBody class
  python/langsmith/_internal/_multipart.py
Due: python-format, python-lint-ruff, python-mypy

feat(tracing): add sample rate header for run ingestion
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
