Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat: bound concurrent trace upload bytes
  python/langsmith/_internal/_background_thread.py
  python/langsmith/_internal/_constants.py
  python/langsmith/_internal/_inflight.py
  python/langsmith/client.py
  python/tests/unit_tests/test_inflight.py
Due: python-format, python-lint-ruff, python-mypy

chore: benchmark trace upload byte limits
  python/bench/inflight_trace_bytes.md
  python/bench/inflight_trace_bytes.py
Due: python-format, python-lint-ruff

fix: unwrap .raw for token/cost detail fields in _v2_run_to_schema
  python/langsmith/_internal/_v2_migration_utils.py
Due: python-format, python-lint-ruff, python-mypy

test: add unit and integration tests for v2 migration routing layer
  js/src/tests/v2_migration.test.ts
  python/tests/integration_tests/test_runs.py
  python/tests/unit_tests/test_v2_migration_utils.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix: auto-fix lint/format failures [CI]
  js/src/tests/v2_migration.test.ts
  python/tests/unit_tests/test_v2_migration_utils.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix: str() parent_run_id assertion — schemas.Run coerces to UUID [CI]
  python/tests/unit_tests/test_v2_migration_utils.py
Due: python-format, python-lint-ruff

fix: auto-fix lint/format failures [CI]
  python/tests/unit_tests/test_v2_migration_utils.py
Due: python-format, python-lint-ruff

Fix list feedback test
  python/tests/integration_tests/test_async_client.py
Due: python-format, python-lint-ruff

fix(sandbox): only fall back to HTTP exec when the ws library is unavailable (#3266)
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: clear get_env_var LRU cache in replica test to prevent xdist pollution [CI]
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff

feat: warn when SDK version exceeds backend's max supported version on self-hosted
  js/src/client.ts
  python/langsmith/_internal/_backend_version.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: combine backend and max-SDK version checks into one warning
  js/src/client.ts
  python/langsmith/_internal/_backend_version.py
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.10.10 → 0.10.11
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.7
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: retrieve runs via SmithDB v2 API when ClickHouse query support is disabled
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: auto-fix lint/format failures [CI]
  python/tests/integration_tests/test_async_client.py
Due: python-format, python-lint-ruff

fix: prioritize v1 read_run over SmithDB v2 fallback
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

refactor: fold v2 Run support into evaluate_run instead of a separate v2 method
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

refactor: move load_child_runs deprecation/SmithDB check from evaluate_run to read_run
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat: add start_time to evaluate_run/aevaluate_run/read_run for v2 lookups
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.7 (#3270)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

revert: remove all TypeScript v2/SmithDB migration changes from this PR
  js/src/client.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/v2_migration.ts
Due: js-format, js-lint, js-typecheck

fix: raise instead of using v2 for _load_child_runs on SmithDB-only backends; fix mypy errors
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

refactor: extract QueryBackend util instead of reading instance_flags inline
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/async_client.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

fix: widen RunEvaluator contract to accept v2 Run instead of casting
  python/langsmith/client.py
  python/langsmith/evaluation/evaluator.py
  python/langsmith/evaluation/string_evaluator.py
Due: python-format, python-lint-ruff, python-mypy

revert: keep RunEvaluator contract as schemas.Run only
  python/langsmith/client.py
  python/langsmith/evaluation/evaluator.py
  python/langsmith/evaluation/string_evaluator.py
Due: python-format, python-lint-ruff, python-mypy

Fix brace expansion override compatibility
  js/package.json
  js/patches/minimatch@3.1.5.patch
  js/patches/minimatch@9.0.9.patch
  js/pnpm-lock.yaml
Due: none

fix: use semver library for version comparisons in _checkSdkCompat
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

fix: address open-swe review flags
  js/package.json
  js/pnpm-lock.yaml
  python/langsmith/_internal/_backend_version.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: auto-fix import ordering in test_client.py [CI]
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix: pin semver to exact version 7.8.5 to match p-queue pinning discipline [CI]
  js/package.json
  js/pnpm-lock.yaml
Due: none

Remove warning and move imports
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(python,js): cover _get_openapi_base_url URL normalization
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

ci: let workflow_dispatch pick the environment for Python integration tests and evals
  .github/actions/python-integration-tests/action.yml
  .github/workflows/ci.yml
Due: none

ci: run the full integration and eval suites instead of stopping at the first failure
  .github/actions/python-integration-tests/action.yml
  python/Makefile
Due: none

test: add require_clickhouse marker and skip those tests on SmithDB-only backends
  .github/actions/python-integration-tests/action.yml
  .github/workflows/ci.yml
  python/pyproject.toml
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_runs.py
  python/tests/integration_tests/test_v2_traces.py
  python/tests/integration_tests/wrappers/test_openai_agents.py
Due: python-format, python-lint-ruff

test: migrate v2 fixtures off legacy list_runs/read_run
  python/tests/integration_tests/test_v2_public_runs.py
  python/tests/integration_tests/test_v2_runs_share.py
  python/tests/integration_tests/test_v2_threads.py
  python/tests/integration_tests/test_v2_traces.py
Due: python-format, python-lint-ruff

test: add require_v2 marker and skip those tests on V15
  .github/workflows/ci.yml
  python/pyproject.toml
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_v2_datasets.py
  python/tests/integration_tests/test_v2_public_runs.py
  python/tests/integration_tests/test_v2_runs_share.py
  python/tests/integration_tests/test_v2_threads.py
  python/tests/integration_tests/test_v2_traces.py
Due: python-format, python-lint-ruff

Fix list feedback integration test
  python/tests/integration_tests/test_async_client.py
Due: python-format, python-lint-ruff

fix(sandbox): keep dataplane_url after stop() (#3273)
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck
