Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat(otel): add set_metadata to OtelSpanProcessor for thread_id propagation (#2650)
  python/langsmith/integrations/otel/processor.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.24 → 0.7.25
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.24 → 0.7.25 (#2652)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(sdk): add list_project_issues method to Client
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): add model_dump fallback to prevent .dict() deprecation warning. Ref/closes #2651
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

feat(sdk): add list_project_issues method (#2654)
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.25 → 0.7.26
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump version to 0.7.26 (#2663)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Remove Chalk dep
  js/package.json
  js/pnpm-lock.yaml
  js/src/utils/jestlike/reporter.ts
Due: js-format, js-lint, js-typecheck

Vendor other deps
  js/.eslintrc.cjs
  js/.prettierignore
  js/package.json
  js/pnpm-lock.yaml
  js/src/utils/chalk/license
  js/src/utils/chalk/source/index.ts
  js/src/utils/chalk/source/utilities.ts
  js/src/utils/chalk/source/vendor/ansi-styles/index.ts
  js/src/utils/chalk/source/vendor/supports-color/browser.ts
  js/src/utils/chalk/source/vendor/supports-color/index.ts
  js/src/utils/console-table-printer/LICENSE
  js/src/utils/console-table-printer/index.ts
  js/src/utils/console-table-printer/src/console-table-printer.ts
  js/src/utils/console-table-printer/src/internalTable/input-converter.ts
  js/src/utils/console-table-printer/src/internalTable/internal-table-printer.ts
  js/src/utils/console-table-printer/src/internalTable/internal-table.ts
  js/src/utils/console-table-printer/src/internalTable/table-pre-processors.ts
  js/src/utils/console-table-printer/src/models/common.ts
  js/src/utils/console-table-printer/src/models/external-table.ts
  js/src/utils/console-table-printer/src/models/internal-table.ts
  js/src/utils/console-table-printer/src/utils/colored-console-line.ts
  js/src/utils/console-table-printer/src/utils/console-utils.ts
  js/src/utils/console-table-printer/src/utils/string-utils.ts
  js/src/utils/console-table-printer/src/utils/table-constants.ts
  js/src/utils/console-table-printer/src/utils/table-helpers.ts
  js/src/utils/jestlike/reporter.ts
  js/src/utils/simple-wcswidth/LICENSE
  js/src/utils/simple-wcswidth/index.ts
  js/src/utils/simple-wcswidth/src/binary-search.ts
  js/src/utils/simple-wcswidth/src/models.ts
  js/src/utils/simple-wcswidth/src/non-spacing-chars.ts
  js/src/utils/simple-wcswidth/src/wcswidth.ts
  js/src/utils/simple-wcswidth/src/wcwidth.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/utils/chalk/source/index.ts
Due: js-format, js-lint, js-typecheck

Pin remaining deps
  js/package.json
  js/pnpm-lock.yaml
Due: none

Move semver to devdep
  js/package.json
  js/pnpm-lock.yaml
Due: none

Unpin devdep
  js/package.json
  js/pnpm-lock.yaml
Due: none

feat(python): add service feature to sandbox
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_models.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

Remove dead code
  js/src/tests/client.test.ts
  js/src/utils/prompts.ts
Due: js-format, js-lint, js-typecheck

chore(js): Remove Chalk dep (#2664)
  js/.eslintrc.cjs
  js/.prettierignore
  js/package.json
  js/pnpm-lock.yaml
  js/src/tests/client.test.ts
  js/src/utils/chalk/license
  js/src/utils/chalk/source/index.ts
  js/src/utils/chalk/source/utilities.ts
  js/src/utils/chalk/source/vendor/ansi-styles/index.ts
  js/src/utils/chalk/source/vendor/supports-color/browser.ts
  js/src/utils/chalk/source/vendor/supports-color/index.ts
  js/src/utils/console-table-printer/LICENSE
  js/src/utils/console-table-printer/index.ts
  js/src/utils/console-table-printer/src/console-table-printer.ts
  js/src/utils/console-table-printer/src/internalTable/input-converter.ts
  js/src/utils/console-table-printer/src/internalTable/internal-table-printer.ts
  js/src/utils/console-table-printer/src/internalTable/internal-table.ts
  js/src/utils/console-table-printer/src/internalTable/table-pre-processors.ts
  js/src/utils/console-table-printer/src/models/common.ts
  js/src/utils/console-table-printer/src/models/external-table.ts
  js/src/utils/console-table-printer/src/models/internal-table.ts
  js/src/utils/console-table-printer/src/utils/colored-console-line.ts
  js/src/utils/console-table-printer/src/utils/console-utils.ts
  js/src/utils/console-table-printer/src/utils/string-utils.ts
  js/src/utils/console-table-printer/src/utils/table-constants.ts
  js/src/utils/console-table-printer/src/utils/table-helpers.ts
  js/src/utils/jestlike/reporter.ts
  js/src/utils/prompts.ts
  js/src/utils/simple-wcswidth/LICENSE
  js/src/utils/simple-wcswidth/index.ts
  js/src/utils/simple-wcswidth/src/binary-search.ts
  js/src/utils/simple-wcswidth/src/models.ts
  js/src/utils/simple-wcswidth/src/non-spacing-chars.ts
  js/src/utils/simple-wcswidth/src/wcswidth.ts
  js/src/utils/simple-wcswidth/src/wcwidth.ts
Due: js-format, js-lint, js-typecheck

anthropic-tracking
  js/src/experimental/anthropic/index.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

add to vercel
  js/src/experimental/vercel/index.ts
  js/src/experimental/vercel/middleware.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

docs: add initial threat model for langsmith-sdk
  .github/THREAT_MODEL.md
Due: none

feat(js): Add ls_integration metadata to AI SDK and Claude Agents SDK (#2668)
  js/src/experimental/anthropic/index.ts
  js/src/experimental/vercel/index.ts
  js/src/experimental/vercel/middleware.ts
  js/src/tests/claude_agent_sdk.test.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Support subagent tracing in Claude Agents SDK, fix usage
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_messages.py
  python/langsmith/integrations/claude_agent_sdk/_transcript.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_transcript.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

Fix nesting inside MCP tools
  python/langsmith/integrations/claude_agent_sdk/__init__.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_tools.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

nits, add metadata tag
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_transcript.py
Due: python-format, python-lint-ruff, python-mypy

fix: retry on 502/3/4 in get_prompt
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

update comment
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix badges
  README.md
  python/README.md
Due: none

fix: retry on 502/3/4 in get_prompt (#2672)
  README.md
  python/README.md
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: missing tool called tag for anthropic tool calls
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix: js fix and clean ups
  python/langsmith/wrappers/_anthropic.py
Due: python-format, python-lint-ruff, python-mypy

fix: js fix
  js/src/tests/anthropic_usage.test.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

chore: simplify
  js/src/tests/anthropic_usage.test.ts
  js/src/wrappers/anthropic.ts
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: async client retries on non-connection errors
  python/langsmith/async_client.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

handle 425 + jitter
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

clean up old path
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

revert high level retries in sync client
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

remove high level 502 test for sync client
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix: add more retryable errors to the async client (#2675)
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Fix subagent tool nesting
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

release(python): 0.7.27
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy
