Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(py): compress replica writes that carry their own credentials
  python/langsmith/_internal/_background_thread.py
  python/langsmith/_internal/_compressed_traces.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_compression.py
Due: python-format, python-lint-ruff, python-mypy

ci: report Python benchmarks to Datadog Test Optimization (#3408)
  .github/workflows/codspeed.yml
  .github/workflows/py-bench-datadog.yml
  python/Makefile
  python/pyproject.toml
Due: none

fix(js): close the argument-shape bypass in Anthropic MCP redaction (#3378)
  js/src/tests/wrapped_anthropic_mcp.test.ts
  js/src/utils/redaction.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

ci: enable CodSpeed flame graphs and pin the benchmarks to one CPU
  .github/workflows/codspeed.yml
  .github/workflows/py-bench-datadog.yml
Due: none

Common error prefix; preserve error type but omit message
  js/src/singletons/constants.ts
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: isolation run - simulation on ARM without callgraph
  .github/workflows/codspeed.yml
Due: none

feat(livekit): align trace audio with the span timeline
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_livekit.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

refactor(livekit): simplify recording lifecycle
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/_state.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

refactor(livekit): clarify report correlation
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(py/js): close sandbox command stdin by default
  js/src/sandbox/README.md
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(livekit): clarify state queue names
  python/langsmith/integrations/livekit/_state.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

refactor(livekit): clarify deferred span state
  python/langsmith/integrations/livekit/_state.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(livekit): support separate egress recording delivery
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/_state.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

fix(livekit): preserve recording data keyword
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(py/js): add close_stdin() to the sandbox command handle
  js/src/sandbox/README.md
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: isolation run - simulation on ARM with Python 3.13
  .github/workflows/codspeed.yml
Due: none

Avoid evaluating err in JS, to avoid risk of blocking the wrapped func
  js/src/singletons/constants.ts
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

fix(client): clamp list_runs page-size to 100 to avoid HTTP 400
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(livekit): automatically capture session reports
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/_state.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

fix(livekit): preserve chat history order
  python/langsmith/integrations/livekit/_helpers.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

Address comments
  js/src/client.ts
  js/src/utils/sampling.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(livekit): harden recording lifecycle
  python/langsmith/integrations/livekit/processor.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_livekit.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

feat(livekit): align trace audio with the span timeline (#3452)
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/_state.py
  python/langsmith/integrations/livekit/processor.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_livekit.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.11.2
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.11.2 (#3457)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

ci: disable the CodSpeed simulation leg on ARM runners
  .github/workflows/codspeed.yml
Due: none

ci: pin the benchmarks to Python 3.13
  .github/workflows/codspeed.yml
  .github/workflows/py-bench-datadog.yml
Due: none

Address comments: better ReplicaAuth and more readable conditional
  python/langsmith/_internal/_compressed_traces.py
  python/langsmith/client.py
  python/tests/unit_tests/test_replica_compression.py
Due: python-format, python-lint-ruff, python-mypy

Do not preserve destinations across flushes, to support changing replicas
  python/langsmith/_internal/_compressed_traces.py
  python/tests/unit_tests/test_replica_compression.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): serialize identical replicas once, into one frame
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_multiple_endpoints.py
  python/tests/unit_tests/test_replica_compression.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy

Fix for non-batch path
  python/langsmith/client.py
  python/tests/unit_tests/test_replica_compression.py
Due: python-format, python-lint-ruff, python-mypy

ci: enable CodSpeed flame graphs and pin the benchmarks to one CPU (#3449)
  .github/workflows/codspeed.yml
  .github/workflows/py-bench-datadog.yml
Due: none

fix(py,js)!: make trace sampling deterministic (#3183)
  js/src/client.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/schemas.ts
  js/src/tests/batch_client.test.ts
  js/src/tests/client.test.ts
  js/src/utils/sampling.ts
  python/langsmith/_internal/_sampling.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Improve code readability
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(evaluation): preserve arbitrary dict keys in EvaluationResult.feedback_config
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_evaluator.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): suppress import-untyped on the optional langsmith_pyo3 import
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): suppress import-untyped on the optional langsmith_pyo3 import (#3462)
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py,js): generate Insights over an existing tracing project
  js/src/client.ts
  js/src/index.ts
  js/src/schemas.ts
  js/src/tests/insights.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Handle failing anonymization in vercel integration
  js/src/env.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/singletons/constants.ts
  js/src/tests/traceable.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

docs: Update sandbox README to document httpx/httpx2 caveat
  python/langsmith/sandbox/README.md
Due: none

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
