Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

release(python): 0.7.27 (#2676)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: switch to enrichment instead
  js/src/tests/anthropic_usage.test.ts
  js/src/wrappers/anthropic.ts
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: restore python/uv.lock after accidental lockfile refresh
  python/uv.lock
Due: none

chore: drop extra blockToDict helper
  js/src/wrappers/anthropic.ts
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
  python/uv.lock
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

chore: restore python/uv.lock (accidental refresh)
  python/uv.lock
Due: none

Rely on transcript parsing for usage
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_transcript.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_transcript.py
Due: python-format, python-lint-ruff, python-mypy

chore: clean ups
  js/src/tests/anthropic_usage.test.ts
  js/src/wrappers/anthropic.ts
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: restore python/uv.lock to match origin/main
  python/uv.lock
Due: none

Cleanup and small fixes
  python/langsmith/integrations/claude_agent_sdk/__init__.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_messages.py
  python/langsmith/integrations/claude_agent_sdk/_tools.py
Due: python-format, python-lint-ruff, python-mypy

Add flaky decorator
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

Improve transcript fetching
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Fix subagent history
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_messages.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Fix
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Cleanup
  python/langsmith/integrations/claude_agent_sdk/__init__.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_messages.py
Due: python-format, python-lint-ruff, python-mypy

Set usage from stream for single message outputs
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): Support subagent tracing in Claude Agents SDK, fix usage and duplicate messages (#2670)
  python/langsmith/integrations/claude_agent_sdk/__init__.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_messages.py
  python/langsmith/integrations/claude_agent_sdk/_tools.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

Allow dynamically setting custom client headers
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_custom_headers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Deflake
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff

chore(py): Deflake test (#2680)
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff

Fix
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Fix
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

feat(py,js): Allow dynamically setting custom client headers (#2678)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_custom_headers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix(py): Add model_dump fallback to prevent .dict() deprecation warning (#2655)
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.17
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Bump version: 0.7.27 → 0.7.28
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Fix type checking
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): Fix type checking (#2683)
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.28 (#2682)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.17 (#2681)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix race condition around instrumentation
  python/langsmith/integrations/claude_agent_sdk/__init__.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff, python-mypy

Fix lint
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

Fix
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

Adds ls_provider
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.28 → 0.7.29
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): Fix race condition around Claude Agent SDK instrumentation (#2685)
  python/langsmith/integrations/claude_agent_sdk/__init__.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.29 (#2686)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(evaluation): add 1ms epsilon to example_version to fix stale snapshot bug
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

fix
  python/langsmith/sandbox/_models.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add service feature to sandbox (#2665)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_models.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy
