Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat: expose annotation queue clients (#3288)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: strip a trailing /api (not a bare /v1) from the generated OpenAPI client base URL (#3284)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs: link to the langchainplus SDK release process
  CONTRIBUTING.md
Due: none

test: follow the /api-prefixed spec paths in URL assertions
  js/src/tests/client.test.ts
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix(python): normalize the base URL for the sync OpenAPI client too
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: give threads.list_traces 90s to poll for indexing [CI]
  python/tests/integration_tests/test_v2_threads.py
Due: python-format, python-lint-ruff

docs: link to the langchainplus SDK release process (#3293)
  CONTRIBUTING.md
Due: none

test: use AsyncClient.read_run in test_create_run instead of raw v2 runs.retrieve
  python/tests/integration_tests/test_async_client.py
Due: python-format, python-lint-ruff

fix: declare a min version at the annotation queues accessors [CI]
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Remove test not relevant anymore (load child run not supported in SDB only
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

fix: auto-fix ruff format failure [CI]
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

test: restore test_load_child_runs_populates_tree as require_clickhouse
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

fix: prioritize API key over OAuth profile auth [closes LSDK-414]
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Fix integration test on SmithDB only
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

Update python/tests/integration_tests/test_runs.py
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

feat(js,python): check min backend version per resource (#3287)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/constants.ts
  python/langsmith/_internal/_backend_version.py
  python/langsmith/_internal/_constants.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_v2_threads.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test: exercise public run-read APIs and fix backend routing in run integration tests (#3294)
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

chore: deprecate evaluate_run and aevaluate_run
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

chore: drop version from deprecated directive
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

chore: deprecate evaluate_run and aevaluate_run (#3296)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.13
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.8
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.8.8 (#3298)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

test: preserve OAuth-only profile auth coverage
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff

release(py): 0.10.13 (#3297)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: address deprecation review feedback on #3299
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_beta_evals.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs: use an admonition instead of an argument-less deprecated directive
  python/langsmith/async_client.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

chore: address deprecation review feedback on #3299 (#3300)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_beta_evals.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(python): share Gemini usage normalization
  python/langsmith/integrations/_gemini_usage.py
  python/langsmith/integrations/gemini_live/_session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): accumulate Gemini transcript deltas
  python/langsmith/integrations/gemini_live/_session.py
  python/tests/unit_tests/wrappers/test_gemini_live.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): keep local run URL construction on ClickHouse-only backends
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): infer Gemini Live tool spans
  python/langsmith/integrations/gemini_live/_session.py
  python/tests/unit_tests/wrappers/test_gemini_live.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): type Gemini Live integration
  python/langsmith/integrations/gemini_live/_session.py
  python/tests/unit_tests/wrappers/test_gemini_live.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): count an acknowledged reattachment as progress (#3301)
  js/src/sandbox/command_handle.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_reconnect_ack.test.ts
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(python): trace raw Gemini Live sessions (#3291)
  python/langsmith/integrations/_gemini_usage.py
  python/langsmith/integrations/gemini_live/__init__.py
  python/langsmith/integrations/gemini_live/_session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_gemini_live.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.14
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.14 (#3302)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): apply the caller-supplied session's config to v2 endpoints
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): keep cookie scope and support httpx's proxies kwarg [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): apply caller-supplied headers to the v2 endpoints
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck
