Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fixed misleading docstring
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): expose pairwise comparison URL on ComparativeExperimentResults [LSE-2270] (#2975)
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): exposed pairwise comparison URL on ComparativeExperimentResults
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/evaluate.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(python): expose LS_MESSAGE_VIEW_EXCLUDE constant
  python/langsmith/__init__.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

style(python): trim LS_MESSAGE_VIEW_EXCLUDE doc to one-line comment
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): expose LS_MESSAGE_VIEW_EXCLUDE constant
  js/src/index.ts
  js/src/tests/traceable.test.ts
Due: js-format, js-lint, js-typecheck

linting fixes
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff

added requested jsdoc
  js/src/evaluation/evaluate_comparative.ts
Due: js-format, js-lint, js-typecheck

feat(js): exposed pairwise comparison URL on ComparativeExperimentResults [LSE-2374] (#2981)
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/evaluate.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(python): expose LS_MESSAGE_VIEW_EXCLUDE constant [lso-2605] (#2982)
  js/src/index.ts
  js/src/tests/traceable.test.ts
  python/langsmith/__init__.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(python): add online evaluator crud support for python sdk
  python/conftest.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/integration_tests/test_runs.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat: support JS prompt commit tags
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

chore: bump JS SDK version
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat: support JS prompt commit tags (#2987)
  js/package.json
  js/src/client.ts
  js/src/index.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): add online evaluator crud support for js sdk
  js/package.json
  js/src/client.ts
  js/src/index.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

updated to resolve dataset size client side
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

simplify comments
  js/src/client.ts
  js/src/evaluation/_runner.ts
  python/langsmith/evaluation/_arunner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(python): add cross-process OAuth refresh filesystem lock
  python/langsmith/_internal/_oauth_refresh_lock.py
  python/tests/unit_tests/test_oauth_refresh_lock.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): lock + re-read disk before OAuth profile refresh
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_oauth_refresh_lock.py
Due: python-format, python-lint-ruff, python-mypy

evaluator key resolution
  js/src/client.ts
  js/src/evaluation/_runner.ts
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js): add mkdirExclusive/statMtimeMs/rmRecursive fs primitives
  js/src/utils/fs.browser.ts
  js/src/utils/fs.ts
Due: js-format, js-lint, js-typecheck

feat(js): add cross-process OAuth refresh directory lock
  js/src/tests/profile-lock.test.ts
  js/src/utils/profile-lock.ts
Due: js-format, js-lint, js-typecheck

feat(js): lock + re-read disk before OAuth profile refresh
  js/src/tests/profile-lock.test.ts
  js/src/utils/profiles.ts
Due: js-format, js-lint, js-typecheck

style(js): apply prettier formatting to OAuth lock files
  js/src/utils/fs.browser.ts
  js/src/utils/fs.ts
  js/src/utils/profile-lock.ts
Due: js-format, js-lint, js-typecheck

fixing typing
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

removing comment
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

Revert "Use inheritence instead of composition for LS client"
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_helpers.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: use should_exit for uvicorn server teardown in context propagation test
  python/tests/integration_tests/test_context_propagation.py
Due: python-format, python-lint-ruff

Add AWS auth proxy helpers to Python SDK
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

Add AWS auth proxy helpers to JS SDK
  js/src/sandbox/index.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Document JS sandbox AWS auth proxy usage
  js/README.md
  js/src/sandbox/README.md
Due: none

Document Python sandbox AWS auth proxy usage
  python/README.md
  python/langsmith/sandbox/README.md
Due: none

fix(lint): exclude _openapi_client from ruff format/lint
  python/pyproject.toml
Due: none

fix(lint): exclude _openapi_client from ruff (#2993)
  python/pyproject.toml
Due: none

Make open api client available in sync and async clients
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(lint): exclude _openapi_client from mypy
  python/pyproject.toml
Due: none

fix(js): format with oxfmt and satisfy oxlint
  js/src/tests/profile-lock.test.ts
  js/src/utils/fs.browser.ts
  js/src/utils/fs.ts
  js/src/utils/profile-lock.ts
  js/src/utils/profiles.ts
Due: js-format, js-lint, js-typecheck

fix(lint): exclude _openapi_client from mypy (#2995)
  python/pyproject.toml
Due: none

Exclude generated code from mypy
  python/mypy.ini
Due: none

Add AWS auth proxy helpers to Python SDK (#2991)
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy
