Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

feat(js-sandbox): support snapshotName and list filters (#2770)
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

update (#2767)
  python/langsmith/_internal/_aiter.py
  python/langsmith/_runtime_overrides.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_runtime_overrides.py
Due: python-format, python-lint-ruff, python-mypy

Update logged client string representations to hide API key
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

Apply to sandboxing client too
  js/src/experimental/sandbox/client.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): Update logged client string representations to hide API key (#2772)
  js/src/client.ts
  js/src/experimental/sandbox/client.ts
  js/src/tests/client.test.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Update Python async and sandbox client reprs
  python/langsmith/async_client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.22
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Skip flake
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

release(js): 0.5.22 (#2774)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix
  python/tests/integration_tests/conftest.py
  python/tests/integration_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff

Fix
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

Revert "Fix"
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

Add timeout
  python/pyproject.toml
  python/uv.lock
Due: none

Skip
  python/tests/integration_tests/wrappers/test_gemini.py
  python/uv.lock
Due: python-format, python-lint-ruff

fix(python): Update Python async and sandbox client reprs (#2773)
  python/langsmith/async_client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Add hook
  python/langsmith/_internal/_aiter.py
  python/langsmith/_runtime_overrides.py
  python/tests/unit_tests/test_runtime_overrides.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): Adds runtime overrides for updating internal methods (#2766)
  python/langsmith/__init__.py
  python/langsmith/_internal/_aiter.py
  python/langsmith/_runtime_overrides.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_runtime_overrides.py
Due: python-format, python-lint-ruff, python-mypy

feat: add Context schemas for agent/skill/file hub repos (#2745)
  js/src/schemas.ts
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Consolidate and cut down on integration tests
  js/src/tests/client.int.test.ts
  js/src/tests/evaluate.int.test.ts
  js/src/tests/jestlike/jest_otel.int.test.ts
  js/src/tests/jestlike/wrap_jest.test.ts
  js/src/tests/otel/traceable_otel.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_evaluate.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_extended.int.test.ts
  js/src/tests/otel/vercel/anthropic_cache_otel.int.test.ts
  js/src/tests/otel/vercel/openai_cache_otel.int.test.ts
  js/src/tests/vercel/wrapper/anthropic.int.test.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/tests/client.int.test.ts
Due: js-format, js-lint, js-typecheck

chore(js): Consolidate and cut down on integration tests (#2775)
  js/src/tests/client.int.test.ts
  js/src/tests/evaluate.int.test.ts
  js/src/tests/jestlike/jest_otel.int.test.ts
  js/src/tests/jestlike/wrap_jest.test.ts
  js/src/tests/otel/traceable_otel.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_evaluate.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_extended.int.test.ts
  js/src/tests/otel/vercel/anthropic_cache_otel.int.test.ts
  js/src/tests/otel/vercel/openai_cache_otel.int.test.ts
  js/src/tests/vercel/wrapper/anthropic.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): add tracing of opencode
  js/.gitignore
  js/package.json
  js/pnpm-lock.yaml
  js/scripts/create-entrypoints.js
  js/src/experimental/opencode/index.ts
  js/src/experimental/opencode/tracer.ts
  js/src/tests/opencode/opencode.vitesttest.ts
  js/src/tests/opencode/ses_basic.jsonl
  js/src/tests/opencode/ses_editing.jsonl
  js/src/tests/opencode/ses_images.jsonl
  js/src/tests/opencode/ses_subagents.jsonl
  js/src/tests/utils/mock_client.vitest.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

Skip lint
  js/src/tests/opencode/opencode.vitesttest.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.7.34
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.34 (#2778)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): flatten hub methods onto Client/AsyncClient
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(python): update Context integration tests for flat Client surface
  python/tests/integration_tests/test_context.py
  python/tests/integration_tests/test_context_async.py
Due: python-format, python-lint-ruff

style(python): fix import block whitespace in Context tests (ruff I001)
  python/tests/integration_tests/test_context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff

feat(python): introduce HubClient for managing agents and skills
  python/langsmith/__init__.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/hub_client.py
  python/tests/integration_tests/test_hub_client.py
  python/tests/integration_tests/test_hub_client_async.py
  python/tests/unit_tests/test_hub_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): remove HubClient and integrate hub methods directly into Client and AsyncClient
  python/langsmith/__init__.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/hub_client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): specify repo_type in pull_hub_directory for agents and skills
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

refactor(schemas): remove owner and repo fields from AgentContext and SkillContext
  js/src/schemas.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: patch 2 security alerts (high severity) (#2756)
  js/package.json
  js/pnpm-lock.yaml
Due: none

refactor(python): update identifier parsing in agent and skill existence checks
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Use estimator instead of serialization in hot path
  js/package.json
  js/pnpm-lock.yaml
  js/src/client.ts
  js/src/tests/perf.int.test.ts
  js/src/tests/serialize.test.ts
  js/src/utils/fast-safe-stringify/index.ts
Due: js-format, js-lint, js-typecheck

Format
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

Types
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
