Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

Add AWS auth proxy helpers to JS SDK (#2992)
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Add info resource
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

dataset size resolution logic cleanup
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

feat(evaluation): adding examples and repetitions to create tracer sessions calls (#2954)
  js/src/client.ts
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/utils.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: add deepagent compatibility smoke tests to Python and JS CI [LSDK-214]
  .github/workflows/ci.yml
  js/internal/environment_tests/docker-compose.yml
  js/internal/environment_tests/test-deepagent-compat/package.json
  js/internal/environment_tests/test-deepagent-compat/pnpm-lock.yaml
  js/internal/environment_tests/test-deepagent-compat/pnpm-workspace.yaml
  js/internal/environment_tests/test-deepagent-compat/src/index.ts
  python/tests/external/test_deepagent_compat.py
  python/uv.lock
Due: python-format, python-lint-ruff

fix: pin action SHAs in deepagent compat CI jobs
  .github/workflows/ci.yml
Due: none

fix: use --system flag for uv pip install in CI (no venv available) [CI]
  .github/workflows/ci.yml
Due: none

fix: use uv venv in python-deepagent-compat CI job, revert uv.lock [CI]
  .github/workflows/ci.yml
  python/uv.lock
Due: none

fix: pin actions/checkout and actions/setup-node to commit SHAs [CI]
  .github/workflows/ci.yml
Due: none

fix mypy issue in json fallback
  python/langsmith/_internal/_orjson.py
Due: python-format, python-lint-ruff, python-mypy

Fix vcr aiohttp compatibility
  python/conftest.py
  python/langsmith/_internal/_patch.py
  python/langsmith/utils.py
  python/tests/integration_tests/conftest.py
Due: python-format, python-lint-ruff, python-mypy

Skip rate-limited nested async integration test
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

Remove unrelated rate limit skip
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

test: use supported Jest throw matcher
  js/src/tests/traceable.test.ts
Due: js-format, js-lint, js-typecheck

ci: add workflow to protect _openapi_client from unauthorized changes
  .github/workflows/protect-openapi-client.yml
Due: none

fix: add explicit permissions block to workflow [CI]
  .github/workflows/protect-openapi-client.yml
Due: none

release(py): 0.8.10
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.8.10 (#3000)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Match async feedback client to sync behavior
  python/langsmith/async_client.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: match async feedback client to sync behavior [LSEN-206] (#3001)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/async_client.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

ci: protect _openapi_client from unauthorized changes (#2999)
  .github/workflows/protect-openapi-client.yml
Due: none

fix: gemini double counting of over 200k tokens
  js/src/tests/wrapped_gemini.vitesttest.ts
  js/src/wrappers/gemini.ts
  js/src/wrappers/gemini.utils.ts
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: gemini double counting of over 200k tokens (#3003)
  js/src/tests/wrapped_gemini.vitesttest.ts
  js/src/wrappers/gemini.ts
  js/src/wrappers/gemini.utils.ts
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): type sandbox startup errors
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

perf: reuse persistent ThreadPoolExecutor in hybrid tracing [closes LSDK-213]
  python/langsmith/_internal/_background_thread.py
Due: python-format, python-lint-ruff, python-mypy

fix: value error was raised when an evaluation returned a list of EvaluationResult instances though even the error message says that this should be allowed
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

fix: avoid duplicate /v1 in hub URLs when endpoint includes /api/v1
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

fix: apply hub /api/v1 endpoint fix to JS SDK and document URL convention
  js/AGENTS.md
  js/src/client.ts
  js/src/tests/context.test.ts
  python/AGENTS.md
Due: js-format, js-lint, js-typecheck

Add sandbox mount support to Python SDK
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_mounts.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Add sandbox mount support to JS SDK
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

chore: bump JS to 0.7.6 and Python to 0.8.12
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(python): cross-process OAuth refresh filesystem lock (#2988)
  python/langsmith/_internal/_oauth_refresh_lock.py
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_oauth_refresh_lock.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): cross-process OAuth refresh filesystem lock (#2989)
  js/src/tests/profile-lock.test.ts
  js/src/utils/fs.browser.ts
  js/src/utils/fs.ts
  js/src/utils/profile-lock.ts
  js/src/utils/profiles.ts
Due: js-format, js-lint, js-typecheck

Revert "chore: bump JS to 0.7.6 and Python to 0.8.12"
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: avoid duplicate /v1 in hub URLs when endpoint includes /api/v1 (#3008)
  js/AGENTS.md
  js/src/client.ts
  js/src/tests/context.test.ts
  python/AGENTS.md
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: bump JS to 0.7.6 and Python to 0.8.12 (#3011)
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): type sandbox startup errors (#3004)
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

chore(py): bump Python SDK to 0.8.13
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy
