Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

add `tool_call_id` to metadata for tool calls
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(deps): patch soupsieve ReDoS vulnerabilities
  python/uv.lock
Due: none

fix(deps): patch soupsieve ReDoS vulnerabilities (#3560)
  python/uv.lock
Due: none

fix(py): preserve invocation parameters in OTel exports
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.13.0 → 0.14.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): grant sandboxes delegated LangSmith access on create
  js/src/sandbox/access_delegation.ts
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox_access_delegation.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_access_delegation.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_access_delegation.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): carry the delegation grant through sync/async conversion
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_sync_async_conversion.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): LangSmith-login service URLs, and service URLs for JS
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/service_url.ts
  js/src/tests/sandbox_service_url.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_service_access.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(sandbox): drop access="off" from both SDKs
  js/src/sandbox/client.ts
  js/src/sandbox/service_url.ts
  js/src/tests/sandbox_service_url.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_service_access.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): do not reuse the mint request's abort signal when refreshing
  js/src/sandbox/client.ts
  js/src/tests/sandbox_service_url.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): grant sandboxes delegated LangSmith access on create (#3563)
  js/src/sandbox/access_delegation.ts
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox_access_delegation.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_access_delegation.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_access_delegation.py
  python/tests/unit_tests/sandbox/test_sync_async_conversion.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): overload service() so a tokenless call is typed ServiceURL
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): LangSmith-login service URLs, and service URLs for JS (#3564)
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/service_url.ts
  js/src/tests/sandbox_service_url.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_service_access.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): finalize traces when wrapped streams close
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

test(py): report completion from captured HTTP updates
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff

feat(py)!: send agent addressing as a nested `agent` object
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): propagate agent addressing over baggage
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

refactor: rename the agent addressing env vars
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(py): address runs by agent instead of project
  python/langsmith/_internal/_context.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): require the agent env vars as a pair
  python/langsmith/utils.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

test(py): cover agent addressing, and keep an explicit None project
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

feat: add LANGSMITH_ENVIRONMENT and ingest it as agent_environment
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: add LANGSMITH_AGENT_KEY and ingest it as agent_key
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/project.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: read the agent env vars from LANGSMITH_ only
  js/src/tests/client.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
  python/langsmith/env/_runtime_env.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(py): drop duplicative agent addressing tests
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff

fix(py): three addressing defects found in review
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): reject a call naming both a project and an agent
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): don't resolve the ambient agent on batch updates [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): mark agent addressing experimental
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): drop comments that describe past behavior
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py)!: send agent addressing as flat fields, not a nested object
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

revert(js): drop the stale JS agent addressing
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
Due: js-format, js-lint, js-typecheck

docs(py): name the values the endpoint accepts for the agent fields
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): ignore a baggage agent when the caller named a project by ID
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): drop the agent field docstrings
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

fix: correct the agent addressing tests [CI]
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff

fix(py): don't let ambient env vars overwrite an explicit agent [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): let the backend reject agent addressing, not the SDK
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): let an agent named in code beat a project in the environment
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy
