Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

chore(python): drop inadvertent js/src/schemas.ts change
  js/src/schemas.ts
Due: js-format, js-lint, js-typecheck

refactor(python): centralize hub constants and validation in internal module
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): trim _internal/_hub docstring
  python/langsmith/_internal/_hub.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): rename build_context_url to build_commit_url
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(js): cover tools.json context files
  js/src/tests/context.int.test.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

refactor(js): align hub surface with Python SDK
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/context.test.ts
  js/src/utils/prompts.ts
Due: js-format, js-lint, js-typecheck

Offload serialize to worker thread at flush time
  js/src/client.ts
  js/src/tests/perf.int.test.ts
  js/src/tests/serialize_worker.test.ts
  js/src/utils/serialize_worker.ts
Due: js-format, js-lint, js-typecheck

style(js): fix prettier format in client.ts imports
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix(js): bump uuid to ^14.0.0 to resolve GHSA-w5hq-g745-h8pq
  js/package.json
  js/pnpm-lock.yaml
Due: none

Gate worker offload on payload shape (large-string heuristic)
  js/src/client.ts
  js/src/tests/serialize.test.ts
  js/src/utils/fast-safe-stringify/index.ts
  js/src/utils/serialize_worker.ts
Due: js-format, js-lint, js-typecheck

Load worker_threads via browser-field abstraction
  js/package.json
  js/src/utils/serialize_worker.ts
  js/src/utils/worker_threads.browser.ts
  js/src/utils/worker_threads.ts
Due: js-format, js-lint, js-typecheck

Format
  js/src/tests/perf.int.test.ts
  js/src/tests/serialize.test.ts
  js/src/utils/serialize_worker.ts
Due: js-format, js-lint, js-typecheck

Lint
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): honor numRepetitions when data is an Example[]
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate.int.test.ts
Due: js-format, js-lint, js-typecheck

fix(wrappers): suppress Pydantic serialization warnings for ParsedBetaMessage in wrap_anthropic (#2738)
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

Fix
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff

feat(python): add Hub agent/skill methods on Client and AsyncClient (#2746)
  python/langsmith/__init__.py
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/integration_tests/test_hub_client.py
  python/tests/integration_tests/test_hub_client_async.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

refactor(js): unify parsePromptIdentifier and parseHubIdentifier
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/prompts.ts
Due: js-format, js-lint, js-typecheck

Fix imports
  js/src/tests/bun/traceable.test.bun.ts
  js/src/utils/jestlike/index.ts
  js/src/utils/jestlike/vendor/evaluatedBy.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/utils/jestlike/vendor/evaluatedBy.ts
Due: js-format, js-lint, js-typecheck

feat(js): add agent/skill hub methods on Client with unit tests (#2747)
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  js/src/tests/context.int.test.ts
  js/src/tests/context.test.ts
  js/src/utils/error.ts
  js/src/utils/prompts.ts
Due: js-format, js-lint, js-typecheck

Pare down
  js/src/utils/uuid/src/index.ts
  js/src/utils/uuid/src/md5-browser.ts
  js/src/utils/uuid/src/md5.ts
  js/src/utils/uuid/src/sha1-browser.ts
  js/src/utils/uuid/src/sha1.ts
  js/src/utils/uuid/src/uuid-bin.ts
  js/src/utils/uuid/src/v1.ts
  js/src/utils/uuid/src/v1ToV6.ts
  js/src/utils/uuid/src/v3.ts
  js/src/utils/uuid/src/v6.ts
  js/src/utils/uuid/src/v6ToV1.ts
Due: js-format, js-lint, js-typecheck

fix(py): suppress Pydantic serialization warnings for ParsedBetaMessage in wrap_anthropic (#2783)
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.35
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.23
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

docs: add CONTRIBUTING.md with release instructions
  CONTRIBUTING.md
Due: none

release(py): 0.7.35 (#2785)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): honor numRepetitions when data is an Example[] (#2779)
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate.int.test.ts
Due: js-format, js-lint, js-typecheck

Add LC test
  js/src/tests/serialize.test.ts
Due: js-format, js-lint, js-typecheck

docs: add CONTRIBUTING.md covering Python + JS release flow (#2787)
  CONTRIBUTING.md
Due: none

perf(js): Use estimator instead of serialization in hot path (#2780)
  js/package.json
  js/pnpm-lock.yaml
  js/src/client.ts
  js/src/tests/perf.int.test.ts
  js/src/tests/serialize.test.ts
  js/src/utils/fast-safe-stringify/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.23 (#2786)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix build
  js/src/tests/serialize.test.ts
Due: js-format, js-lint, js-typecheck

nits
  js/src/tests/serialize_worker.test.ts
  js/src/utils/serialize_worker.ts
Due: js-format, js-lint, js-typecheck

JS implementation
  js/src/client.ts
  js/src/run_trees.ts
  js/src/singletons/otel.ts
  js/src/tests/tracing_mode.test.ts
  js/src/traceable.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

Remove test script
  python/test.py
Due: python-format, python-lint-ruff

Updated Python client to use explicit mode parameter + better logs
  python/langsmith/__init__.py
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Add cache cleanup
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff
