Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(sandbox): remove gcp auth stale host option checks
  js/src/sandbox/proxy_config.ts
  js/src/tests/sandbox.test.ts
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix(sandbox): use built-in gcp auth host matching (#3055)
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: py to 0.8.17
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): py to 0.8.17 (#3056)
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(anonymizer): add curated secret-detection preset
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(anonymizer): full LangSmith v2 key tail + PGP armor + Bearer parity
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(anonymizer): harden structural/url/bearer rules (review round 2)
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): declare OpenAPI client runtime dependencies
  python/pyproject.toml
  python/uv.lock
Due: none

chore(anonymizer): satisfy oxfmt + ruff formatting and import-order lint
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Simplify unreleased mount config SDK paths
  js/src/sandbox/client.ts
  js/src/tests/sandbox.test.ts
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

Merge commit from fork
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test(python): align integration tests with updated attachment error message
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

test(python): fix integration assertions for updated attachment error message (#3061)
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

chore: reconcile bumpversion config and mandate CONTRIBUTING release process
  js/AGENTS.md
  python/.bumpversion.cfg
  python/AGENTS.md
Due: none

chore: reconcile bumpversion config and mandate release process for agents (#3062)
  js/AGENTS.md
  python/.bumpversion.cfg
  python/AGENTS.md
Due: none

Bump version: 0.8.17 → 0.8.18
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.8.18 (#3063)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): send mount_config for mounts (#3051)
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Use alias
  python/langsmith/_openapi_client/resources/runs.py
  python/langsmith/_openapi_client/types/__init__.py
  python/langsmith/_openapi_client/types/run_query_params.py
  python/langsmith/_openapi_client/types/run_retrieve_params.py
Due: python-format, python-lint-ruff, python-mypy

feat(anonymizer): add GitLab/Slack-app/PyPI signatures + AWS prefixes
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Update generated code
  js/src/_openapi_client/client.ts
  js/src/_openapi_client/resources/index.ts
  js/src/_openapi_client/resources/runs/index.ts
  js/src/_openapi_client/resources/runs/runs.ts
  js/src/_openapi_client/resources/sandboxes/boxes.ts
Due: js-format, js-lint, js-typecheck

feat(anonymizer): curated secret-detection preset (createSecretAnonymizer) (#3059)
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(client): make secret redaction the default in both SDKs
  js/src/client.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): prefix unused apiKey params to satisfy noUnusedParameters
  js/src/tests/anonymizer.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): respect env hide flags over default anonymizer & guard undefined metadata
  js/src/client.ts
  js/src/tests/anonymizer.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): make secret anonymizer handle complex values
  js/src/anonymizer/index.ts
Due: js-format, js-lint, js-typecheck

perf: optimize secret redaction
  js/src/anonymizer/index.ts
  python/langsmith/anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: remove empty description from runtime-language block in bug_report.yaml
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

perf(anonymizer): optimize secret redaction pipeline (2-3× speedup)
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

perf(anonymizer): skip base64 blobs in secret redaction prefilter
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Reuse stored OpenAPI client instance for all resource accessors
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Add integration tests for v2 OpenAPI client resources
  js/src/tests/v2_resources.int.test.ts
  python/tests/integration_tests/test_v2_resources.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

Fix async_client OpenAPI init and harden integration tests for limited-permission keys
  js/src/tests/v2_resources.int.test.ts
  python/langsmith/async_client.py
  python/tests/integration_tests/test_v2_resources.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(python): move imports to top of test_replica_endpoints
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff

fix(python): allow-list fields accepted from baggage replica updates
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_endpoints.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): allow-list fields accepted from baggage replica updates (#3067)
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_endpoints.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.8.18 → 0.9.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Fix make format errors
  js/src/tests/v2_resources.int.test.ts
  python/langsmith/_internal/_beta_decorator.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_runs.py
  python/tests/integration_tests/test_v2_resources.py
  python/tests/integration_tests/wrappers/test_openai_agents.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(anonymizer): clarify createSecretAnonymizer covers inputs/outputs, not metadata
  js/src/anonymizer/index.ts
  python/langsmith/anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.9.0 (#3068)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
