Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

chore(py): bump Python SDK to 0.8.13 (#3012)
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore(py): bump Python SDK to 0.8.14
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat: add deepagent compatibility smoke tests to Python and JS CI [LSDK-214] (#2997)
  .github/workflows/ci.yml
  js/internal/environment_tests/docker-compose.yml
  js/internal/environment_tests/test-deepagent-compat/package.json
  js/internal/environment_tests/test-deepagent-compat/pnpm-lock.yaml
  js/internal/environment_tests/test-deepagent-compat/pnpm-workspace.yaml
  js/internal/environment_tests/test-deepagent-compat/src/index.ts
  python/tests/external/test_deepagent_compat.py
Due: python-format, python-lint-ruff

chore(py): bump Python SDK to 0.8.14 (#3013)
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

extract keys from wrapped evaluator function
  python/langsmith/evaluation/_runner.py
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

js feedback key resolution
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

chore(js): exclude generated _openapi_client from linters and type-checker
  js/.prettierignore
  js/package.json
  js/tsconfig.cjs.json
  js/tsconfig.json
Due: none

chore(js): exclude generated _openapi_client from linters and type-checker (#3015)
  js/.prettierignore
  js/package.json
  js/tsconfig.cjs.json
  js/tsconfig.json
Due: none

updating the client to have sdk exposed
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: protect JS openapi client in workflow
  .github/workflows/protect-openapi-client.yml
Due: none

chore: protect JS openapi client in workflow (#3017)
  .github/workflows/protect-openapi-client.yml
Due: none

adding tests
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

feat(py): add sync/async conversion for Sandbox and SandboxClient
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_sync_async_conversion.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): deliver output callbacks across stream reconnects
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_command_handle.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): deliver sandbox output callbacks across stream reconnects
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix(python): deliver sandbox output callbacks across stream reconnects
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_command_handle.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): add commandId to RunOptions
  js/src/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

chore: repoint support@langchain.dev mentions to the Support Portal
  .github/ISSUE_TEMPLATE/config.yml
  js/src/sandbox/errors.ts
  python/langsmith/sandbox/_exceptions.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): deliver sandbox output callbacks across stream reconnects (#3022)
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

chore(js): bump to 0.7.7; drop redundant comments
  js/package.json
  js/src/index.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
Due: js-format, js-lint, js-typecheck

chore(python): drop redundant comments
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): deliver sandbox output callbacks across stream reconnects (#3023)
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_command_handle.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

chore(py): bump Python SDK to 0.8.15
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump JS to 0.7.7 and Python to 0.8.15 (#3025)
  js/package.json
  js/src/index.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(py): add sync/async conversion for Sandbox and SandboxClient (#3019)
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_sync_async_conversion.py
Due: python-format, python-lint-ruff, python-mypy

refactor(evaluation): precompute evaluator feedback keys at construction
  python/langsmith/evaluation/_runner.py
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

refactor(evaluation): drop redundant comment in DynamicRunEvaluator.__init__
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

refactor(evaluation): extract feedback-key parser into _key_extraction module
  python/langsmith/evaluation/_key_extraction.py
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_key_extraction.py
Due: python-format, python-lint-ruff, python-mypy

refactor(evaluation): expose feedback_keys as a public property
  python/langsmith/evaluation/_runner.py
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

refactor(evaluation): make feedback_keys a polymorphic RunEvaluator property
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/evaluation/evaluator.py
  python/langsmith/evaluation/string_evaluator.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

Refactor/precompute evaluator feedback keys (#3026)
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_key_extraction.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/evaluation/evaluator.py
  python/langsmith/evaluation/string_evaluator.py
  python/tests/unit_tests/evaluation/test_key_extraction.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

client ts update
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

adding an integration test
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

runtree.create_child fix
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

instantiate once per client
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

extract a method to instantiate the client with proper auth headers
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

adding js integration test
  js/src/client.ts
  js/src/tests/client.int.test.ts
Due: js-format, js-lint, js-typecheck

fix(experiments): extract keys from wrapped evaluator function (#3014)
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_key_extraction.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/evaluation/evaluator.py
  python/langsmith/evaluation/string_evaluator.py
  python/tests/unit_tests/evaluation/test_key_extraction.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: repoint support@langchain.dev mentions to the Support Portal (#3024)
  .github/ISSUE_TEMPLATE/config.yml
  js/src/sandbox/errors.ts
  python/langsmith/sandbox/_exceptions.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
