Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

release(py): 0.14.2 (#3625)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.6
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat(js): add address() handle for agent addressing (#3604)
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

fix(evaluation): deduplicate statically extracted feedback keys
  python/langsmith/evaluation/_key_extraction.py
  python/tests/unit_tests/evaluation/test_key_extraction.py
Due: python-format, python-lint-ruff, python-mypy

chore(sandbox): drop the 429 retry comments
  js/src/sandbox/ws_execute.ts
  python/langsmith/sandbox/_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore(js): patch vulnerable development dependencies
  js/internal/environment_tests/test-exports-webpack/package.json
  js/internal/environment_tests/test-exports-webpack/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

chore(js): patch vulnerable development dependencies (#3628)
  js/internal/environment_tests/test-exports-webpack/package.json
  js/internal/environment_tests/test-exports-webpack/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

fix(sandbox): retry transient WebSocket failures before command start (#3621)
  js/src/tests/sandbox_ws_handshake.test.ts
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs: document safe takeover of external contributor PRs
  AGENTS.md
  CONTRIBUTING.md
Due: none

docs: document takeover of external contributor PRs (#3632)
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix(js): end traced runs when a returned ReadableStream errors
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.10.6 (#3626)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(js): end traced runs when a returned ReadableStream errors (#3633)
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

feat: send agent addressing as a typed address object
  js/src/address.ts
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/utils/agent_addressing.ts
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_operations.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: drop address-object comments
  js/src/schemas.ts
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): export gen_ai prompt/completion as str, not bytes
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix: update destination-fields test for the address object [CI]
  python/tests/unit_tests/test_operations.py
Due: python-format, python-lint-ruff

fix(py): decode serialized OTel payloads directly
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): export OTel prompt/completion as JSON strings (#3636)
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): resolve the full OTLP traces endpoint
  python/langsmith/_internal/otel/_otel_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): resolve OTLP base and trace-specific endpoints
  js/src/experimental/otel/exporter.ts
  js/src/tests/otel_exporter.test.ts
Due: js-format, js-lint, js-typecheck

fix: preserve legacy OTLP endpoints ending in /traces
  js/src/experimental/otel/exporter.ts
  js/src/tests/otel_exporter.test.ts
  python/langsmith/_internal/otel/_otel_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Attach sandbox IDs to active tracing metadata
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/service_url.ts
  js/src/sandbox/tracing.ts
  js/src/tests/sandbox_tracing.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tracing.py
  python/tests/unit_tests/sandbox/test_run_config_and_files.py
  python/tests/unit_tests/sandbox/test_tracing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: warn once when preserving legacy OTLP traces URLs
  js/src/experimental/otel/exporter.ts
  js/src/tests/otel_exporter.test.ts
  python/langsmith/_internal/otel/_otel_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): keep apply_to_payload idempotent when a batch is retried
  python/langsmith/_internal/_agent_addressing.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

feat: send agent addressing as a typed address object (#3635)
  js/src/address.ts
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/utils/agent_addressing.ts
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_operations.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): cover agent addressing on POST /runs and POST /runs/batch
  python/langsmith/_internal/_agent_addressing.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.14.3
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.7
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: cover the address object on single and patch runs
  js/src/tests/address.test.ts
  js/src/utils/agent_addressing.ts
  python/langsmith/_internal/_agent_addressing.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: drop the flat-field guard in apply_to_payload
  js/src/tests/address.test.ts
  js/src/utils/agent_addressing.ts
  python/langsmith/_internal/_agent_addressing.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.14.3 (#3646)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.7 (#3647)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(js): ensure that getDefaultProjectName() returns undefined when address is detected
  js/src/utils/project.ts
Due: js-format, js-lint, js-typecheck

Swallow exceptions
  js/src/utils/project.ts
Due: js-format, js-lint, js-typecheck

ci: request Open SWE investigation of nightly SDK failures
  .github/workflows/ci.yml
Due: none

ci: request Open SWE investigation of nightly SDK failures (#3649)
  .github/workflows/ci.yml
Due: none

ci: request bounded flaky nightly SDK reruns
  .github/workflows/ci.yml
Due: none

ci: limit flaky job reruns to one attempt
  .github/workflows/ci.yml
Due: none

refactor(python): take addresses as strings
  python/langsmith/__init__.py
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
