Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

Bump version: 0.6.9 → 0.7.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

add error handling for concurrent map on predict callsite
  js/src/evaluation/_runner.ts
Due: js-format, js-lint, js-typecheck

chore: Support jwt auth in replicas (#2293)
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_multiple_endpoints.py
  python/tests/unit_tests/test_replica_endpoints.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.0 (#2382)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.0 (#2381)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Convert JS release workflow to use OIDC
  .github/workflows/release_js.yml
Due: none

add tests for reording and concurrent map helpers
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

prettier
  js/src/utils/async_caller.ts
Due: js-format, js-lint, js-typecheck

fix(ci): Convert JS release workflow to use OIDC (#2383)
  .github/workflows/release_js.yml
Due: none

wip: improved validation for Client.list_feedback
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Refactor to use p-queue
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/utils/async_caller.ts
  js/src/utils/p-queue.ts
Due: js-format, js-lint, js-typecheck

Fix build and add tests
  js/src/tests/evaluate.int.test.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): run evaluations as examples complete (#2349)
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate.int.test.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/utils/async_caller.ts
  js/src/utils/p-queue.ts
Due: js-format, js-lint, js-typecheck

Restore default concurrency behavior for JS eval runner
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): Restore default concurrency behavior for JS eval runner (#2385)
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

Adds backcompat for old prompt cache API
  js/src/client.ts
  js/src/index.ts
  js/src/utils/prompt_cache/index.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/prompt_cache.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Readd old exports
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js,py): Adds backcompat for old prompt cache API (#2386)
  js/src/client.ts
  js/src/index.ts
  js/src/utils/prompt_cache/index.ts
  python/langsmith/__init__.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/prompt_cache.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix build
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

fix(js): Add system message visibility to Anthropic wrapper traces (#2375)
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

Bump version: 0.7.0 → 0.7.1
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.1
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.7.1 (#2388)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.1 (#2389)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Remove @internal
  js/src/utils/prompt_cache/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.2
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(js): Remove @internal (#2391)
  js/src/utils/prompt_cache/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.2 (#2392)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

chore: update dependabot.yml to comply with posture checks
  .github/dependabot.yml
Due: none

Google ADK LangSmith tracing enhancements
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
  python/langsmith/integrations/google_adk/_tools.py
Due: python-format, python-lint-ruff, python-mypy

Address PR Feedback
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
  python/langsmith/integrations/google_adk/_messages.py
Due: python-format, python-lint-ruff, python-mypy

final comment updates
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Delete python/langsmith/integrations/google_adk/_tools.py
  python/langsmith/integrations/google_adk/_tools.py
Due: python-format, python-lint-ruff, python-mypy

Google ADK LangSmith tracing enhancements (#2394)
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
  python/langsmith/integrations/google_adk/_messages.py
Due: python-format, python-lint-ruff, python-mypy

Bump version
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

update version
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Update .bumpversion.cfg
  python/.bumpversion.cfg
Due: none

Add compilation test to JS CI
  .github/workflows/ci.yml
  js/internal/environment_tests/docker-compose.yml
  js/internal/environment_tests/test-tsc-import/package.json
  js/internal/environment_tests/test-tsc-import/src/index.ts
  js/internal/environment_tests/test-tsc-import/tsconfig.json
  js/src/utils/prompt_cache/index.ts
Due: js-format, js-lint, js-typecheck

Antoher attempt
  js/internal/environment_tests/test-tsc-import/src/index.ts
Due: none

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
