Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(integrations): address review feedback on ADK Live plugin
  python/langsmith/integrations/google_adk_live/__init__.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_google_adk_live.py
Due: python-format, python-lint-ruff, python-mypy

chore(release): bump version to 0.9.6 to publish voice integrations
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat: expose OTel-safe metadata helpers
  python/langsmith/_internal/otel/_attribute_utils.py
  python/langsmith/_internal/otel/_otel_exporter.py
  python/langsmith/integrations/otel/__init__.py
  python/langsmith/integrations/otel/_utils.py
  python/langsmith/integrations/otel/processor.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix: update JS types for dependency bump
  js/src/tests/lcls_handoff.int.test.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

fix: load OpenAI prompt model in integration test
  js/src/tests/client.int.test.ts
Due: js-format, js-lint, js-typecheck

fix: keep LangChain dependency floor
  js/package.json
  js/pnpm-lock.yaml
  js/src/tests/client.int.test.ts
  js/src/tests/lcls_handoff.int.test.ts
Due: js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.6
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): bump to 0.7.15
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: remove duplicate opentelemetry-exporter-gcp-{trace,logging} and opentelemetry-resourcedetector-gcp entries in uv.lock
  python/uv.lock
Due: none

release(js): bump to 0.7.15 (#3150)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: remove duplicate opentelemetry-exporter-gcp entries breaking uv.lock (#3151)
  python/uv.lock
Due: none

release(python): bump py version to 0.9.6 (#3149)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): add Google ADK Live voice tracing integration (#3115)
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/google_adk_live/__init__.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): attribute voice traces via ls_integration metadata
  python/langsmith/_internal/_package_version.py
  python/langsmith/_internal/voice/helpers.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_openai_realtime.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): attribute voice traces via ls_integration metadata (#3144)
  python/langsmith/_internal/_package_version.py
  python/langsmith/_internal/voice/helpers.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_openai_realtime.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): standardize voice usage (audio detail, stt/tts duration & characters)
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): set ls_provider/ls_model_name on voice llm runs for cost
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_openai_realtime.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): set ls_provider/ls_model_name on voice llm runs for cost (#3145)
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_openai_realtime.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
Due: python-format, python-lint-ruff, python-mypy

chore(release): bump version to 0.9.7
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore(release): bump version to 0.9.7 (#3153)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

refactor(integrations): tighten OTel run-URL helper API per review
  python/langsmith/integrations/otel/__init__.py
  python/tests/unit_tests/test_otel_url.py
Due: python-format, python-lint-ruff, python-mypy

fix: default to 'latest' for prompt identifier with trailing colon
  python/langsmith/utils.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

Extends wrapAnthropic JS wrapper to support Claude Managed Agents methods
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_anthropic_managed_agents.test.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

Polish
  js/src/tests/wrapped_anthropic_managed_agents.test.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/tests/wrapped_anthropic_managed_agents.test.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

Audit and remove non-existent event types
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

Remove unnecessary `any`
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

Split to separate file
  js/src/wrappers/anthropic.managed.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

fix(client): remove projects accessor from Python and JS clients
  js/src/client.ts
  python/langsmith/client.py
  python/tests/integration_tests/test_projects.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Use session.agent.system in LLM child runs
  js/src/wrappers/anthropic.managed.ts
Due: js-format, js-lint, js-typecheck

Fix custom tool calls
  js/src/wrappers/anthropic.managed.ts
Due: js-format, js-lint, js-typecheck

feat(client): add aread_project async method
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Add snapshot tests from recorder for custom tools
  js/src/tests/test_data/anthropic_managed_custom_tools.jsonl
  js/src/tests/utils/tree.ts
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Fix invalid flush call
  js/src/wrappers/anthropic.managed.ts
Due: js-format, js-lint, js-typecheck

fix(client): route aread_project through aio_to_thread override hook
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(client): add integration test for aread_project
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

Add snapshot tests for built-in tools
  js/src/tests/test_data/anthropic_managed_builtin_tools.jsonl
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Rename
  js/src/wrappers/anthropic.ts
  js/src/wrappers/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

Add MCP tools snapshot
  js/src/tests/test_data/anthropic_managed_mcp_tools.jsonl
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
