Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(python): restore _get_openapi_base_url to strip /api/v1 before passing to OpenAPI client (#3202)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test: seed the evaluate dataset instead of cloning a prod public one
  python/tests/evaluation/test_evaluation.py
Due: python-format, python-lint-ruff

style: add trailing comma so ruff format passes
  python/tests/integration_tests/test_async_client.py
Due: python-format, python-lint-ruff

Fix test feedback
  python/tests/integration_tests/test_async_client.py
Due: python-format, python-lint-ruff

feat: require sessionID for feedback when ClickHouse unavailable
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: gate CI Success on the python integration matrix job
  .github/workflows/ci.yml
Due: none

ci: make -x configurable and rename v15-aks to v15
  .github/actions/python-integration-tests/action.yml
  .github/workflows/ci.yml
Due: none

ci: add an opt-in --bail knob to the JS integration and eval runs
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/workflows/ci.yml
Due: none

ci: share the environment selection between Python and JS
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/workflows/ci.yml
Due: none

refactor: hoist v2 migration imports and early-return in read_run
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(js): gate environment-specific integration tests and fix tree helper
  .github/actions/js-integration-tests/action.yml
  .github/workflows/ci.yml
  js/src/tests/client.int.test.ts
  js/src/tests/threads.int.test.ts
  js/src/tests/utils/markers.ts
  js/src/tests/utils/tree.ts
Due: js-format, js-lint, js-typecheck

Update python/langsmith/client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.11 (#3269)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: keep list_runs on ClickHouse backends, add get_query_backend tests
  python/langsmith/client.py
  python/tests/unit_tests/test_v2_migration_utils.py
Due: python-format, python-lint-ruff, python-mypy

Update comment/hint
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(js): make ingestion polling v2-aware and gate legacy-read tests
  js/src/tests/batch_client.int.test.ts
  js/src/tests/client.int.test.ts
  js/src/tests/evaluate.int.test.ts
  js/src/tests/lcls_handoff.int.test.ts
  js/src/tests/run_trees.int.test.ts
  js/src/tests/utils.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

test(js): resolve trace ids through the v2 read path
  js/src/tests/public_runs.int.test.ts
  js/src/tests/runs_share.int.test.ts
  js/src/tests/utils.ts
Due: js-format, js-lint, js-typecheck

chore(js,python): remove min backend version check
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/constants.ts
  python/langsmith/_internal/_backend_version.py
  python/langsmith/_internal/_constants.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(js): try the legacy read first in both fallback helpers
  js/src/tests/utils.ts
Due: js-format, js-lint, js-typecheck

Switch to param overloading in JS
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

fix: use the v2 read path only on SmithDB-only backends
  python/langsmith/beta/_evals.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

Restore eager parameter
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix: convert v2 runs in get_test_results so example joins work
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_v2_migration_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): raise WebSocket open timeout to 120s (#3280)
  js/src/sandbox/ws_execute.ts
  python/langsmith/sandbox/_tunnel.py
  python/langsmith/sandbox/_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): retry WebSocket connect failures instead of waiting longer (#3282)
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_command_id_retry.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

chore: deprecate run_ids in AsyncClient.add_runs_to_annotation_queue [LSDK-291] (#3206)
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

docs: link SmithDB migration guide from child-run errors
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: strip a trailing /api from the generated OpenAPI client base URL
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: migrate internal list_runs/read_run usages to SmithDB v2 API (#3262)
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/async_client.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/evaluation/_runner.py
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_runs.py
  python/tests/unit_tests/evaluation/test_runner.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_replica_endpoints.py
  python/tests/unit_tests/test_v2_migration_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): retry WebSocket connect failures in JS run() (#3283)
  js/src/sandbox/command_handle.ts
  js/src/sandbox/errors.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_command_id_retry.test.ts
Due: js-format, js-lint, js-typecheck

feat(js,python): check min backend version per resource
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/constants.ts
  python/langsmith/_internal/_backend_version.py
  python/langsmith/_internal/_constants.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.10.12 (#3285)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

test(js,python): align backend version check tests across SDKs
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

ci: rename v15 -> v16-ch-only and v16-smithdb -> v16-smithdb-only
  .github/workflows/ci.yml
Due: none

fix: stop stripping a bare trailing /v1 from the OpenAPI base URL
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: require sessionID for feedback when ClickHouse unavailable (#3274)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: test Python integration and evals on self-hosted environments (#3275)
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/actions/python-integration-tests/action.yml
  .github/workflows/ci.yml
  js/src/tests/batch_client.int.test.ts
  js/src/tests/client.int.test.ts
  js/src/tests/evaluate.int.test.ts
  js/src/tests/lcls_handoff.int.test.ts
  js/src/tests/public_runs.int.test.ts
  js/src/tests/run_trees.int.test.ts
  js/src/tests/runs_share.int.test.ts
  js/src/tests/threads.int.test.ts
  js/src/tests/utils.ts
  js/src/tests/utils/markers.ts
  js/src/tests/utils/tree.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
  python/Makefile
  python/pyproject.toml
  python/tests/evaluation/test_evaluation.py
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_runs.py
  python/tests/integration_tests/test_v2_datasets.py
  python/tests/integration_tests/test_v2_public_runs.py
  python/tests/integration_tests/test_v2_runs_share.py
  python/tests/integration_tests/test_v2_threads.py
  python/tests/integration_tests/test_v2_traces.py
  python/tests/integration_tests/wrappers/test_openai_agents.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

feat: expose annotation queue clients
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js): deprecate bare `uuid7(...)` footgun
  js/src/uuid.ts
Due: js-format, js-lint, js-typecheck

feat(python): trace raw Gemini Live sessions
  python/langsmith/integrations/gemini_live/__init__.py
  python/langsmith/integrations/gemini_live/_session.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_gemini_live.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy
