Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

release(py): 0.8.4
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.7.0
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.8.4 (#2889)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.7.0 (#2890)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(js): add alias for `experimental/sandbox` to appease broad peer dep range within `deepagents`
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/tsconfig.json
Due: none

Bump to 0.7.1
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Remove
  js/scripts/create-entrypoints.js
Due: none

Remove non-existent file
  js/.gitignore
  js/package.json
  js/tsconfig.json
Due: none

fix(js): add alias for `experimental/sandbox` to appease broad peer dep range within `deepagents` (#2893)
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/src/index.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

feat(js): add LANGSMITH_MULTIPART_STREAMING env var to disable multipart streaming in unsupported fetch runtimes
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

feat(js): allow disabling multipart streaming via env variable (#2900)
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

AI SDK telemetry
  js/package.json
  js/pnpm-lock.yaml
  js/src/experimental/vercel/index.ts
  js/src/experimental/vercel/middleware.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/wrap.ts
  js/src/tests/vercel/telemetry/anthropic.int.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

Move utils
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/utils.ts
  js/src/experimental/vercel/wrap.ts
Due: js-format, js-lint, js-typecheck

Adapt unit tests
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_runs.py
  python/tests/integration_tests/wrappers/test_openai_agents.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

Use canary override temporarily
  js/package.json
  js/pnpm-lock.yaml
  js/src/experimental/vercel/telemetry.ts
Due: js-format, js-lint, js-typecheck

Add guards
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/utils.ts
  js/src/experimental/vercel/wrap.ts
  js/src/utils/types.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.7.1
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.8.5
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

test(py): fix async sandbox ws header assertions
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
Due: python-format, python-lint-ruff

release(py): 0.8.5 (#2903)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

Clean up tests
  js/src/tests/utils/vitest_mock_client.ts
  js/src/tests/vercel/telemetry/anthropic.int.test.ts
  js/src/tests/vercel/telemetry/anthropic.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.int.test.ts
  js/src/tests/vercel/telemetry/openai.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Bump AI SDK dependent packages to canary as well
  js/package.json
  js/pnpm-lock.yaml
Due: none

Clean up openai test suite
  js/src/tests/vercel/telemetry/openai.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Remove helpers
  js/src/tests/vercel/telemetry/openai.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Remove unnecessary nesting
  js/src/tests/vercel/telemetry/anthropic.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.vitesttest.ts
Due: js-format, js-lint, js-typecheck

format
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

docs(py): add sandbox browser noVNC example
  python/examples/sandbox_chrome_novnc_playwright.py
Due: python-format, python-lint-ruff

Further cleanup
  js/src/tests/vercel/telemetry/openai.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Fix nesting, fix missing tool output
  js/src/experimental/vercel/telemetry.ts
  js/src/tests/vercel/telemetry/anthropic.vitesttest.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Remove console.dir
  js/src/tests/vercel/telemetry/openai.vitesttest.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): trace sandbox command execution
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): keep sandbox id out of command env
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): trace dataplane operations
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): trace JS dataplane operations
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

chore(sandbox): split JS tracing into separate PR
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

refactor(sandbox): use traceable for Python dataplane traces
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

refactor(sandbox): trace Python dataplane methods directly
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy
