Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix: report incomplete pytest suites accurately
  python/langsmith/pytest_plugin.py
  python/tests/unit_tests/test_pytest_plugin.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): support proxy rule env vars in the Python and JS helpers (#3394)
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(serde): collapse plain container cycles instead of raising
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: minimize incomplete pytest reporting
  python/langsmith/pytest_plugin.py
  python/tests/unit_tests/test_pytest_plugin.py
Due: python-format, python-lint-ruff, python-mypy

fix: finalize pytest setup outcomes
  python/langsmith/pytest_plugin.py
  python/tests/unit_tests/test_pytest_plugin.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): stop re-sending run inputs on patch by default (#3396)
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): default zstd compression to a single worker thread (#3395)
  python/langsmith/_internal/_compressed_traces.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): call pydantic core serializer directly, skip orjson key checks (#3367)
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.10.18 → 0.11.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.11
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.11.0 (#3400)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.11 (#3401)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py): count skipped and errored tests in --langsmith-output pass rate
  python/langsmith/pytest_plugin.py
  python/tests/unit_tests/test_pytest_plugin.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): prefer httpx2 with an httpx fallback [closes LSDK-448]
  python/Makefile
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_transport.py
  python/langsmith/utils.py
  python/pyproject.toml
  python/tests/httpx2_alias/sitecustomize.py
  python/tests/unit_tests/test_httpx_compat.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix: use reference outputs for example creation [closes LSE-2783]
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/schemas.py
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(py): tighten pytest plugin coverage
  python/tests/unit_tests/test_pytest_plugin.py
Due: python-format, python-lint-ruff

fix: preserve legacy output serialization
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Extract gateway headers and add to run metadata in tracing wrappers
  js/src/experimental/vercel/middleware.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/tests/gateway_metadata.vitesttest.ts
  js/src/wrappers/anthropic.ts
  js/src/wrappers/gemini.ts
  js/src/wrappers/generic.ts
  js/src/wrappers/openai.ts
  js/src/wrappers/utils/anthropic_managed.ts
  js/src/wrappers/utils/gateway_metadata.ts
  python/langsmith/wrappers/_anthropic.py
  python/langsmith/wrappers/_gateway.py
  python/langsmith/wrappers/_gemini.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_gateway_metadata.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Update
  js/src/tests/gateway_metadata.vitesttest.ts
  js/src/wrappers/gemini.ts
  js/src/wrappers/utils/gateway_metadata.ts
  python/langsmith/wrappers/_gateway.py
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_gateway_metadata.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: normalize sandbox websocket URLs
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

docs: Update sandbox README to document httpx/httpx2 caveat
  python/langsmith/sandbox/README.md
Due: none

Simplify wheel test
  python/Makefile
Due: none

Add `-httpx` or `-httpx2` suffinx to UserAgent for better o11y
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_httpx_compat.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): mask hosted MCP tool credentials in the OpenAI wrapper
  js/src/tests/wrapped_openai_mcp.test.ts
  js/src/wrappers/openai.ts
Due: js-format, js-lint, js-typecheck

fix(js): mask credentials in the Gemini wrapper config
  js/src/tests/wrapped_gemini_config.test.ts
  js/src/wrappers/gemini.ts
Due: js-format, js-lint, js-typecheck

fix(js): mask Claude Agent SDK option credentials in traces
  js/src/experimental/anthropic/index.ts
  js/src/tests/claude_agent_sdk_secrets.test.ts
Due: js-format, js-lint, js-typecheck

fix(py): mask credentials in the Gemini wrapper config
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): mask hosted MCP tool credentials in the OpenAI wrapper
  python/langsmith/_internal/_redaction.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): keep big ints exact through the anonymizer pre-pass
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test(py): compare decoded values in test_fallback_json_serialization
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

fix(py): drop values that cannot be read for redaction
  python/langsmith/_internal/_redaction.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): retry transient WebSocket upgrades in Python and JS (#3388)
  js/src/sandbox/errors.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  js/src/tests/sandbox_ws_handshake.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_command_id_retry.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(python): reuse main client for sandbox requests
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_transport.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_command_id_retry.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_transport.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): send langsmith-js User-Agent on generated client calls
  js/src/client.ts
  js/src/tests/client_headers.test.ts
Due: js-format, js-lint, js-typecheck

refactor(js): split generated-client auth from its default headers
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix(sandbox): resolve the workspace id in the Python sandbox clients
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor(js): make the generated client's auth and headers independent
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

refactor(js): keep one getter, renamed for what it now returns
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

refactor(js): reuse main client for sandbox requests
  js/src/client.ts
  js/src/sandbox/client.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/tests/client.test.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  js/src/tests/sandbox_reconnect_ack.test.ts
Due: js-format, js-lint, js-typecheck

fix: report incomplete pytest suites accurately (#3398)
  python/langsmith/pytest_plugin.py
  python/tests/unit_tests/test_pytest_plugin.py
Due: python-format, python-lint-ruff, python-mypy
