Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

release(js): 0.5.12
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.12 (#2602)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Add proper aggregation for AI SDK reasoning when streaming
  js/src/experimental/vercel/middleware.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Format
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.13
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Mock
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

feat(js): Add proper aggregation for AI SDK reasoning when streaming (#2606)
  js/src/experimental/vercel/middleware.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.13 (#2607)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat(python): add ttl feature for sandboxes
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add ttl feature for sandboxes (#2609)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): fix tracing of subagents for newer versions of @anthropic/claude-agent-sdk, harden null checks
  js/package.json
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/messages.ts
  js/src/tests/claude_agent_sdk.test.ts
  js/yarn.lock
Due: js-format, js-lint, js-typecheck

feat(js): fix tracing of subagents for newer versions of @anthropic/claude-agent-sdk, harden null checks (#2611)
  js/package.json
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/messages.ts
  js/src/tests/claude_agent_sdk.test.ts
  js/yarn.lock
Due: js-format, js-lint, js-typecheck

release(js): 0.5.14
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.14 (#2612)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat(js): add ttl feature for sandboxes
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/helpers.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

format
  js/src/experimental/sandbox/helpers.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): add ttl feature for sandboxes (#2617)
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/helpers.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.15
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: include model field in wrap_gemini js traced inputs (#2608)
  js/src/tests/wrapped_gemini.int.test.ts
  js/src/wrappers/gemini.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.15 (#2618)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat: Support headers arg in sandbox client
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tunnel.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

allow overriding headers at init time
  python/langsmith/sandbox/_client.py
Due: python-format, python-lint-ruff, python-mypy

cr
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

Spread invocation_params and ls_metadata extra fields into metadata
  js/src/run_trees.ts
  js/src/tests/client.int.test.ts
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

adds test
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Docs: clarify feedback_config behavior in EvaluationResult
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

feat(openai-agents): populate ls_invocation_params for playground compatibility
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_utils.py
Due: python-format, python-lint-ruff, python-mypy

chore: support aws saas cluster
  js/src/client.ts
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: support aws saas cluster (#2628)
  js/src/client.ts
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): Fix broken ci integration tests
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

cr
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: AWS host url match (#2631)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(python): Support headers arg in sandbox client (#2619)
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tunnel.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

cr
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): Release 0.7.23
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

cr
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): Release 0.7.23 (#2632)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Switch to pnpm, use minimumReleaseAge
  js/.gitignore
  js/Makefile
  js/README.md
  js/internal/environment_tests/docker-compose.yml
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
  js/yarn.lock
Due: none

Update lockfiles
  js/internal/environment_tests/test-exports-esbuild/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-esbuild/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-esbuild/yarn.lock
  js/internal/environment_tests/test-exports-metro/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-metro/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-metro/yarn.lock
  js/internal/environment_tests/test-exports-vite/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-vite/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-vite/yarn.lock
  js/internal/environment_tests/test-exports-webpack/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-webpack/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-webpack/yarn.lock
Due: none

Fixup
  js/package.json
  js/pnpm-lock.yaml
Due: none

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
