Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(py): don't swallow KeyboardInterrupt/SystemExit in serde (#3358)
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): serialize pydantic models in mode="python" + keep utf-8 bytes readable
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

assert pydantic serialization via the prod dumps_json function
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): collapse redundant attribute lookups in _serialize_json probe loop
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Improve test
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

perf(py): collapse redundant attribute lookups in _serialize_json probe loop (#3362)
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): call the pydantic core serializer directly, skip orjson key checks
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat: support tags when creating datasets and experiments (#3334)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.10.18
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.10
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.8.10 (#3370)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.10.18 (#3369)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

security(python): update aiohttp and cryptography (#3365)
  python/uv.lock
Due: none

security: update vulnerable JavaScript dependencies (#3292)
  js/package.json
  js/pnpm-lock.yaml
Due: none

Fix JS Dependabot alerts (#3272)
  js/package.json
  js/pnpm-lock.yaml
Due: none

fix(py): mask MCP server credentials in Anthropic wrapper traces
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): mask MCP server credentials in Anthropic wrapper traces
  js/src/tests/wrapped_anthropic_mcp.test.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

fix(py): mask MCP server credentials in Anthropic wrapper traces (#3371)
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): mask MCP server credentials in Anthropic wrapper traces (#3372)
  js/src/tests/wrapped_anthropic_mcp.test.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

fix(py): stop recording mcp_servers in Anthropic run metadata
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): stop recording mcp_servers in Anthropic run metadata (#3375)
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(claude_agent_sdk): keep cache_creation_input_tokens authoritative
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_usage.py
Due: python-format, python-lint-ruff, python-mypy

test(py): pin multipart ingest retry matrix and drop warning
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff

fix(py): keep orjson's non-str key coercion in the fallback
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): close the argument-shape bypass in Anthropic MCP redaction
  js/src/tests/wrapped_anthropic_mcp.test.ts
  js/src/utils/redaction.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

fix(py,js): mask hosted MCP tool credentials in the OpenAI wrappers
  js/src/tests/wrapped_openai_mcp.test.ts
  js/src/wrappers/openai.ts
  python/langsmith/_internal/_redaction.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): add Context Hub mount helpers (#3351)
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_mounts.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): default Dockerfile snapshot capacity
  js/src/sandbox/client.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: run the full CI nightly against every environment (#3338)
  .github/workflows/ci.yml
Due: none

fix: default Dockerfile snapshot capacity (#3383)
  js/src/sandbox/client.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): mask hosted MCP tool credentials in the OpenAI wrapper
  python/langsmith/_internal/_redaction.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): mask credentials in the Gemini wrapper config
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): mask credentials in traced voice event payloads
  python/langsmith/_internal/voice/helpers.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): preserve integer precision above 2**64 in dumps_json fallback
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(ci): stop uv run from resyncing the deepagent compat env
  .github/workflows/ci.yml
Due: none

fix(ci): stop uv run from resyncing the deepagent compat env (#3397)
  .github/workflows/ci.yml
Due: none

perf(py): default zstd compression to a single worker thread
  python/langsmith/_internal/_compressed_traces.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): stop re-sending run inputs on patch by default
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
