Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

chore: js to 0.7.11
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(python): declare anyio, distro, sniffio, typing_extensions as runtime deps
  python/pyproject.toml
Due: none

fix(python): add comment explaining _openapi_client runtime deps
  python/pyproject.toml
Due: none

ci(python): add wheel import check against declared deps only
  .github/workflows/ci.yml
  python/Makefile
Due: none

rename for parity
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/_internal/_operations.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

allow multipart
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

honor feedback retention opt-out on sync create_feedback
  python/langsmith/_internal/_operations.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
Due: python-format, python-lint-ruff, python-mypy

feat: updating create feedback to add opt out for trace retention (#3047)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/_internal/_operations.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): declare missing runtime deps for _openapi_client (#3070)
  .github/workflows/ci.yml
  python/Makefile
  python/pyproject.toml
Due: none

Use async openapi client in client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_v2_resources.py
Due: python-format, python-lint-ruff, python-mypy

Fix linter
  js/src/tests/v2_resources.int.test.ts
Due: js-format, js-lint, js-typecheck

feat: add add_runs_to_annotation_queue_by_key (SmithDB by-key endpoint)
  js/src/client.ts
  js/src/tests/client.int.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: bumb py version to 0.9.1
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

bump js sdk version
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.1 (#3078)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Update generated client
  js/src/_openapi_client/client.ts
  js/src/_openapi_client/resources/datasets/runs.ts
  js/src/_openapi_client/resources/index.ts
  js/src/_openapi_client/resources/runs/index.ts
  js/src/_openapi_client/resources/runs/rules.ts
  js/src/_openapi_client/resources/runs/runs.ts
  python/langsmith/_openapi_client/types/runs/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(js): bump js sdk version to 0.7.11 (#3079)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

perf(anonymizer): skip base64 blobs in createSecretAnonymizer
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Remove protect-stainless-generated workflow
  .github/workflows/protect-stainless-generated.yml
Due: none

Remove some deprecated markers
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Add deprecation warning on JS methods
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

Move TS integration tests
  js/src/tests/client.test.ts
  js/src/tests/v2_resources.int.test.ts
Due: js-format, js-lint, js-typecheck

Remove deprecation warning
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: restore _check_backend_version re-export, drop unused deprecated imports, fix AsyncMock headers, move v2 tests to int suite [CI]
  js/src/tests/client.int.test.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Add back check backend version
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: remove _get_openapi_base_url import/test, fix mock targets in unit tests [CI]
  python/tests/unit_tests/test_client.py
  python/uv.lock
Due: python-format, python-lint-ruff

fix(tests): fix AsyncPaginator not iterable and JS query timing
  js/src/tests/client.int.test.ts
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

test: revert existing tests to use list_runs/read_run, keep only new v2 method tests
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

test: restore deprecation warning tests removed erroneously
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

chore(js): bump AI SDK 7 to beta
  js/package.json
  js/pnpm-lock.yaml
Due: none

test: revert runs.* usage in existing openai_agents and async_client int tests
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/wrappers/test_openai_agents.py
Due: python-format, python-lint-ruff

refactor: co-locate v2 resource accessors under Stainless comment block
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

chore(js): bump AI SDK 7 to beta (#3085)
  js/package.json
  js/pnpm-lock.yaml
Due: none

fix: use sync Langsmith client for online_evaluators in sync Client [CI]
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: update online_evaluators unit test to patch SyncLangsmithOpenAPIClient, add retry to test_runs_retrieve [CI]
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix: use async LangsmithOpenAPIClient for online_evaluators in sync Client, make integration test async [CI]
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix prompt overview
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/tests/hub_manifest.test.ts
  js/src/utils/hub_manifest.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: colocate hub prompt wrap helper and simplify tests
  js/src/tests/client.test.ts
  js/src/tests/hub_manifest.test.ts
  js/src/utils/hub_manifest.ts
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_hub_manifest.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): use current project issues endpoint
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy
