Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

test(py): expect untraced calls for a bad env, and level precedence
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

refactor(python)!: drop the loose agent_id / agent_environment fields
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_operations.py
  python/langsmith/_target.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): drop the loose-fields example
  examples/target_addressing/9_loose_fields.py
  examples/target_addressing/README.md
Due: none

test(py): address integration tests with target=
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

refactor(python): rename Target.id to agent_id (LANGSMITH_TARGET_AGENT_ID)
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_target.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): LANGSMITH_TARGET_AGENT_ID
  examples/target_addressing/6_env_vars.py
Due: none

test(py): LANGSMITH_TARGET_AGENT_ID
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

test(py): restore test_trace_file_path to main's version
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

fix(py): select s3_urls so list_runs and list_threads return attachments
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): select s3_urls so list_runs and list_threads return attachments (#3590)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): fix missing OTel exports for tool_call_id and tool_definitions
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): fix missing OTel exports for tool_call_id and tool_definitions (#3584)
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): give LANGSMITH_AGENT_ID precedence over LANGSMITH_PROJECT
  python/langsmith/_internal/_agent_addressing.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): address review of target resolution
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_target.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): keep configure's precedence, drop the legacy-key guard
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): LANGSMITH_AGENT_ID / LANGSMITH_AGENT_ENVIRONMENT
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_target.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): agent_environment / LANGSMITH_AGENT_* names
  examples/target_addressing/1_tracing_context.py
  examples/target_addressing/2_distributed_parent.py
  examples/target_addressing/3_langsmith_extra.py
  examples/target_addressing/4_traceable.py
  examples/target_addressing/5_configure.py
  examples/target_addressing/6_env_vars.py
  examples/target_addressing/7_inheritance.py
  examples/target_addressing/8_replicas.py
Due: none

docs(examples): agent_region in README
  examples/target_addressing/README.md
Due: none

test(py): agent_environment / LANGSMITH_AGENT_* names
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

fix(js): missing OTel exports for tool name, call_id and definitions
  js/src/experimental/otel/constants.ts
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_translator.vitesttest.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): verify service URL user tokens and proxy callbacks
  js/src/sandbox/README.md
  js/src/sandbox/errors.ts
  js/src/sandbox/index.ts
  js/src/sandbox/verify.ts
  js/src/tests/sandbox_verify.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_verify.py
  python/pyproject.toml
  python/tests/unit_tests/sandbox/test_verify.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): make callback url optional in verify_callback
  js/src/sandbox/README.md
  js/src/sandbox/verify.ts
  js/src/tests/sandbox_verify.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_verify.py
  python/tests/unit_tests/sandbox/test_verify.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(sandbox): unsigned user headers are trustworthy inside a sandbox
  js/src/sandbox/README.md
  js/src/sandbox/verify.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_verify.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(sandbox): note tunnel and localhost bypass of user header stripping
  js/src/sandbox/README.md
  python/langsmith/sandbox/README.md
Due: none

feat(sandbox): take aud (string or predicate) instead of url in verify_callback
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/verify.ts
  js/src/tests/sandbox_verify.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_verify.py
  python/tests/unit_tests/sandbox/test_verify.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(python): rename Target to Address, drop **dimensions
  python/langsmith/__init__.py
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): agent_region parameter on ls.address
  python/langsmith/_address.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): type RunLikeDict / FeedbackCreate address as Address
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): rename to Address, examples/addressing
  examples/addressing/1_tracing_context.py
  examples/addressing/2_distributed_parent.py
  examples/addressing/3_langsmith_extra.py
  examples/addressing/4_traceable.py
  examples/addressing/5_configure.py
  examples/addressing/6_env_vars.py
  examples/addressing/7_inheritance.py
  examples/addressing/8_replicas.py
  examples/addressing/README.md
Due: none

test(py): address integration tests with ls.address
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

fix(python): keep configure's address, nested trace context, header parents
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): header destination outranks the receiver's, as on main
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix: take a traceable child's address from its parent instead of resolving [CI]
  python/langsmith/run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

test(py): delete unit tests for the removed beta agent addressing [CI]
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff

fix(python): catch a bad env for create_run(session_name=None)
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): configure(project_name=None) also clears the address
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): reject a header parent naming both a project and an address
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

test(py): skip the agent addressing integration suite for now
  python/tests/integration_tests/agent_addressing/conftest.py
Due: python-format, python-lint-ruff

test(py): cover addressing runs with Address
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff

test(py): run the agent addressing integration suite again
  python/tests/integration_tests/agent_addressing/conftest.py
Due: python-format, python-lint-ruff

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
