Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

chore: bump vers
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump py ver (#2501)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: bump minimatch to resolve CVE-2026-27903
  js/internal/environment_tests/test-exports-metro/yarn.lock
  js/yarn.lock
Due: none

fix: update deprecated model and re-record VCR cassettes
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_prepopulated_invocation_params.yaml
  python/tests/integration_tests/cassettes/test_anthropic_with_raw_response_test_messages_with_raw_response_async.yaml
  python/tests/integration_tests/cassettes/test_anthropic_with_raw_response_test_messages_with_raw_response_sync.yaml
  python/tests/integration_tests/cassettes/test_openai_test_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_completions_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_completions_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_tokens.yaml
  python/tests/integration_tests/cassettes/test_openai_test_prepopulated_invocation_params.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_stream_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_stream_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_tool_call_chunking.yaml
  python/tests/integration_tests/cassettes/test_openai_test_wrap_openai_chat_async_tokens.yaml
  python/tests/integration_tests/cassettes/test_openai_test_wrap_openai_chat_tokens.yaml
  python/tests/integration_tests/wrappers/test_anthropic_with_raw_response.py
Due: python-format, python-lint-ruff

fix: re-record OpenAI cassettes with clean state
  python/tests/integration_tests/cassettes/test_openai_agents_test_openai_agents_tracing_processor.yaml
  python/tests/integration_tests/cassettes/test_openai_test_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_completions_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_completions_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_tokens.yaml
  python/tests/integration_tests/cassettes/test_openai_test_prepopulated_invocation_params.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_stream_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_stream_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_tool_call_chunking.yaml
  python/tests/integration_tests/cassettes/test_openai_test_wrap_openai_chat_async_tokens.yaml
  python/tests/integration_tests/cassettes/test_openai_test_wrap_openai_chat_tokens.yaml
Due: none

fix: restore openai agents cassette accidentally deleted
  python/tests/integration_tests/cassettes/test_openai_agents_test_openai_agents_tracing_processor.yaml
Due: none

fix: update deprecated model and re-record VCR cassettes (#2503)
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_prepopulated_invocation_params.yaml
  python/tests/integration_tests/cassettes/test_anthropic_with_raw_response_test_messages_with_raw_response_async.yaml
  python/tests/integration_tests/cassettes/test_anthropic_with_raw_response_test_messages_with_raw_response_sync.yaml
  python/tests/integration_tests/cassettes/test_openai_test_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_completions_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_completions_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_parse_tokens.yaml
  python/tests/integration_tests/cassettes/test_openai_test_prepopulated_invocation_params.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_stream_async_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_stream_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_responses_sync_api.yaml
  python/tests/integration_tests/cassettes/test_openai_test_tool_call_chunking.yaml
  python/tests/integration_tests/cassettes/test_openai_test_wrap_openai_chat_async_tokens.yaml
  python/tests/integration_tests/cassettes/test_openai_test_wrap_openai_chat_tokens.yaml
  python/tests/integration_tests/wrappers/test_anthropic_with_raw_response.py
Due: python-format, python-lint-ruff

fix: restore separate yarn.lock entries for aliased packages
  js/yarn.lock
Due: none

chore(go): add go.mod file for module management
  go/go.mod
Due: none

feat(langsmith): add error handling for invalid SDK configuration
  go/langsmith/errors.go
Due: none

feat(auth): add Credentials struct for API authentication
  go/langsmith/auth/credentials.go
Due: none

feat(auth): add Resolver interface for credential resolution
  go/langsmith/auth/resolver.go
Due: none

feat(auth): implement StaticResolver for fixed credential resolution
  go/langsmith/auth/static_resolver.go
Due: none

feat(transport): add Request and Response structs for transport-level communication
  go/langsmith/transport/request.go
Due: none

feat(transport): add RetryPolicy struct for managing retry behavior on transient failures
  go/langsmith/transport/retry.go
Due: none

feat(transport): implement cursor-based and offset-based pagination structures
  go/langsmith/transport/pagination.go
Due: none

chore(go): update module path from langchain-ai to vishnu-ssuresh
  go/go.mod
Due: none

feat(transport): add transport client implementation with options for configuration
  go/langsmith/transport/client.go
Due: none

feat(langsmith): introduce SDK client with configuration options and request handling
  go/langsmith/client.go
  go/langsmith/transport/client.go
Due: none

feat(transport): implement HTTP request execution in client with credential handling and error checks
  go/langsmith/transport/client.go
Due: none

test(transport): add comprehensive tests for HTTP client request handling, including validation, retries, and error scenarios
  go/langsmith/transport/client.go
  go/langsmith/transport/client_test.go
Due: none

Fix docs: correct JavaScript spelling and remove apostrophe from plural SDKs
  README.md
Due: none

feat: add ls_invocation_params in claude agents sdk
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sdk): use GET /datasets/:dataset/examples endpoint in list examples methods
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sdk): use /v1/platform prefix for dataset examples endpoint
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style(python): ruff format fix
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(python): update FakeRequest mock to handle new examples endpoint
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff

feat(sdk): gate new examples endpoint on server version >= 0.13.18
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sdk): add version gate to JS client and extract version constant
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

wip pr for getting insights
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

fix: memory leak in _cached_attachment_args when tracing closures
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

ruff
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

refactor to use weakref.WeakKeyDictionary
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

ruff
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff

fix: memory leak in _cached_attachment_args when tracing closures (#2515)
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.9 → 0.7.10
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

add tests
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff, python-mypy

fix python lint
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff

Bump version: 0.7.9 → 0.7.10 (#2516)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy
