Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

format
  js/src/client.ts
  js/src/tests/failed_traces.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

testing improvements
  js/src/tests/failed_traces.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

resolve webpack/metro issues
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

cleanup code
  js/src/client.ts
  js/src/tests/failed_traces.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(ci): replace mistakenly pinned Node 22.4.1 with 22.x
  .github/workflows/ci.yml
Due: none

fix(ci): replace mistakenly pinned NODE_VERSION 22.4.1 with 22.x
  .github/workflows/ci.yml
Due: none

fix metro/web builds
  js/package.json
  js/src/client.ts
  js/src/utils/trace_dump/fs.browser.ts
  js/src/utils/trace_dump/fs.ts
Due: js-format, js-lint, js-typecheck

rm cassete
  python/tests/integration_tests/cassettes/test_openai_agents_test_concurrent_agent_runs_no_trace_loss.yaml
Due: none

poc(integration/claude-agent-sdk): build run-root messages key
  python/langsmith/client.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
Due: python-format, python-lint-ruff, python-mypy

rename messages key
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff, python-mypy

chore: remove py async client changes
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): generate example_id during test case creation
  python/langsmith/testing/_internal.py
Due: python-format, python-lint-ruff, python-mypy

chore: remove pagination func
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: address comments
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: added integration tests for threads querying
  js/src/tests/client.int.test.ts
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: lint
  js/src/tests/client.int.test.ts
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

comments
  js/src/client.ts
  js/src/tests/failed_traces.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

put all messages in inputs until the final message
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

tests all pass for new behavior
  python/tests/unit_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

lints
  python/tests/unit_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

Fix list commits endpoint for private prompts
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

Beef up error messages
  js/src/tests/client.test.ts
  js/src/utils/error.ts
  js/src/utils/prompts.ts
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: update var name
  js/src/client.ts
  js/src/tests/client.int.test.ts
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): Fix list commits endpoint for private prompts (#2479)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/error.ts
  js/src/utils/prompts.ts
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

comments
  js/package.json
  js/src/client.ts
  js/src/utils/fs.browser.ts
  js/src/utils/fs.ts
  js/src/utils/prompt_cache/fs.ts
  js/src/utils/trace_dump/fs.browser.ts
  js/src/utils/trace_dump/fs.ts
Due: js-format, js-lint, js-typecheck

rm prompt_cache
  js/package.json
  js/src/utils/prompt_cache/fs.browser.ts
Due: js-format, js-lint, js-typecheck

rm prompt_cache fs.ts
  js/src/utils/prompt_cache/fs.ts
  js/src/utils/prompt_cache/index.ts
Due: js-format, js-lint, js-typecheck

nit
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: persist failed trace payloads to disk for later replay (#2476)
  js/package.json
  js/src/client.ts
  js/src/tests/failed_traces.test.ts
  js/src/utils/fs.browser.ts
  js/src/utils/fs.ts
  js/src/utils/prompt_cache/fs.browser.ts
  js/src/utils/prompt_cache/fs.ts
  js/src/utils/prompt_cache/index.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: add raw response parsing for responses api to openai wrapper
  python/langsmith/wrappers/_openai.py
  python/tests/integration_tests/cassettes/test_with_raw_response_test_responses_with_raw_response_async.yaml
  python/tests/integration_tests/cassettes/test_with_raw_response_test_responses_with_raw_response_sync.yaml
  python/tests/integration_tests/wrappers/test_with_raw_response.py
Due: python-format, python-lint-ruff, python-mypy

fix: add integration and version num
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

reformat
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

two js agent framerosk
  js/src/experimental/anthropic/index.ts
  js/src/experimental/vercel/index.ts
Due: js-format, js-lint, js-typecheck

yarn format
  js/src/experimental/anthropic/index.ts
  js/src/experimental/vercel/index.ts
Due: js-format, js-lint, js-typecheck

adds lru_cache
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

lint
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

feat: add native thread querying support (#2455)
  js/src/client.ts
  js/src/tests/client.int.test.ts
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: add raw response parsing for responses api to openai wrapper (#2480)
  python/langsmith/wrappers/_openai.py
  python/tests/integration_tests/cassettes/test_with_raw_response_test_responses_with_raw_response_async.yaml
  python/tests/integration_tests/cassettes/test_with_raw_response_test_responses_with_raw_response_sync.yaml
  python/tests/integration_tests/wrappers/test_with_raw_response.py
Due: python-format, python-lint-ruff, python-mypy

add tests
  js/src/tests/claude_agent_sdk.test.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
