Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

chore(js): remove templates, pools, and volumes from sandbox SDK
  .pre-commit-config.yaml
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/errors.ts
  js/src/experimental/sandbox/helpers.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(js-sandbox): document capture persistence, drop unusable checkpoint kwarg
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

sandbox[python]: document capture persistence, drop unusable checkpoint kwarg
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

chore: ignore .worktrees/ directory
  .gitignore
Due: none

perf(schemas): defer Example.model_rebuild() to first use
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

Revert "perf(schemas): defer Example.model_rebuild() to first use"
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

perf(run_trees): defer langsmith.client import to call time
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

test(python): add exists coverage and remove client entry cap
  python/langsmith/context.py
  python/tests/integration_tests/test_context.py
  python/tests/integration_tests/test_context_async.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

test(js): add Context integration test to js impl PR
  js/src/tests/context.int.test.ts
Due: js-format, js-lint, js-typecheck

test(js): add exists coverage and remove client entry cap
  js/src/client.ts
  js/src/tests/context.int.test.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

refactor(js): address Context review feedback
  js/src/client.ts
  js/src/tests/context.test.ts
  js/src/utils/error.ts
Due: js-format, js-lint, js-typecheck

feat(js): add agent/skill hub methods on Client with unit tests
  js/src/client.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

perf(schemas): add defer_build=True to all Pydantic models
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

style(js): format client.ts to reduce diff noise
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix(js/sandbox): clone Response before consuming body in error handlers (#2760)
  js/src/experimental/sandbox/helpers.ts
  js/src/tests/sandbox_error_handling.test.ts
Due: js-format, js-lint, js-typecheck

Adds OpenAI Agents JS SDK wrapper
  js/.gitignore
  js/package.json
  js/pnpm-lock.yaml
  js/scripts/create-entrypoints.js
  js/src/tests/openai_agents_sdk.int.test.ts
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

Fix for traceables within tools
  js/src/tests/openai_agents_sdk.int.test.ts
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
Due: js-format, js-lint, js-typecheck

test(python): cover tools.json context files
  python/tests/integration_tests/test_context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff

chore: tracing offload
  python/langsmith/_internal/_aiter.py
  python/langsmith/tracing_offload.py
  python/tests/unit_tests/test_tracing_offload.py
Due: python-format, python-lint-ruff, python-mypy

Fix types
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
Due: js-format, js-lint, js-typecheck

Fix test
  js/src/tests/openai_agents_sdk.test.ts
Due: js-format, js-lint, js-typecheck

Fix lint
  js/src/tests/openai_agents_sdk.test.ts
Due: js-format, js-lint, js-typecheck

Fix build
  js/src/tests/openai_agents_sdk.test.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/wrappers/openai_agents.ts
Due: js-format, js-lint, js-typecheck

other
  python/langsmith/_internal/_aiter.py
  python/langsmith/aio.py
  python/langsmith/tracing_offload.py
  python/tests/unit_tests/test_aio.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_tracing_offload.py
Due: python-format, python-lint-ruff, python-mypy

Fix unit test
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
Due: js-format, js-lint, js-typecheck

Fix test
  js/src/tests/openai_agents_sdk.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): Adds OpenAI Agents JS SDK wrapper (#2763)
  js/.gitignore
  js/package.json
  js/pnpm-lock.yaml
  js/scripts/create-entrypoints.js
  js/src/tests/openai_agents_sdk.int.test.ts
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

Adds runtime overrides for updating internal methods
  python/langsmith/__init__.py
  python/langsmith/_internal/_aiter.py
  python/langsmith/_runtime_overrides.py
  python/tests/unit_tests/test_runtime_overrides.py
Due: python-format, python-lint-ruff, python-mypy

fix: coerce pydantic basemodel inputs/outputs in runtree
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

update
  python/langsmith/_internal/_aiter.py
  python/langsmith/_runtime_overrides.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_runtime_overrides.py
Due: python-format, python-lint-ruff, python-mypy

fix(run-trees): coerce Pydantic BaseModel to dict in RunTree inputs/outputs
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): remove templates, pools, and volumes (#2757)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_exceptions.py
  python/tests/unit_tests/sandbox/test_models.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_tunnel.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

feat(python-sandbox): support snapshot_name on create, add list_snapshots filters
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

sandbox[python]: clarify list_snapshots pagination caveats
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(python-sandbox): support snapshot_name and list filters (#2769)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

chore(js): remove templates, pools, and volumes from sandbox SDK (#2758)
  .pre-commit-config.yaml
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/errors.ts
  js/src/experimental/sandbox/helpers.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_error_handling.test.ts
Due: js-format, js-lint, js-typecheck

sandbox[js]: clarify listSnapshots pagination caveats
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

feat(js-sandbox): support snapshotName on create, add listSnapshots filters
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
