Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

docs(py): name the values the endpoint accepts for the agent fields
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): support AWS IAM roles in Python and JavaScript helpers (#3536)
  js/src/sandbox/mounts.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox_aws_role_auth.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_aws_role_auth.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): run_config, stdin EOF, and native file search/range ops (#3522)
  js/src/sandbox/client.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/helpers.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_run_config_and_files.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_run_config_and_files.py
  python/tests/unit_tests/sandbox/test_sync_async_conversion.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Don't relocate a trace when the agent and a project are both configured
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Address `@traceable` runs by agent the same way every other entry point does
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Take an agent everywhere an ingest entry point takes a project
  python/langsmith/_internal/_context.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): add disableEvaluatorTracing option to evaluate() (#3549)
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

fix(py): let an agent named in code beat a project in the environment
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): address feedback parts by agent
  python/langsmith/_internal/_operations.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): stream commands over the SSE exec API behind a feature flag
  python/langsmith/_features.py
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_sse_execute.py
  python/pyproject.toml
  python/tests/integration_tests/test_sandbox_sse_exec.py
  python/tests/unit_tests/sandbox/_sse_fixtures.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_run_config_and_files.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_sse_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

docs(sandbox): leave the experimental SSE exec transport undocumented
  python/langsmith/sandbox/README.md
Due: none

revert(sandbox): keep websockets a core dependency
  python/langsmith/sandbox/README.md
  python/pyproject.toml
  python/uv.lock
Due: none

refactor: share sandbox operations through inline effects
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_client_effects.py
  python/langsmith/sandbox/_effects.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_sandbox_effects.py
  python/tests/unit_tests/sandbox/test_effects.py
Due: python-format, python-lint-ruff, python-mypy

test(sandbox): make the SSE exec e2e tests opt-in
  python/tests/integration_tests/test_sandbox_sse_exec.py
Due: python-format, python-lint-ruff

refactor: deduplicate sandbox search and lifecycle effects
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_client_effects.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_sandbox_effects.py
Due: python-format, python-lint-ruff, python-mypy

test(py): cover the agent rollout gate being off
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): match the real 403 body in the rollout-gate stub
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): spell out each expected rejection where it is read
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): cover @traceable agent addressing
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

test(py): assert which rejection the endpoint answered with
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): drive the rollout-gate test through @traceable
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): cover agent addressing end to end
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/__init__.py
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
Due: python-format, python-lint-ruff

fix(sandbox): flush a split character at stream end, and bound resume retries
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sse_execute.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_sse_execute.py
Due: python-format, python-lint-ruff, python-mypy

refactor: consolidate effect request handling and polling
  python/langsmith/sandbox/_client_effects.py
  python/langsmith/sandbox/_sandbox_effects.py
Due: python-format, python-lint-ruff, python-mypy

docs: remove internal effects documentation from README
  python/langsmith/sandbox/README.md
Due: none

test(py): follow the SDK fixes and the dev agents API
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

feat(sandbox): stream commands over the SSE exec API behind a feature flag (#3553)
  python/langsmith/_features.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_sse_execute.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/integration_tests/test_sandbox_sse_exec.py
  python/tests/unit_tests/sandbox/_sse_fixtures.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_run_config_and_files.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_sse_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.13.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): address runs by agent through the project slot
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py): read the agent address from LANGSMITH_ only
  python/langsmith/env/_runtime_env.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): trim the agent-address comments
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

feat(client): log source of API URL resolution for better debugging
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test(py): cover feedback and evaluate under agent addressing
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

fix(py): complete a half-named agent pair on batch creates [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): warn once when a run is actually addressed to an agent [CI]
  python/langsmith/client.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(client): enhance API URL logging with source details in debug mode
  js/src/client.ts
  js/src/tests/client.test.ts
  js/tsconfig.json
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix(tsconfig): format types array for consistency
  js/tsconfig.json
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py,js): log which source the client resolved its API URL from (#3557)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.13.0 (#3555)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat: add `stop_reason` and `id` to Anthropic outputs
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
