Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat(js/sandbox): add snapshot API and start/stop lifecycle
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

fix: address PR review feedback
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

fix: remove redundant 404 handling from listSnapshots and deleteSnapshot
  js/src/experimental/sandbox/client.ts
Due: js-format, js-lint, js-typecheck

style: run prettier
  js/src/experimental/sandbox/client.ts
Due: js-format, js-lint, js-typecheck

test(js/sandbox): add tests for snapshot CRUD, start/stop, and snapshot-based sandbox creation
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

docs: update threat model per review feedback
  .github/THREAT_MODEL.md
Due: none

docs: add initial threat model for langsmith-sdk (#2669)
  .github/THREAT_MODEL.md
Due: none

fix: propagate AbortSignal through all polling paths
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

fix: propagate AbortSignal through waitForSandbox to getSandboxStatus and getSandbox
  js/src/experimental/sandbox/client.ts
Due: js-format, js-lint, js-typecheck

fix: make polling sleep abort-aware with sleepWithSignal helper
  js/src/experimental/sandbox/client.ts
Due: js-format, js-lint, js-typecheck

fix(langsmith): prevent EvaluationResult from dropping unknown feedback_config fields
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): add hideMetadata support
  js/src/client.ts
  js/src/tests/batch_client.test.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/tests/batch_client.test.ts
Due: js-format, js-lint, js-typecheck

fix: address PR review feedback
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(js/sandbox): add snapshot API and start/stop lifecycle (#2717)
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix: treat AbortError as non-retryable in AsyncCaller
  js/src/tests/async_caller.test.ts
  js/src/utils/async_caller.ts
Due: js-format, js-lint, js-typecheck

release(py,js): py 0.7.32, js 0.5.20
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py,js): py 0.7.32, js 0.5.20 (#2721)
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Allow more granular concurrency config, avoid blocking on all target functions
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

Fix test
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: patch 12 dev dependency security alerts via pnpm overrides
  js/package.json
  js/pnpm-lock.yaml
Due: none

python: pass OTEL config directly to exporter instead of setting env vars
  python/langsmith/_internal/otel/_otel_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

python: pass OTEL config directly to exporter instead of setting env vars (#2726)
  python/langsmith/_internal/otel/_otel_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): move jest retry config to runtime setup file
  js/jest.config.cjs
  js/jest.setup.cjs
Due: none

fix(js): move jest retry config to runtime setup file (#2733)
  js/jest.config.cjs
  js/jest.setup.cjs
Due: none

fix: strip credentials on cross-origin redirects
  js/src/client.ts
  js/src/experimental/sandbox/client.ts
  js/src/tests/safe_fetch.test.ts
  js/src/utils/safe_fetch.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(python): add Context schemas for agent/skill/file hub repos
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add Context class for agent/skill/file hub repos
  python/langsmith/context.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): expose Context on Client as .context property
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): introduce AsyncContext for async operations in Hub
  python/langsmith/async_client.py
  python/langsmith/context.py
Due: python-format, python-lint-ruff, python-mypy

test(python): unit tests for Context and AsyncContext
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff

fix(python): merge owner/repo into Context pull response
  python/langsmith/context.py
Due: python-format, python-lint-ruff, python-mypy

style(python): shorten long docstrings in context.py
  python/langsmith/context.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): export Context and AsyncContext from top-level
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

test(python): integration tests for Context and AsyncContext
  python/tests/integration_tests/test_context.py
Due: python-format, python-lint-ruff

test(python): split Context integration tests into sync and async files
  python/tests/integration_tests/test_context_async.py
Due: python-format, python-lint-ruff

feat: support per-replica client override in WriteReplica
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

test(python): integration test for Context push/pull file roundtrip
  python/tests/integration_tests/test_context.py
  python/tests/integration_tests/test_context_async.py
Due: python-format, python-lint-ruff

style(python): apply ruff format to Context sources and unit tests
  python/langsmith/context.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): annotate Client._context as Optional[Context]
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy
