Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

release(js): 0.7.2 (#2922)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Remove unknown assignments
  js/src/client.ts
  js/src/schemas.ts
Due: js-format, js-lint, js-typecheck

feat(py): add FeedbackLoop utility to automate eval-to-action loop
  python/langsmith/evaluation/feedback_loop.py
Due: python-format, python-lint-ruff, python-mypy

chore: exclude langsmith_api from ruff linter
  python/pyproject.toml
Due: none

chore: exclude langsmith_api from ruff linter (#2933)
  python/pyproject.toml
Due: none

Use inheritence instead of composition for LS client
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_helpers.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): enforce size_limit_bytes in multipart ingest path
  python/langsmith/_internal/_multipart.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test(js): unit tests for application_tag plumbing
  js/src/tests/client_application_tag.test.ts
Due: js-format, js-lint, js-typecheck

fix: return context hub URLs for pushed contexts
  js/src/client.ts
  js/src/tests/context.int.test.ts
  js/src/tests/context.test.ts
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_hub_client.py
  python/tests/integration_tests/test_hub_client_async.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): return context hub URLs for pushed contexts
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_hub_client.py
  python/tests/integration_tests/test_hub_client_async.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): omit organization id from context urls
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): rely on server filtering for context repos
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

style(python): format hub url tests
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff

fix(js): return context hub URLs for pushed contexts
  js/src/client.ts
  js/src/tests/context.int.test.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

Add workflow to guard against stainless code modification
  .github/workflows/protect-stainless-generated.yml
Due: none

fix(python): retry sandbox connect timeouts
  python/langsmith/sandbox/_transport.py
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff, python-mypy

style: format sandbox transport tests
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff

fix(python): retry sandbox connect timeouts (#2940)
  python/langsmith/sandbox/_transport.py
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff, python-mypy

fix: reconnect sandbox command streams on EOF
  js/src/sandbox/command_handle.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): RunTree.create_child appends to self.child_runs
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): [LSDK-202] return context hub URLs for pushed contexts (#2939)
  js/src/client.ts
  js/src/tests/context.int.test.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.7.3
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(python): RunTree.create_child appends to self.child_runs LSE-2221 (#2942)
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.7.3 (#2943)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(python): [LSDK-202] return context hub URLs for pushed contexts (#2938)
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_hub_client.py
  python/tests/integration_tests/test_hub_client_async.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.8.6
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.8.6 (#2944)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): [LSDK-202] add organization id to context URLs
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): add organization id to context URLs
  js/src/client.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

fix: reconnect sandbox command streams on EOF (#2941)
  js/src/sandbox/command_handle.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.8.6 → 0.8.7
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: honor ls_provider for gen_ai.system in OTel translator [closes #2936]
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_translator.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): build snapshots from Dockerfiles
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

style(sandbox): format Dockerfile snapshot SDK changes
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add Dockerfile snapshot SDK parity
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore(sandbox): split JS Dockerfile snapshot changes
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): add JS Dockerfile snapshots
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): build snapshots from Dockerfiles (#2950)
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.8.7
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): add organization id to context URLs (#2945)
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
