Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix: skip OAuth refresh when profile API key is set
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): restrict attachment downloads to the configured API host
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): apply the caller-supplied session's config to v2 endpoints (#3304)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

chore: Use a common function for backend detection
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/v2_migration.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Shorten invocation
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): build the generated client eagerly again [CI]
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix(js): keep caller-supplied credentials that the SDK cannot replace [CI]
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

Linting fixes
  js/src/client.ts
  js/src/tests/v2_migration.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

Format imports
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(js): temporarily drop the new header tests to bisect CI [CI]
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

test(js): restore the header tests in their own file [CI]
  js/src/tests/client_headers.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): rebuild the generated client when its headers change [CI]
  js/src/client.ts
  js/src/tests/client_headers.test.ts
Due: js-format, js-lint, js-typecheck

fix: stop supported APIs from emitting nested deprecation warnings
  js/src/client.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/client.test.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/utils/warn.ts
  python/langsmith/_internal/_beta_decorator.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: Use a common function for backend detection (#3307)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/v2_migration.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: prioritize API key over OAuth profile auth [closes LSDK-414] (#3295)
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): apply caller-supplied headers to the v2 endpoints (#3305)
  js/src/client.ts
  js/src/tests/client_headers.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): allow-list fields accepted from baggage replica updates
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
Due: js-format, js-lint, js-typecheck

fix(py): cache RunTree.get_url() and fall back to local construction
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

chore: deprecate legacy SmithDB-migration SDK methods (#3299)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/warn.ts
  python/langsmith/async_client.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_beta_evals.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): mask metadata after the runtime env merge and via the anonymizer
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): mask metadata after the runtime env merge and via the anonymizer
  js/src/client.ts
  js/src/tests/anonymizer.test.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): reset the ALS run tree between openai agents tests [CI]
  js/src/tests/openai_agents_sdk.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): guard the ALS reset so the build type-checks [CI]
  js/src/tests/openai_agents_sdk.test.ts
Due: js-format, js-lint, js-typecheck

fix: stop supported APIs from emitting nested deprecation warnings (#3308)
  js/src/client.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/client.test.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/tests/openai_agents_sdk.test.ts
  js/src/utils/warn.ts
  python/langsmith/_internal/_beta_decorator.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.10.15
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.9
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

chore: deprecate the run-sharing SDK methods
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: deprecate the run-sharing SDK methods (#3312)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.10.15 (#3315)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js,py): stamp ls_agent_type on wrap_openai LLM runs
  js/src/tests/wrapped_openai_agent_type.test.ts
  js/src/wrappers/openai.ts
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(js): 0.8.9 (#3316)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: apply ruff format on Gap A test file
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff

fix(py): move ls_agent_type stamping to wrapper-config layer
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): promote usage_metadata from run.extra to OTEL span attributes
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): decouple usage_metadata fallback from outputs presence
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): mask only the metadata keys added by the runtime env merge
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): mask metadata after the runtime env merge and via the anonymizer (#3313)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): mask metadata after the runtime env merge and via the anonymizer (#3314)
  js/src/client.ts
  js/src/tests/anonymizer.test.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

refactor(js,py): only stamp ls_agent_type at trace root; rely on propagation for nested
  js/src/tests/wrapped_openai_agent_type.test.ts
  js/src/wrappers/openai.ts
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js,py): null opt-out preserves the null value so it overrides propagation
  js/src/tests/wrapped_openai_agent_type.test.ts
  js/src/wrappers/openai.ts
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
