Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

MCP tool rejections
  js/src/tests/test_data/anthropic_managed_mcp_tools_reject.jsonl
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
  js/src/wrappers/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

Remove irrelevant TODO
  js/src/wrappers/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

feat(sdk): rename evaluator resource accessor
  js/src/_openapi_client/client.ts
  js/src/client.ts
  js/src/tests/client.int.test.ts
  js/src/tests/client.test.ts
  python/langsmith/_openapi_client/_client.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(sdk): remove legacy evaluator aliases
  js/src/_openapi_client/client.ts
  python/langsmith/_openapi_client/_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sdk): keep generated evaluator clients unchanged
  js/src/_openapi_client/client.ts
  js/src/client.ts
  python/langsmith/_openapi_client/_client.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Add aread_project in python SDK (#3157)
  js/src/client.ts
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_projects.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.8
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Move file, add tests
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/wrappers/anthropic.ts
  js/src/wrappers/utils/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

Fix linter
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

refactor: rename client-facing SDK online_evaluator to evaluator (#3158)
  js/src/client.ts
  js/src/tests/client.int.test.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.8 (#3159)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore(release): bump js version to 0.7.16
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix integration tests
  python/tests/integration_tests/test_v2_datasets.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

Fix double tool post
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
  js/src/wrappers/utils/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

release(js): bump JS SDK to 0.7.16 (#3160)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix interrupts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
  js/src/wrappers/utils/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

Polish interrupts
  js/src/wrappers/utils/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

fix: expose sync evaluator resource from Python Client
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test: cover sync Python evaluator resource
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

fix: limit sync resource wiring to evaluators
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test: cover async evaluator resource
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

style: format evaluator integration test
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

style: sort client imports
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Test
  js/src/tests/wrapped_anthropic.int.test.ts
Due: js-format, js-lint, js-typecheck

Avoid tracing request options
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/wrappers/utils/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

nits
  js/src/wrappers/utils/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

refactor(integrations): simplify OTel span-id extraction per review
  python/langsmith/integrations/otel/__init__.py
  python/tests/unit_tests/test_otel_url.py
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): helpers to build LangSmith run URLs from OTel spans [LSDK-273] (#3142)
  python/langsmith/integrations/otel/__init__.py
  python/tests/unit_tests/test_otel_url.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): remove projects accessor from AsyncClient
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): remove projects accessor from AsyncClient (#3163)
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

Add back snapshot tests
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
Due: js-format, js-lint, js-typecheck

feat(js): Extends wrapAnthropic JS wrapper to support Claude Managed Agents methods (#3155)
  js/src/tests/test_data/anthropic_managed_builtin_tools.jsonl
  js/src/tests/test_data/anthropic_managed_custom_tools.jsonl
  js/src/tests/test_data/anthropic_managed_mcp_tools.jsonl
  js/src/tests/test_data/anthropic_managed_mcp_tools_reject.jsonl
  js/src/tests/utils/tree.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_anthropic_managed_agents.vitesttest.ts
  js/src/wrappers/anthropic.ts
  js/src/wrappers/utils/anthropic_managed.ts
Due: js-format, js-lint, js-typecheck

feat(client): expose threads and traces resource accessors on Python and JS clients
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_v2_threads_traces.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(js): add smoke integration tests for threads and traces resources
  js/src/tests/threads_traces.int.test.ts
Due: js-format, js-lint, js-typecheck

test: split threads/traces integration tests into separate files per resource
  js/src/tests/threads.int.test.ts
  js/src/tests/traces.int.test.ts
  python/tests/integration_tests/test_v2_threads.py
  python/tests/integration_tests/test_v2_traces.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

test: trim stray docstring/comment from threads.stats test
  js/src/tests/threads.int.test.ts
  python/tests/integration_tests/test_v2_threads.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

release(js): 0.7.17
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.7.17 (#3166)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat(client): expose threads and traces resource accessors on Python and JS clients (#3164)
  js/src/client.ts
  js/src/tests/threads.int.test.ts
  js/src/tests/traces.int.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_v2_threads.py
  python/tests/integration_tests/test_v2_traces.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: fold by-key path into add_runs_to_annotation_queue (runs= param)
  js/src/client.ts
  js/src/tests/client.int.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
