Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(py): export GenAI tool call message parts
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

test(py): cover provider-style GenAI tool calls
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

ci(security): run CodSpeed only on same-repo PRs
  .github/workflows/codspeed.yml
Due: none

fix: point migration guide links at their new per-area pages (#3421)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): send langsmith-js User-Agent on generated client calls (#3411)
  js/src/client.ts
  js/src/tests/client_headers.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): respect dockerignore when building from Dockerfile
  js/src/sandbox/client.ts
  js/src/sandbox/dockerignore.ts
  js/src/tests/dockerignore.test.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Be stricter
  js/src/sandbox/client.ts
  js/src/sandbox/dockerignore.ts
  js/src/tests/dockerignore.test.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Use recursive parser instead
  js/src/sandbox/client.ts
  js/src/sandbox/dockerignore.ts
  js/src/tests/dockerignore.test.ts
Due: js-format, js-lint, js-typecheck

ci: trigger the benchmarks on benchmark-infrastructure changes
  .github/workflows/codspeed.yml
  .github/workflows/py-bench-datadog.yml
Due: none

Cleanup
  js/src/sandbox/client.ts
Due: js-format, js-lint, js-typecheck

feat(py): respect dockerignore when building snapshot from dockerfile
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_dockerignore.py
  python/tests/unit_tests/sandbox/test_dockerignore.py
Due: python-format, python-lint-ruff, python-mypy

Update python/tests/unit_tests/test_multipart_retry_matrix.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff

fix(py): restore multipart retry test handler
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff

fix: size the autoscale test's tracing queue to its run count [CI]
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

test(py): pin multipart ingest retry matrix and drop warning (#3377)
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff

test(evaluation): add regression test for feedback_config dict handling
  python/tests/unit_tests/evaluation/test_evaluator.py
Due: python-format, python-lint-ruff

fix(py): handle 64bit+ integers without loss of precision (#3409)
  python/langsmith/_internal/_serde.py
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Superflous check
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

Empty outputs for JS when anonymizer fails
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

bring Python up to par with JS
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix: fail-closed when per-function anonymization callables fail
  js/src/run_trees.ts
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): exclude replica config from the serialized run body
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_serialization.py
Due: python-format, python-lint-ruff, python-mypy

Cleanup + explicit strings when masking of inputs/outputs fails
  js/src/run_trees.ts
  js/src/singletons/constants.ts
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): exclude replica config from the serialized run body (#3442)
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_serialization.py
Due: python-format, python-lint-ruff, python-mypy

ci(security): keep DD_API_KEY out of PR runs
  .github/workflows/py-bench-datadog.yml
Due: none

refactor(python): simplify ElevenLabs trace transform
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/integrations/elevenlabs/__init__.py
  python/langsmith/integrations/elevenlabs/_otel.py
  python/tests/unit_tests/wrappers/test_elevenlabs.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): suppress import-untyped on the optional langsmith_pyo3 import
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): fix inconsistent non-uuidv7 replica UUID derivation
  python/langsmith/_internal/_uuid.py
  python/tests/unit_tests/test_replica_compression.py
  python/tests/unit_tests/test_replica_run_ids.py
  python/tests/unit_tests/test_uuid_v7.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): fix inconsistent non-uuidv7 replica UUID derivation
  js/src/tests/run_trees.uuid.test.ts
  js/src/utils/_uuid.ts
Due: js-format, js-lint, js-typecheck

Tidy-up
  js/src/tests/run_trees.uuid.test.ts
  python/tests/unit_tests/test_replica_run_ids.py
  python/tests/unit_tests/test_uuid_v7.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix(py): accept buffersize in ContextThreadPoolExecutor.map on 3.14+
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

fix: make trace sampling deterministic [closes LIN-369]
  js/src/client.ts
  js/src/tests/batch_client.test.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Restructure
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/sampling.ts
  python/langsmith/_internal/_sampling.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Switch to already-available xxhash
  js/src/tests/batch_client.test.ts
  js/src/tests/client.test.ts
  js/src/utils/sampling.ts
  python/langsmith/_internal/_sampling.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(py): drop the unrelated compression spec from this branch
  python/tests/unit_tests/test_replica_compression.py
Due: python-format, python-lint-ruff

Reformat
  python/tests/unit_tests/test_replica_run_ids.py
Due: python-format, python-lint-ruff

fix(py,js): consistent (non-v7) UUID rewriting for replicas (#3445)
  js/src/tests/run_trees.uuid.test.ts
  js/src/utils/_uuid.ts
  python/langsmith/_internal/_uuid.py
  python/tests/unit_tests/test_replica_run_ids.py
  python/tests/unit_tests/test_uuid_v7.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(py): add strip_binary option to list_runs to drop inline base64 content
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): support snapshot tags in the Python client
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy

Fix consistency for Feedbacks and Updated runs
  js/src/client.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck
