Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

ci: add CodSpeed continuous benchmarking for Python and JS SDKs
  .github/workflows/codspeed.yml
  CONTRIBUTING.md
  README.md
  js/package.json
  js/pnpm-lock.yaml
  js/src/tests/benchmarks/payloads.ts
  js/src/tests/benchmarks/run_trees.bench.ts
  js/src/tests/benchmarks/serialize.bench.ts
  js/src/tests/benchmarks/traceable.bench.ts
  js/vitest.bench.config.ts
  python/Makefile
  python/pyproject.toml
  python/tests/benchmarks/__init__.py
  python/tests/benchmarks/conftest.py
  python/tests/benchmarks/test_client_tracing.py
  python/tests/benchmarks/test_run_trees.py
  python/tests/benchmarks/test_schemas.py
  python/tests/benchmarks/test_serde.py
  python/tests/benchmarks/test_traceable.py
  python/uv.lock
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

ci: skip link check for the CodSpeed project badge
  .mlc_config.json
Due: none

refactor(js): route sandbox runtime through control plane
  js/src/sandbox/client.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  js/src/tests/sandbox_reconnect_ack.test.ts
Due: js-format, js-lint, js-typecheck

Revert "refactor(js): route sandbox runtime through control plane"
  js/src/sandbox/client.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  js/src/tests/sandbox_reconnect_ack.test.ts
Due: js-format, js-lint, js-typecheck

test(py): codSpeed integration
  .github/workflows/py-bench-codspeed.yml
  python/Makefile
  python/bench/__main__.py
  python/bench/cases.py
  python/bench/test_bench.py
  python/pyproject.toml
  python/uv.lock
Due: python-format, python-lint-ruff

fix: exclude password and email env vars from run metadata
  js/src/tests/client.test.ts
  js/src/utils/env.ts
  python/langsmith/env/_runtime_env.py
  python/tests/unit_tests/test_env.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: add continuous benchmarking with CodSpeed
  .github/workflows/codspeed.yml
  README.md
  js/package.json
  js/pnpm-lock.yaml
  js/src/tests/benchmarks/run_trees.bench.ts
  js/src/tests/benchmarks/serialize.bench.ts
  js/src/tests/benchmarks/traceable.bench.ts
  js/src/tests/benchmarks/utils.ts
  js/vitest.bench.config.ts
  python/pyproject.toml
  python/tests/benchmarks/__init__.py
  python/tests/benchmarks/_payloads.py
  python/tests/benchmarks/conftest.py
  python/tests/benchmarks/test_client.py
  python/tests/benchmarks/test_operations.py
  python/tests/benchmarks/test_run_trees.py
  python/tests/benchmarks/test_serde.py
  python/tests/benchmarks/test_traceable.py
  python/uv.lock
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

ci: rename the benchmark workflow to CodSpeed and allow manual dispatch
  .github/workflows/codspeed.yml
Due: none

feat(sandbox): add generate_download_url to the Python and JS clients
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(py): CodSpeed benchmarks, with startup-failure probes
  .github/workflows/codspeed-probe-defaults.yml
  .github/workflows/codspeed-probe-memory.yml
  .github/workflows/codspeed-probe-paths.yml
  .github/workflows/codspeed.yml
  python/Makefile
  python/bench/__main__.py
  python/bench/cases.py
  python/bench/test_bench.py
  python/pyproject.toml
  python/uv.lock
Due: python-format, python-lint-ruff

test(py): add push-context and byte-exact CodSpeed probes
  .github/workflows/codspeed-probe-exact.yml
  .github/workflows/codspeed-probe-push.yml
Due: none

refactor(sandbox): extract box URL construction and narrow the disposition type
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: point migration guide links at their new per-area pages
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style(js): wrap the reformatted expectation
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): add generate_download_url to the Python and JS clients (#3419)
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: drop the startup-failure probes, restore the intended CodSpeed config
  .github/workflows/codspeed-probe-defaults.yml
  .github/workflows/codspeed-probe-exact.yml
  .github/workflows/codspeed-probe-memory.yml
  .github/workflows/codspeed-probe-paths.yml
  .github/workflows/codspeed-probe-push.yml
  .github/workflows/codspeed.yml
Due: none

release(py): 0.11.1
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

ci: stop the repo pytest timeout from killing CodSpeed benchmarks
  .github/workflows/codspeed.yml
Due: none

release(js): 0.8.12
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

ci: add a walltime CodSpeed job for Macro Runners
  .github/workflows/codspeed.yml
Due: none

release(py/js): 0.11.1 / 0.8.12 (#3422)
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: run the walltime benchmarks on every push and PR
  .github/workflows/codspeed.yml
Due: none

ci: run each CodSpeed instrument as its own job
  .github/workflows/codspeed.yml
Due: none

fix: exclude password and email env vars from run metadata (#3417)
  js/src/tests/client.test.ts
  js/src/utils/env.ts
  python/langsmith/env/_runtime_env.py
  python/tests/unit_tests/test_env.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(python): add ElevenLabs tracing integration
  python/langsmith/integrations/elevenlabs/__init__.py
  python/langsmith/integrations/elevenlabs/_otel.py
  python/tests/unit_tests/wrappers/test_elevenlabs.py
Due: python-format, python-lint-ruff, python-mypy

Avoid redundantly sending inputs up in patch
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
Due: js-format, js-lint, js-typecheck

Fix OpenAI Agents tracing
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
Due: js-format, js-lint, js-typecheck

feat(js): Avoid redundantly sending inputs up in patch (#3425)
  js/src/run_trees.ts
  js/src/tests/openai_agents_sdk.test.ts
  js/src/tests/run_trees.test.ts
  js/src/wrappers/openai_agents.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.9.0
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.9.0 (#3426)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

refactor(python): simplify ElevenLabs trace transform
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/integrations/elevenlabs/_otel.py
  python/tests/unit_tests/wrappers/test_elevenlabs.py
Due: python-format, python-lint-ruff, python-mypy

Fix feedback_config silently dropping unknown dict keys
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): support proxy_config in update_sandbox
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): support proxyConfig in updateSandbox (JS)
  js/src/sandbox/client.ts
  js/src/sandbox/helpers.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

test(py): continuous benchmarking with CodSpeed (#3420)
  .github/workflows/codspeed.yml
  python/Makefile
  python/bench/__main__.py
  python/bench/cases.py
  python/bench/test_bench.py
  python/pyproject.toml
  python/uv.lock
Due: python-format, python-lint-ruff

fix(py): export OTel GenAI message attributes
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

ci: point the Datadog benchmark uploads at us5
  .github/workflows/py-bench-datadog.yml
Due: none

test(py): perf benchmarks via "pytest-benchmark
  .github/workflows/py-bench-datadog.yml
  python/Makefile
  python/pyproject.toml
  python/uv.lock
Due: none

ci: drop pytest-benchmem, rename the target to benchmark-datadog
  .github/workflows/py-bench-datadog.yml
  python/Makefile
  python/pyproject.toml
  python/uv.lock
Due: none
