Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix: propagate tracingEnabled to nested traceables
  js/src/singletons/types.ts
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

fix: propagate tracingEnabled to nested traceables (#2427)
  js/src/singletons/types.ts
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

lint
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): openai agents: delay span start for spans without inputs on start event (#2424)
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.2 → 0.7.3
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.3 (#2428)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): minor test improvements
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
  js/src/tests/vercel/wrapper/sdk5-backcompat.vitesttest.ts
Due: js-format, js-lint, js-typecheck

fix(python): use thread-local parent fallback in begin_llm_run_from_assistant_messages
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(google-adk): add wrapt optional dependency
  python/pyproject.toml
  python/uv.lock
Due: none

feat(python): support long-running commands on sandboxes
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/pyproject.toml
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_exceptions.py
  python/tests/unit_tests/sandbox/test_models.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix(google-adk): add wrapt dependency (#2436)
  python/pyproject.toml
  python/uv.lock
Due: none

chore: lock dependencies
  python/uv.lock
Due: none

chore: lock dependencies (#2439)
  python/uv.lock
Due: none

release(py): 0.7.4
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.4 (#2441)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add sandbox exception types and client plumbing
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_exceptions.py
  python/tests/unit_tests/sandbox/test_exceptions.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add WebSocket transport for sandbox commands
  python/langsmith/sandbox/_ws_execute.py
  python/pyproject.toml
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

doc: add a RELEASING.md
  README.md
  RELEASING.md
Due: none

test(python): add tests for WebSocket transport layer
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff

feat(python): use WebSocket transport by default with HTTP fallback
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add CommandHandle for streaming, kill, stdin, and reconnect
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy

test(python): add tests for CommandHandle and sandbox streaming integration
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff

docs(python): document sandbox streaming, kill, stdin, and reconnect
  python/langsmith/sandbox/README.md
Due: none

fix: restore relativeModuleId for vitest reporter display
  js/src/vitest/utils/reporter.ts
Due: js-format, js-lint, js-typecheck

fix: update tests for jest 30 compatibility
  js/src/tests/client.test.ts
  js/src/tests/traceable.test.ts
  js/src/tests/utils/mock_client.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_gemini.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
Due: js-format, js-lint, js-typecheck

fix: replace deprecated --testPathPattern with --testPathPatterns for Jest 30
  js/package.json
Due: none

make zstandard optional
  python/langsmith/_internal/_background_thread.py
  python/langsmith/_internal/_compressed_traces.py
Due: python-format, python-lint-ruff, python-mypy

adk fixes
  python/langsmith/integrations/google_adk/__init__.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
  python/langsmith/integrations/google_adk/_messages.py
  python/langsmith/integrations/google_adk/_recursive.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

make zstandard optional (#2453)
  python/langsmith/_internal/_background_thread.py
  python/langsmith/_internal/_compressed_traces.py
Due: python-format, python-lint-ruff, python-mypy

fix(py/adk): fix multi-agent tracing
  .vscode/settings.json
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
  python/tests/integration_tests/wrappers/test_google_adk.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

refactor
  python/langsmith/integrations/google_adk/__init__.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
  python/langsmith/integrations/google_adk/_recursive.py
  python/langsmith/run_helpers.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_google_adk.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix
  python/langsmith/integrations/google_adk/_client.py
Due: python-format, python-lint-ruff, python-mypy

feat: add native thread querying support
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py/adk): fix multi-agent tracing (#2451)
  .vscode/settings.json
  python/langsmith/integrations/google_adk/__init__.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_hooks.py
  python/langsmith/integrations/google_adk/_recursive.py
  python/langsmith/run_helpers.py
  python/pyproject.toml
  python/tests/integration_tests/wrappers/test_google_adk.py
  python/tests/unit_tests/wrappers/test_google_adk.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.5
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.5 (#2456)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: using runs query for list threads
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix claude agent sdk parenting in asyncio context
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

move import
  python/langsmith/sandbox/_async_client.py
Due: python-format, python-lint-ruff, python-mypy
