Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

chore: bump js ver (#2548)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

chore: bump ver (#2547)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): handle concurrent example creation in pytest-xdist
  python/langsmith/testing/_internal.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): replace busy-wait in AsyncExperimentResults.__anext__
  python/langsmith/evaluation/_arunner.py
Due: python-format, python-lint-ruff, python-mypy

add file
  js/src/experimental/sandbox/ws_execute.ts
Due: js-format, js-lint, js-typecheck

feat: add ws-based execute with session and PTY support to Python SDK
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_async_session.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_session.py
  python/langsmith/sandbox/_ws_execute.py
  python/langsmith/sandbox/_ws_session.py
  python/tests/unit_tests/sandbox/test_async_session.py
  python/tests/unit_tests/sandbox/test_session.py
Due: python-format, python-lint-ruff, python-mypy

feat: add command management API and session support to JS sandbox
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

feat: add command management API to Python SDK (list/get/kill)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_commands.py
Due: python-format, python-lint-ruff, python-mypy

feat: retry GET /info with auth on 401/403
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: attach UTC timezone to naive datetimes in RunBase to prevent 422 on multipart upload
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add tunnel feature on python sdk
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tunnel.py
  python/langsmith/sandbox/_ws_execute.py
  python/langsmith/sandbox/_yamux.py
  python/tests/unit_tests/sandbox/test_tunnel.py
  python/tests/unit_tests/sandbox/test_yamux.py
Due: python-format, python-lint-ruff, python-mypy

use commandId
  js/src/experimental/sandbox/ws_execute.ts
Due: js-format, js-lint, js-typecheck

fix(sandbox): prevent CommandHandle.kill() from hanging
  python/langsmith/sandbox/_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add yamux multiplexing protocol
  python/langsmith/sandbox/_yamux.py
  python/tests/unit_tests/sandbox/test_yamux.py
Due: python-format, python-lint-ruff, python-mypy

docs(sandbox): add TCP tunnel documentation
  python/langsmith/sandbox/README.md
Due: none

fix(sandbox): prevent CommandHandle.kill() from hanging (#2557)
  python/langsmith/sandbox/_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add yamux multiplexing protocol (#2558)
  python/langsmith/sandbox/_yamux.py
  python/tests/unit_tests/sandbox/test_yamux.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add TCP tunnel support
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tunnel.py
  python/tests/unit_tests/sandbox/test_tunnel.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add TCP tunnel support (#2559)
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tunnel.py
  python/tests/unit_tests/sandbox/test_tunnel.py
Due: python-format, python-lint-ruff, python-mypy

docs(sandbox): add TCP tunnel documentation (#2560)
  python/langsmith/sandbox/README.md
Due: none

feat(python): add update_commit_tags for idempotent prompt tag management
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

add options
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/experimental/sandbox/ws_execute.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

add options and docs
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fmt
  js/src/experimental/sandbox/command_handle.ts
  js/src/experimental/sandbox/sandbox.ts
Due: js-format, js-lint, js-typecheck

feat: add ws based exec to js sdk (#2540)
  js/package.json
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/command_handle.ts
  js/src/experimental/sandbox/errors.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/experimental/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  js/yarn.lock
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): add reconnection of tunnerls
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tunnel.py
  python/tests/unit_tests/sandbox/test_tunnel.py
Due: python-format, python-lint-ruff, python-mypy

remove unnecesary headers from trace dumps
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add reconnection of tunnels (#2563)
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tunnel.py
  python/tests/unit_tests/sandbox/test_tunnel.py
Due: python-format, python-lint-ruff, python-mypy

fix: catch missing tz info
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

fix: catch missing tz info (#2567)
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.16 → 0.7.17
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.16 → 0.7.17 (#2568)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: catches missing timezone suffix
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

chore: lint
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

chore: nits
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix: regex in test
  js/src/tests/run_trees.int.test.ts
Due: js-format, js-lint, js-typecheck

fix: fix js missing tz gs (#2569)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/tests/run_trees.int.test.ts
Due: js-format, js-lint, js-typecheck

chore: js version bump
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

chore: js version bump (#2570)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(python): propagate exceptions from AsyncExperimentResults._process_data
  python/langsmith/evaluation/_arunner.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
