Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

refactor(python): list the agent env vars explicitly in the metadata exclusions
  python/langsmith/env/_runtime_env.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): exclude LANGSMITH_AGENT_REGION from run metadata
  python/langsmith/env/_runtime_env.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): end traced runs when a returned ReadableStream errors
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

test(py): cover sandbox token verifier edge cases
  python/tests/unit_tests/sandbox/test_verify.py
Due: python-format, python-lint-ruff

Keep the response on HTTPError raised by raise_for_status_with_text
  python/langsmith/utils.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): harden Deepgram voice tracing
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/__init__.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
Due: python-format, python-lint-ruff, python-mypy

Assert prompt cache LRU eviction behavior
  python/tests/unit_tests/test_prompt_cache.py
Due: python-format, python-lint-ruff

Cover experimental feature flag overrides and hints
  python/tests/unit_tests/sandbox/test_sse_execute.py
Due: python-format, python-lint-ruff

feat(python): add ls.address handle for agent addressing (#3581)
  python/langsmith/__init__.py
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/_internal/_operations.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): stub OpenAI transport in completions integration test
  js/src/tests/wrapped_openai.int.test.ts
Due: js-format, js-lint, js-typecheck

test(python): expect agent routing on POST /runs and POST /runs/batch
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
Due: python-format, python-lint-ruff

fix(python): handle Deepgram voice protocol events
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): simplify voice event tracing
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/_internal/voice/helpers.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/langsmith/integrations/gemini_live/_session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): keep voice tracing APIs explicit
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/_internal/voice/helpers.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/langsmith/integrations/gemini_live/_session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): retry WebSocket upgrade 429s
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_ws_handshake.test.ts
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(utils): ensure HTTPError preserves response details in raise_for_status_with_text
  python/langsmith/utils.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): preserve response on wrapped HTTP errors (#3611)
  python/langsmith/utils.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

test(js): move stubbed completions test to unit suite
  js/src/tests/wrapped_openai.int.test.ts
  js/src/tests/wrapped_openai.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): resolve relative example attachment URLs
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): stub OpenAI transport in completions test (#3620)
  js/src/tests/wrapped_openai.int.test.ts
  js/src/tests/wrapped_openai.test.ts
Due: js-format, js-lint, js-typecheck

fix: RunID collisions between same-tenant replicas when `primary` attribute is used
  js/src/client.ts
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/_internal/_operations.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_operations.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Change warning message to avoid potential credential exposure
  python/langsmith/_internal/_operations.py
  python/tests/unit_tests/test_operations.py
Due: python-format, python-lint-ruff, python-mypy

Move detection
  js/src/client.ts
  js/src/tests/run_trees.test.ts
Due: js-format, js-lint, js-typecheck

test(js): isolate chat example datasets across CI runs
  js/src/tests/client.int.test.ts
Due: js-format, js-lint, js-typecheck

Apply suggestion from @thibautlehmann
  python/langsmith/_internal/_operations.py
Due: python-format, python-lint-ruff, python-mypy

fix(py,js): only the primary write replica keeps the original run ids (#3623)
  js/src/client.ts
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/_internal/_operations.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_operations.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.14.1 → 0.14.2
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): validate agentId with the server's rule
  js/src/address.ts
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): reject a createRun naming session_name and an address
  js/src/client.ts
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): render the address on direct updateRun payloads
  js/src/client.ts
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

refactor(js): make Address a plain interface instead of a class
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
Due: js-format, js-lint, js-typecheck

refactor(js): keep session_name out of createRun's public params
  js/src/client.ts
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): keep ids for a replica equal to the run's own address
  js/src/address.ts
  js/src/run_trees.ts
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

chore(js): mark Address helpers internal and call addressing beta
  js/src/address.ts
  js/src/client.ts
  js/src/run_trees.ts
  js/src/schemas.ts
Due: js-format, js-lint, js-typecheck

refactor(js): list the agent env vars explicitly in the metadata exclusions
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

refactor(js): trim agent addressing code, comments and tests
  js/src/address.ts
  js/src/client.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

feat(js): address runs to an agent with `address()`
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

test(js): cover agent addressing on POST /runs/batch
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): resolve relative example attachment URLs (#3624)
  js/src/client.ts
  js/src/tests/client.int.test.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
