Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

Update python/langsmith/__init__.py
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Fix linter
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): re-export OpenAPI client exceptions from langsmith package (#3188)
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.2
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.10.2 (#3189)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

test: cover multi-workspace batch destination splitting
  js/src/tests/batch_client.test.ts
Due: js-format, js-lint, js-typecheck

feat(voice): capture STT/TTS/realtime model costs across voice integrations
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/langsmith/integrations/pipecat/_helpers.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture LiveKit realtime + LLM model costs
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): add explicit workspace validation [LSDK-315]
  python/README.md
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture LiveKit realtime model costs (#3191)
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture Pipecat LLM + realtime model costs
  python/langsmith/integrations/pipecat/__init__.py
  python/langsmith/integrations/pipecat/_helpers.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture Pipecat TTS/realtime model costs (#3192)
  python/langsmith/integrations/pipecat/__init__.py
  python/langsmith/integrations/pipecat/_helpers.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture OpenAI Agents realtime model costs
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
Due: python-format, python-lint-ruff, python-mypy

feat(livekit): capture realtime user transcript via instrument_session
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture Google ADK Live (Gemini) model costs
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_voice_session.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

chore(livekit): drop inline comments from realtime transcript code
  python/langsmith/integrations/livekit/processor.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): restore _get_openapi_base_url to strip /api/v1 suffix before passing to OpenAPI client
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.10.3
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.2
  js/package.json
Due: none

chore: also bump version in js/src/index.ts
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(python): bump py version to 0.10.3 (#3203)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.2 (#3204)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat: deprecate run_ids param in add_runs_to_annotation_queue
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(livekit): capture realtime user transcript via instrument_session (#3201)
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture OpenAI Agents realtime model costs (#3193)
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.4
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(voice): capture Google ADK Live (Gemini) model costs (#3194)
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_voice_session.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.10.4 (#3207)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: patch high-severity JS dependencies
  js/internal/environment_tests/test-exports-cf/package.json
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

fix(py/anthropic): handle OTel-style sync wrappers around async methods
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.10.5
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.3
  js/package.json
Due: none

chore: also bump __version__ in js/src/index.ts
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: patch high-severity JS dependencies (#3210)
  js/internal/environment_tests/test-exports-cf/package.json
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

release(js): 0.8.3 (#3213)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(python): bump py version to 0.10.5 (#3212)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

docs: link SmithDB migration guide in run_ids deprecation warnings
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Patch Dependabot alert dependencies
  js/internal/environment_tests/test-exports-cf/package.json
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

feat(pipecat): capture realtime user transcript via instrument_user_aggregator
  python/langsmith/integrations/pipecat/__init__.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

Adds transformFinalRun method
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck
