Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

refactor(js): take addresses as strings
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
Due: js-format, js-lint, js-typecheck

feat(js): type addresses as template literals
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/utils/agent_addressing.ts
Due: js-format, js-lint, js-typecheck

feat: prefix address strings with lrn:
  js/src/address.ts
  js/src/tests/address.test.ts
  python/langsmith/address.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: note OTLP legacy traces fallback removal in v1
  js/src/experimental/otel/exporter.ts
  js/src/tests/otel_exporter.test.ts
  python/langsmith/_internal/otel/_otel_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): address Deepgram voice tracing review
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/__init__.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_voice_session.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

refactor: take addresses as strings (Python and JS) (#3651)
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
  python/langsmith/__init__.py
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.14.4
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.8
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py,js): correctly resolve the full OTLP traces endpoint (#3645)
  js/src/experimental/otel/exporter.ts
  js/src/tests/otel_exporter.test.ts
  python/langsmith/_internal/otel/_otel_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.14.4 (#3652)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.8 (#3653)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

test: scope API key warning assertion to its warning category
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix: migrate UUID timestamps to uuid-utils 1.0 API
  python/langsmith/_internal/_uuid.py
  python/pyproject.toml
  python/tests/unit_tests/test_uuid_v7.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix(py): tolerate partial transcript lines in Claude Agent SDK tracing
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(tests): preserve HTTPX cassette patches during background uploads
  python/conftest.py
  python/tests/unit_tests/test_vcr_isolation.py
Due: python-format, python-lint-ruff

test: remove VCR isolation regression coverage
  python/tests/unit_tests/test_vcr_isolation.py
Due: python-format, python-lint-ruff

fix(tests): prevent background uploads from restoring stale HTTPX cassettes (#3656)w
  python/conftest.py
Due: python-format, python-lint-ruff

fix(python): handle Deepgram voice protocol events
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): harden Deepgram voice tracing
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/__init__.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): keep voice tracing APIs explicit
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/_internal/voice/helpers.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/langsmith/integrations/gemini_live/_session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): simplify voice event tracing
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/_internal/voice/helpers.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/langsmith/integrations/gemini_live/_session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_google_adk_live.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): trace Deepgram voice agents
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/__init__.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): split voice turn transcripts into inputs and outputs
  python/langsmith/_internal/voice/session.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): correct Deepgram event and tool response tracing
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): preserve full voice turn transcript in outputs
  python/langsmith/_internal/voice/session.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

ci: direct nightly investigation mentions to Thibaut
  .github/workflows/ci.yml
Due: none

test: keep Google ADK tracing tests on cassette replay
  python/tests/integration_tests/conftest.py
  python/tests/integration_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff

docs: update README and CONTRIBUTING to reflect repository archiving and new SDK locations
  CONTRIBUTING.md
  README.md
Due: none

docs: remove obsolete OpenAPI sync instructions
  CONTRIBUTING.md
Due: none

ci: add a freeze guard for folders moved to their own repo
  .github/workflows/freeze-guard.yml
Due: none

ci: list PR files through the files API
  .github/workflows/freeze-guard.yml
Due: none

ci: run the freeze guard inside the CI Success gate
  .github/workflows/ci.yml
  .github/workflows/freeze-guard.yml
Due: none

ci: list PR files through the paginated API in the freeze guard
  .github/workflows/ci.yml
Due: none

ci: add a skip-freeze-guard label to bypass the freeze guard
  .github/workflows/ci.yml
Due: none

ci: add a freeze guard for folders moved to their own repo (#3668)
  .github/workflows/ci.yml
Due: none

test(py): replay VCR cassettes when provider calls go through the LLM Gateway
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_parse_sync_api.yaml
  python/tests/integration_tests/conftest.py
Due: python-format, python-lint-ruff

feat(py,js): read LANGSMITH_REVISION_ID for run revision_id
  js/src/tests/client.test.ts
  js/src/utils/env.ts
  python/langsmith/env/_runtime_env.py
  python/tests/unit_tests/test_env.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): send session_id on RunTree.patch
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(py,js): redact license keys and API key salts
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck
