Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(js): add organization id to context URLs (#2946)
  js/src/client.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.8.7 (#2947)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): retry sandbox pool timeouts
  python/langsmith/sandbox/_transport.py
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): retry sandbox pool timeouts (#2953)
  python/langsmith/sandbox/_transport.py
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff, python-mypy

adding num_examples and num_repetitions to create tracer session call for py and js sdks
  js/src/client.ts
  js/src/evaluation/_runner.ts
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

tests + simplify comments
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

linting
  js/src/tests/evaluate_runner.test.ts
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: validate feedback_config dict keys and raise ValueError for unsupported fields
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): build Dockerfile snapshots off /tmp
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): build Dockerfile snapshots off /tmp
  js/src/sandbox/client.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix(sandbox): build Dockerfile snapshots off /tmp (#2956)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test(sandbox): type writes tuple for Dockerfile snapshot test
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): add JS Dockerfile snapshots (#2951)
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Fix pytest-socket 0.8.0 compatibility (SocketBlockedError is RuntimeError)
  python/langsmith/sandbox/_ws_execute.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

fix: add rootDir to tsconfig.json for TypeScript 6.0 compatibility
  js/tsconfig.json
Due: none

fix: explicitly set types for TypeScript 6.0 compatibility
  js/tsconfig.json
Due: none

fix: add node types for TypeScript build
  js/package.json
  js/pnpm-lock.yaml
Due: none

removed num_examples resolution in favor of client specified
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): run async evaluators from sync contexts
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_evaluator.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): support trace_id and retry-on-NotFound in async create_feedback
  python/langsmith/async_client.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

test(python): deflake test_tracing_queue_limit_drops_when_full
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

test(python): fix fake_server fixture teardown in context propagation test
  python/tests/integration_tests/test_context_propagation.py
Due: python-format, python-lint-ruff

adding num_examples to asserted set
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

chore: update dependabot.yml to comply with posture checks
  .github/dependabot.yml
Due: none

ci: add minimum workflow permissions
  .github/workflows/ci.yml
  .github/workflows/link-check.yml
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
  .github/workflows/release.yml
  .github/workflows/release_js.yml
Due: none

ci: add minimum workflow permissions (#2967)
  .github/workflows/ci.yml
  .github/workflows/link-check.yml
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
  .github/workflows/release.yml
  .github/workflows/release_js.yml
Due: none

chore: update dependabot.yml to comply with posture checks (#2966)
  .github/dependabot.yml
Due: none

test(python): deflake test_tracing_queue_limit_drops_when_full (#2964)
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

adding fields to _copy
  js/src/evaluation/_runner.ts
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix tests, removing num_repetitions from _copy()
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

feat: exposed pairwise comparison URL on ComparativeExperimentResults
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

fix: retry sandbox remote protocol errors
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_transport.py
  python/langsmith/utils.py
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): allow sizing the dockerfile-build sandbox via vcpus/mem_bytes
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): allow sizing the dockerfile-build sandbox via vcpus/mem_bytes
  python/langsmith/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): allow sizing the dockerfile-build sandbox via vCpus/memBytes
  js/package.json
  js/src/index.ts
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

style: ruff format sandbox test
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff

style: oxfmt sandbox test
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): size the dockerfile-build sandbox via vcpus/mem_bytes (python) (#2979)
  python/langsmith/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): size the dockerfile-build sandbox via vCpus/memBytes (js) (#2980)
  js/package.json
  js/src/index.ts
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(python): support trace_id and retry-on-NotFound in async create_… (#2963)
  python/langsmith/async_client.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy
