Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

chore:deps
  .github/dependabot.yml
Due: none

chore:deps (#2356)
  .github/dependabot.yml
Due: none

chore: adding workflow perms
  .github/workflows/auto-label-issues.yml
  .github/workflows/link-check.yml
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
  .github/workflows/release_js.yml
Due: none

fix: resolve CI lint and test failures
  python/langsmith/client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

chore: sync workflow action versions with main
  .github/workflows/ci.yml
  .github/workflows/link-check.yml
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
Due: none

fix: revert actions/cache to v4 for benchmark compatibility
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
Due: none

fix: make benchmark cache miss non-fatal
  .github/workflows/py-bench.yml
Due: none

fix: use assert_any_call in test_env_var_ttl for robustness
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff

fix(deps): resolve glob CLI command injection vulnerability (CVE-2025-64756)
  js/package.json
  js/yarn.lock
Due: none

fix(deps): bump vite to ^6.2.0 to resolve esbuild vulnerability
  js/internal/environment_tests/test-exports-vite/package.json
  js/internal/environment_tests/test-exports-vite/yarn.lock
Due: none

fix(deps): resolve js-yaml prototype pollution vulnerability
  js/package.json
  js/yarn.lock
Due: none

Avoid violating the Listkov Substitution Principle
  python/langsmith/_expect.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Reverse inheritance
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Fix breaking types
  python/langsmith/run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Remove instance checks
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Lock
  python/uv.lock
Due: none

Fix setting of defaults
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Remove instance checks
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

chore: adding workflow perms (#2367)
  .github/workflows/auto-label-issues.yml
  .github/workflows/link-check.yml
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
  .github/workflows/release_js.yml
Due: none

fix: esbuild CVE dependabot 78 (#2369)
  js/internal/environment_tests/test-exports-vite/package.json
  js/internal/environment_tests/test-exports-vite/yarn.lock
  js/package.json
  js/yarn.lock
Due: none

Fix
  python/langsmith/_expect.py
Due: python-format, python-lint-ruff, python-mypy

fix(deps): resolve js-yaml prototype pollution vulnerability (#2370)
  js/package.json
  js/yarn.lock
Due: none

fix: update Uint8Array types for TypeScript 5.8 compatibility
  js/src/client.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
  js/src/utils/fast-safe-stringify/index.ts
Due: js-format, js-lint, js-typecheck

Store last fetch function
  js/src/client.ts
  js/src/tests/prompt_cache.test.ts
  js/src/utils/prompt_cache/index.ts
Due: js-format, js-lint, js-typecheck

Python
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/prompt_cache.py
  python/tests/unit_tests/test_prompt_cache.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix: list_runs method in python sdk does not work as intended
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

async version
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

Fix test
  python/tests/unit_tests/test_prompt_cache.py
Due: python-format, python-lint-ruff

Add system message visibility to Anthropic wrapper traces
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

Expose global in JS
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix max size 0 behavior
  js/src/tests/prompt_cache.test.ts
  js/src/utils/prompt_cache/index.ts
  python/langsmith/prompt_cache.py
  python/tests/unit_tests/test_prompt_cache.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

merge
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

chore: rm unused fn (#2346)
  python/langsmith/_internal/_background_thread.py
Due: python-format, python-lint-ruff, python-mypy

update
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

add result ordering in post-pass
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate.int.test.ts
Due: js-format, js-lint, js-typecheck

More testss
  js/src/tests/prompt_cache.test.ts
  js/src/utils/prompt_cache/index.ts
  python/tests/unit_tests/test_prompt_cache.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

feat(py,js): Use global singleton for prompt cache, enable by default (#2371)
  js/internal/environment_tests/test-exports-cf/src/index.ts
  js/internal/environment_tests/test-exports-cjs/src/index.js
  js/internal/environment_tests/test-exports-esbuild/src/index.ts
  js/internal/environment_tests/test-exports-esm/src/index.ts
  js/internal/environment_tests/test-exports-metro/src/index.js
  js/internal/environment_tests/test-exports-vite/src/index.ts
  js/internal/environment_tests/test-exports-webpack/src/index.js
  js/package.json
  js/src/client.ts
  js/src/index.ts
  js/src/tests/prompt_cache.test.ts
  js/src/utils/prompt_cache/fs.browser.ts
  js/src/utils/prompt_cache/fs.ts
  js/src/utils/prompt_cache/index.ts
  python/langsmith/__init__.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/prompt_cache.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_prompt_cache.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: update async_caller for p-queue 9.x breaking changes
  js/src/utils/async_caller.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.0
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
