Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

chore: update dependabot.yml to comply with posture checks (#2393)
  .github/dependabot.yml
Due: none

fix: update vitest reporter for v4 API compatibility
  js/src/vitest/reporter.mts
  js/src/vitest/reporter.ts
  js/src/vitest/utils/reporter.ts
Due: js-format, js-lint, js-typecheck

fix: bump CI Node version to 22.x for vite 7.x compat
  .github/workflows/ci.yml
Due: none

fix: use any types for vitest reporter override to avoid signature mismatch
  js/src/vitest/reporter.mts
  js/src/vitest/reporter.ts
  js/src/vitest/utils/reporter.ts
Due: js-format, js-lint, js-typecheck

fix: apply ruff 0.15.0 formatting to test_client.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

fix: use ASGITransport for httpx 0.28+ compatibility
  python/tests/integration_tests/test_context_propagation.py
Due: python-format, python-lint-ruff

fix: vitest v4 compat and node-fetch v3 detection for multipart uploads
  js/src/client.ts
  js/src/singletons/fetch.ts
  js/src/tests/client.test.ts
  js/src/tests/utils/mock_client.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_gemini.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
  js/src/vitest/reporter.mts
  js/src/vitest/reporter.ts
Due: js-format, js-lint, js-typecheck

fix: correct vitest v4 reporter onTestRunEnd signature
  js/src/vitest/reporter.mts
  js/src/vitest/reporter.ts
Due: js-format, js-lint, js-typecheck

fix: pin Node to 22.22 and run Prettier
  .github/workflows/ci.yml
  js/src/tests/utils/mock_client.ts
Due: js-format, js-lint, js-typecheck

Log Vitest/Jest outputs even if test throws an error
  js/src/tests/jestlike/wrap_vitest.vitesteval.ts
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

Add retry
  js/src/tests/utils.ts
Due: js-format, js-lint, js-typecheck

Bump CI to Node 24
  .github/workflows/ci.yml
Due: none

Split test
  js/src/tests/batch_client.int.test.ts
  js/src/tests/node_fetch.int.test.ts
Due: js-format, js-lint, js-typecheck

Add log
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

Use explicit dep injection check
  js/src/client.ts
  js/src/singletons/fetch.ts
  js/src/tests/node_fetch.int.test.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/tests/node_fetch.int.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): Log Vitest/Jest outputs even if test throws an error (#2408)
  .github/workflows/ci.yml
  js/src/client.ts
  js/src/singletons/fetch.ts
  js/src/tests/batch_client.int.test.ts
  js/src/tests/jestlike/wrap_vitest.vitesteval.ts
  js/src/tests/node_fetch.int.test.ts
  js/src/tests/utils.ts
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

Remove async
  js/src/client.ts
  js/src/singletons/fetch.ts
Due: js-format, js-lint, js-typecheck

fix(js): Remove async (#2409)
  js/src/client.ts
  js/src/singletons/fetch.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.3
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.3 (#2410)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

ignoring p-queue
  .github/dependabot.yml
Due: none

fix: ignoring p-queue dep (#2414)
  .github/dependabot.yml
Due: none

feat(python): add feedback config CRUD and annotation queue rubric items
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): add feedback config CRUD and annotation queue rubric items
  js/src/client.ts
  js/src/index.ts
  js/src/schemas.ts
  js/src/tests/client.int.test.ts
Due: js-format, js-lint, js-typecheck

Add onStart handler for traceable, use in evaluate
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate.int.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

Populate output properly
  js/src/tests/evaluate.int.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.4
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Lint
  js/src/tests/evaluate.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): add feedback config CRUD and annotation queue rubric items (closes LSPE-67) (#2420)
  js/src/client.ts
  js/src/index.ts
  js/src/schemas.ts
  js/src/tests/client.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(python): add exceptions_to_handle to @traceable
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): Add on_start handler for traceable, use in evaluate (#2421)
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate.int.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.4 (#2422)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix lint
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff

lint
  python/langsmith/run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

chore(python): Delay span start for spans without inputs on start event
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add feedback config CRUD and annotation queue rubric items (closes LSPE-67) (#2419)
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/integration_tests/test_async_client.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add exceptions_to_handle to @traceable (#2423)
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.1 → 0.7.2
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.2 (#2426)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
