Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(lint): fix import sort order for AsyncDatasetsResource
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(client): apply anonymizer to run error field (JS)
  js/src/client.ts
  js/src/tests/anonymizer.test.ts
Due: js-format, js-lint, js-typecheck

feat(client): expose datasets v2 resource + experiment-runs integration tests [langchainplus#28358] (#3106)
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_v2_datasets.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(google-adk): set tool span as active tracing context in wrap_tool_run_async
  python/langsmith/integrations/google_adk/_client.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

fix(google-adk): set tool span as active tracing context in wrap_tool_run_async (#3111)
  python/langsmith/integrations/google_adk/_client.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

Update client.ts
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix(client): apply anonymizer to run error field (JS) (#3110)
  js/src/client.ts
  js/src/tests/anonymizer.test.ts
Due: js-format, js-lint, js-typecheck

fix: serialize tuple-keyed trace dictionaries
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Simplify
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

Streamline
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

Fix
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

Add test cases
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix(python): use current project issues endpoint (#3064)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Use class semantics to future-proof
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

Streamline comment
  python/langsmith/_internal/otel/_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

Add log on key conflict
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

Update python/langsmith/_internal/_serde.py
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

Potential fix for pull request finding 'CodeQL / Clear-text logging of sensitive information'
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

Avoid setting usage_metadata on parent chain runs
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

Rename
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): Avoid setting usage_metadata on parent chain runs for Claude Agent SDK runs (#3119)
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

feat(client): expose projects resource accessor on Python and JS clients (#3109)
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_projects.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(js): bump to 0.7.14
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): bump to 0.7.14 (#3121)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.4
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): bump to 0.7.15
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.4 (#3124)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): wrap all WS handshake failures as SandboxConnectionError
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump version to 0.9.5
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

style: ruff format sandbox ws_execute test
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff

fix(sandbox): wrap all WS handshake failures as SandboxConnectionError (#3130)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): add Pipecat voice tracing integration (#3112)
  python/langsmith/_internal/otel/_span_utils.py
  python/langsmith/_internal/voice/__init__.py
  python/langsmith/_internal/voice/audio.py
  python/langsmith/_internal/voice/base_span_processor.py
  python/langsmith/integrations/pipecat/__init__.py
  python/langsmith/integrations/pipecat/processor.py
  python/langsmith/integrations/strands_agents/exporter.py
  python/pyproject.toml
  python/tests/unit_tests/test_span_utils.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): add LiveKit voice tracing integration (#3113)
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/processor.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_livekit.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

feat(integrations): add OpenAI Realtime voice tracing integration (#3114)
  python/langsmith/_internal/_usage.py
  python/langsmith/_internal/voice/audio.py
  python/langsmith/_internal/voice/helpers.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/openai_realtime/__init__.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/langsmith/wrappers/_openai.py
  python/pyproject.toml
  python/tests/unit_tests/wrappers/test_openai_realtime.py
  python/tests/unit_tests/wrappers/test_openai_realtime_agents.py
  python/tests/unit_tests/wrappers/test_voice_helpers.py
  python/tests/unit_tests/wrappers/test_voice_session.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

Adds thread_id to metadata for Claude Agent SDK
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.test.ts
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(integrations): add helpers to build LangSmith run URLs from OTel spans
  python/langsmith/integrations/otel/__init__.py
  python/tests/unit_tests/test_otel_url.py
Due: python-format, python-lint-ruff, python-mypy

feat(js,python): Adds thread_id to metadata for Claude Agent SDK (#3141)
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.test.ts
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): serialize tuple-keyed trace dictionaries (#3116)
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): guard OTEL span cleanup [closes #3080] (#3118)
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix: openswe comments
  python/langsmith/integrations/otel/__init__.py
  python/tests/unit_tests/test_otel_url.py
Due: python-format, python-lint-ruff, python-mypy
