Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix: move version check to info property to avoid init side effects [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: use temp session for init version check to isolate from mock state [CI]
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

docs: note that _openapi_client directories are auto-generated (#3034)
  CONTRIBUTING.md
Due: none

fix: move backend version check to online_evaluators property [CI]
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: remove backend version check from AsyncClient.__aenter__ [CI]
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

regression fix
  js/internal/environment_tests/test-exports-esm/package.json
  js/internal/environment_tests/test-exports-esm/src/typecheck.ts
  js/internal/environment_tests/test-exports-esm/tsconfig.json
  js/src/_openapi_client/internal/headers.ts
  js/src/_openapi_client/internal/types.ts
Due: js-format, js-lint, js-typecheck

Fix published JS SDK declarations
  js/package.json
  js/scripts/fix-openapi-client-declarations.js
  js/src/_openapi_client/internal/headers.ts
  js/src/_openapi_client/internal/types.ts
Due: js-format, js-lint, js-typecheck

fix: update JS SDK type declarations with skipLibCheck disabled (#3043)
  js/internal/environment_tests/test-exports-esm/package.json
  js/internal/environment_tests/test-exports-esm/src/typecheck.ts
  js/internal/environment_tests/test-exports-esm/tsconfig.json
  js/package.json
  js/scripts/fix-openapi-client-declarations.js
Due: none

release(js): 0.7.10
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.7.10 (#3045)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

updating sdk to add opt out for create feedback
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix Python feedback retention opt-out in queued ingestion
  python/langsmith/_internal/_operations.py
  python/langsmith/client.py
  python/tests/unit_tests/test_operations.py
Due: python-format, python-lint-ruff, python-mypy

formatting
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

adding python async for online evals
  python/langsmith/async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

adding removal of suffix
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor: extract _MIN_BACKEND_VERSION to _internal/_constants.py
  python/langsmith/_internal/_constants.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): extract _MIN_BACKEND_VERSION and add backend version check
  js/src/client.ts
  js/src/utils/constants.ts
Due: js-format, js-lint, js-typecheck

feat: adding python async for online evals (#3048)
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Add sandbox Git mount SDK helpers (#3040)
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_mounts.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test: add unit tests for _check_backend_version in Python and TypeScript
  js/src/client.ts
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix(js): handle pre-release version strings in _checkBackendVersion
  js/src/client.ts
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

feat: add backend version check to AsyncClient via __aenter__
  python/langsmith/async_client.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

test: mock _MIN_BACKEND_VERSION in version check tests
  js/src/client.ts
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix: use insights tab in sdk report links [closes LSO-2936]
  python/langsmith/schemas.py
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff, python-mypy

fix: auto-fix lint/format failures [CI]
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix: use insights tab in sdk report links [closes LSO-2936] (#3050)
  python/langsmith/schemas.py
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff, python-mypy

fix: auto-fix lint/format failures [CI]
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: auto-fix lint/format failures [CI]
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor: extract _check_backend_version to _internal/_backend_version
  python/langsmith/_internal/_backend_version.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Fix formating
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix: add class-level type annotation for _info in AsyncClient
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: update mock patch target for _MIN_BACKEND_VERSION in async tests
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff

feat(client): warn when backend version is below minimum required (#3041)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/constants.ts
  python/langsmith/_internal/_backend_version.py
  python/langsmith/_internal/_constants.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): send mount_config for mounts
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Update generated files
  python/langsmith/_openapi_client/resources/runs.py
  python/langsmith/_openapi_client/types/__init__.py
  python/langsmith/_openapi_client/types/run_query_v2_params.py
  python/langsmith/_openapi_client/types/run_retrieve_v2_params.py
Due: python-format, python-lint-ruff, python-mypy

Unify sandbox auth helpers for mount config
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): use built-in gcp auth host matching
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): remove stale gcp matchHosts option type
  js/src/sandbox/proxy_config.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

JS integration
  js/src/_openapi_client/client.ts
  js/src/_openapi_client/core/pagination.ts
  js/src/_openapi_client/internal/utils/query.ts
  js/src/_openapi_client/resources/evaluators.ts
  js/src/_openapi_client/resources/feedback/feedback.ts
  js/src/_openapi_client/resources/feedback/tokens.ts
  js/src/_openapi_client/resources/index.ts
  js/src/_openapi_client/resources/runs/index.ts
  js/src/_openapi_client/resources/runs/runs.ts
  js/src/_openapi_client/resources/sandboxes/boxes.ts
  js/src/_openapi_client/resources/threads.ts
  js/src/_openapi_client/resources/threads/index.ts
  js/src/_openapi_client/resources/threads/threads.ts
  js/src/_openapi_client/resources/threads/traces.ts
  js/src/_openapi_client/resources/traces.ts
  js/src/_openapi_client/resources/traces/index.ts
  js/src/_openapi_client/resources/traces/runs.ts
  js/src/_openapi_client/resources/traces/traces.ts
  js/src/client.ts
Due: js-format, js-lint, js-typecheck
