Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(python): point Context._create_repo at /api/v1/repos/
  python/langsmith/context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

style(python): reformat async _create_repo after url change
  python/langsmith/context.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): use /v1/platform/... for Context directory endpoints
  python/langsmith/context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): make Context._create_repo idempotent on 409
  python/langsmith/context.py
  python/tests/integration_tests/test_context.py
  python/tests/integration_tests/test_context_async.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): use /repos/ for Context create to match prompt SDK convention
  python/langsmith/context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): use /repos prefix in Context for SDK parity
  python/langsmith/context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

fix(wrappers): suppress Pydantic warnings for ParsedBetaMessage in wrap_anthropic
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): expose per-sandbox proxy_config in py + js clients
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): expose per-sandbox proxy_config in py + js clients (#2742)
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py,js): py 0.7.33, js 0.5.21
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js): add agent/skill hub operations to Client
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/context.int.test.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

release(py,js): py 0.7.33, js 0.5.21 (#2743)
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: add Context schemas for agent/skill/file hub repos
  js/src/schemas.ts
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(python): skip Gemini/Google ADK integration tests on HTTP 429
  python/tests/integration_tests/conftest.py
  python/tests/integration_tests/wrappers/test_gemini.py
  python/tests/integration_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff

test(python): rerun Google ADK tests on transient failures
  python/tests/integration_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff

test(python): skip tests whose background threads raise 429
  python/tests/integration_tests/conftest.py
Due: python-format, python-lint-ruff

test(python): skip test_nested_async_runs_with_threadpool on 429
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

feat: export MAX_CONTEXT_ENTRIES from JS schemas for parity with Python
  js/src/schemas.ts
Due: js-format, js-lint, js-typecheck

feat: enhance AgentContext and SkillContext with commit_id and improve DirectoryCommitResponse structure
  js/src/schemas.ts
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: runtime selection of tracing destination
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_tracing_destinations.py
Due: python-format, python-lint-ruff, python-mypy

refactor: remove FileContext — SDKs only expose agent and skill
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

style: collapse AgentContext docstring to fix ruff format
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add Context and AsyncContext classes with unit tests
  python/langsmith/__init__.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): add agent/skill hub methods on Client with unit tests
  js/src/client.ts
  js/src/tests/context.test.ts
Due: js-format, js-lint, js-typecheck

test: integration tests for Context (python + js)
  js/src/tests/context.int.test.ts
  python/tests/integration_tests/test_context.py
  python/tests/integration_tests/test_context_async.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

Make sure we always create a nex extra object
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

feat(js): add hideMetadata support (#2720)
  js/src/client.ts
  js/src/tests/batch_client.test.ts
Due: js-format, js-lint, js-typecheck

test(js): use uuidv4 for Context integration test identifiers
  js/src/tests/context.int.test.ts
Due: js-format, js-lint, js-typecheck

feat: per-replica process callback for WriteReplica
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): bump vite to 7.3.2 to patch 2 high + 1 medium CVEs
  js/package.json
  js/pnpm-lock.yaml
Due: none

refactor: remove MAX_CONTEXT_ENTRIES constant from JS and Python schemas
  js/src/schemas.ts
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(python): address Context review feedback
  python/langsmith/context.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add agent_exists/skill_exists for JS parity
  python/langsmith/context.py
  python/tests/unit_tests/test_context.py
Due: python-format, python-lint-ruff, python-mypy

test(python): add Context integration tests to py impl PR
  python/tests/integration_tests/test_context.py
  python/tests/integration_tests/test_context_async.py
Due: python-format, python-lint-ruff

fix(js): enable Metro package exports for uuid 14 (ESM-only)
  js/internal/environment_tests/test-exports-metro/metro.config.js
Due: none

sandbox[python]: remove templates, pools, and volumes
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_exceptions.py
  python/tests/unit_tests/sandbox/test_models.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_tunnel.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
