Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat(python): add sandbox exception types and client plumbing (#2442)
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_exceptions.py
  python/tests/unit_tests/sandbox/test_exceptions.py
Due: python-format, python-lint-ruff, python-mypy

fix(py, claude agent sdk): Correctly parent spans in asyncio context (#2457)
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): Improve retry logic for tracing ops
  python/langsmith/_internal/_constants.py
  python/langsmith/_internal/_operations.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

format
  python/langsmith/_internal/_operations.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py, claude agent sdk): Add wrapping for PostToolUseFailure hook
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix unit tests
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff

int tests
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff

cleanup comments
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix tests
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff

send outputs on patch
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): Improve retry logic for tracing ops (#2459)
  python/langsmith/_internal/_constants.py
  python/langsmith/_internal/_operations.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

format
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

feat(py, claude agent sdk): Add wrapping for PostToolUseFailure hook (#2460)
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

rm debug logs
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.5 → 0.7.6
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore(claude agent sdk): rm debug logs (#2461)
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.6 (#2462)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): subagent tool calls tracking for latest claude agent sdk
  js/package.json
  js/src/experimental/anthropic/context.ts
  js/yarn.lock
Due: js-format, js-lint, js-typecheck

Add unit test
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

Revert unrelated changes
  js/yarn.lock
Due: none

Revert upgrading package
  js/package.json
  js/yarn.lock
Due: none

Swap to generic
  js/src/tests/claude_agent_sdk.int.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): subagent tool calls tracking for latest claude agent sdk (#2463)
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.int.test.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.5
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.5 (#2464)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Respect traceRawHttp for tracing streaming AI SDK calls
  js/src/experimental/vercel/middleware.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.6
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

fix(js): Respect traceRawHttp for tracing streaming AI SDK calls (#2466)
  js/src/experimental/vercel/middleware.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.6 (#2467)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat(python): add WebSocket transport for sandbox commands (#2443)
  python/langsmith/sandbox/_ws_execute.py
  python/pyproject.toml
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix: lint
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff

test(python): add tests for WebSocket transport layer (#2445)
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff

feat(python): use WebSocket transport by default with HTTP fallback (#2446)
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add CommandHandle for streaming, kill, stdin, and reconnect
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add CommandHandle for streaming, kill, stdin, and reconnect (#2450)
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy

test(python): add tests for CommandHandle and sandbox streaming integration
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff

test(python): add tests for CommandHandle and sandbox streaming integration (#2448)
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff

docs(python): document sandbox streaming, kill, stdin, and reconnect (#2449)
  python/langsmith/sandbox/README.md
Due: none

add trace dumping capabilities on tracing failure
  js/src/client.ts
  js/src/tests/failed_traces.test.ts
  python/langsmith/client.py
  python/tests/integration_tests/cassettes/test_openai_agents_test_concurrent_agent_runs_no_trace_loss.yaml
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck
