Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(py): complete a half-named agent pair on batch creates [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): warn once when a run is actually addressed to an agent [CI]
  python/langsmith/client.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Don't relocate a trace when the agent and a project are both configured
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Address `@traceable` runs by agent the same way every other entry point does
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): let an evaluation run under an ambient agent
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Take an agent everywhere an ingest entry point takes a project
  python/langsmith/_internal/_context.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): point child-runs errors at the -runs page
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test(py): keep the agent-addressing tests that pin a defect
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff

fix(py): correct broken migration-guide URLs in deprecation warnings (#3543)
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

More efficient reason extract from transcript
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
Due: python-format, python-lint-ruff, python-mypy

Fix stop_reason for turns interrupted in sub-agent run
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Improvements
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

feat: Claude SDK runs - `stop_reason` + tool and response IDs (#3558)
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/langsmith/integrations/claude_agent_sdk/_usage.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): add finish_reasons, tool ID and response ID to OTel exports
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): address the review's four merge-blockers
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): don't let an ambient agent reroute a distributed parent
  python/langsmith/run_helpers.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py): gather agent addressing into one internal module
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): address feedback parts by agent
  python/langsmith/_internal/_operations.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): mark the feedback agent fields experimental
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): address runs by agent instead of by project (#3520)
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): address feedback parts by agent (#3533)
  python/langsmith/_internal/_operations.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test(py): expect the Agent id wording the endpoint actually sends
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
Due: python-format, python-lint-ruff

test(py): follow the SDK fixes and the dev agents API
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

docs(py): the suite is green, so drop the last known-failure marker
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/test_evaluate.py
Due: python-format, python-lint-ruff

test(py): cover @traceable agent addressing
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

test(py): drive the rollout-gate test through @traceable
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): spell out each expected rejection where it is read
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): cover the agent rollout gate being off
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): match the real 403 body in the rollout-gate stub
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): assert which rejection the endpoint answered with
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
Due: python-format, python-lint-ruff

test(py): cover agent addressing end to end
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/__init__.py
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
Due: python-format, python-lint-ruff

test(py): cover feedback and evaluate under agent addressing
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

release(py): 0.14.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.11.0
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py): add finish_reasons and tool name/ID to OTel exports (#3570)
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.13.0 → 0.13.1
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.13.0 → 0.14.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.14.0 (#3574)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.5
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.10.5 (#3575)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck
