Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat: add LANGSMITH_AGENT_KEY and ingest it as agent_key
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/project.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py/js): keep stdin state across handle.reconnect(), format tests
  js/src/sandbox/command_handle.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): accept run_config on sandboxes, snapshots and commands
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/helpers.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_run_config.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_run_config.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_run_config.py
  python/tests/unit_tests/sandbox/test_sync_async_conversion.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: rename the agent addressing env vars
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(py): address runs by agent instead of project
  python/langsmith/_internal/_context.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

test(py): cover agent addressing, and keep an explicit None project
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): propagate agent addressing over baggage
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

test(py): trace OpenAI stream body errors through HTTP
  python/tests/unit_tests/conftest.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff

chore(js,py): trim comments in openai-agents ls_agent_type resolver
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore(js,py): plain-language comments in openai-agents integration
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(js,py): address review on openai-agents ls_agent_type resolver
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore(js,py): tighten comments in openai-agents ls_agent_type resolver
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(js,py): note why the openai-agents ls_agent_type resolver was introduced
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(js,py): trim openai-agents resolver preamble to Vercel-counterpart line
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js,py): tag guardrail/subagent structurally in openai-agents integration (#3523)
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): stop the parse() serializer warning in wrap_openai
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(livekit): prevent original history from shadowing system instructions
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): add explicit workspace validation [LSDK-315]
  python/README.md
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

x
  python/README.md
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py,js): report the configured tracing sample rate on runs (#3492)
  js/src/client.ts
  js/src/tests/batch_client.test.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(py): address feedback parts by agent
  python/langsmith/_internal/_operations.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): require the agent env vars as a pair
  python/langsmith/utils.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): upgrade vulnerable js-yaml and sharp
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-cf/pnpm-workspace.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

fix(js): align Cloudflare override metadata
  js/internal/environment_tests/test-exports-cf/package.json
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-cf/pnpm-workspace.yaml
Due: none

fix(js): upgrade vulnerable js-yaml and sharp (#3535)
  js/internal/environment_tests/test-exports-cf/package.json
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

feat(sandbox): support IAM roles in Python and JavaScript auth helpers
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox_aws_role_auth.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_aws_role_auth.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): stop sandbox run() from waiting ~1s on the server's TCP close after exit
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): stop sandbox run() from waiting ~1s on the server's TCP close after exit (#3538)
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): honor project_id in Client.has_project
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): carry the ADK tool call ids into traced messages [LSDK-509] (#3506)
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_messages.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

docs(openwiki): regenerate the ingestion pages, and add the measured capture
  openwiki/.claims/quickstart.json
  openwiki/.claims/workflows/trace-capture-and-ingestion.json
  openwiki/.claims/workflows/trace-ingestion-measured.json
  openwiki/.last-update.json
  openwiki/.page-manifest.json
  openwiki/index.md
  openwiki/quickstart.md
  openwiki/workflows/index.md
  openwiki/workflows/trace-capture-and-ingestion.md
  openwiki/workflows/trace-ingestion-measured.md
Due: none

openwiki init
  .github/workflows/openwiki-update.yml
  AGENTS.md
  CLAUDE.md
  openwiki/.claims/architecture/sdk-architecture.json
  openwiki/.claims/concepts/client-configuration-and-auth.json
  openwiki/.claims/concepts/platform-client.json
  openwiki/.claims/concepts/run-tree-and-context.json
  openwiki/.claims/integrations/provider-wrappers-and-opentelemetry.json
  openwiki/.claims/operations/development-and-release.json
  openwiki/.claims/quickstart.json
  openwiki/.claims/testing/repository-test-strategy.json
  openwiki/.claims/testing/test-tracking-and-assertions.json
  openwiki/.claims/workflows/evaluation-and-experiments.json
  openwiki/.claims/workflows/sandbox-lifecycle-and-execution.json
  openwiki/.claims/workflows/trace-capture-and-ingestion.json
  openwiki/.last-update.json
  openwiki/.page-manifest.json
  openwiki/INSTRUCTIONS.md
  openwiki/architecture/index.md
  openwiki/architecture/sdk-architecture.md
  openwiki/concepts/client-configuration-and-auth.md
  openwiki/concepts/index.md
  openwiki/concepts/platform-client.md
  openwiki/concepts/run-tree-and-context.md
  openwiki/index.md
  openwiki/integrations/index.md
  openwiki/integrations/provider-wrappers-and-opentelemetry.md
  openwiki/operations/development-and-release.md
  openwiki/operations/index.md
  openwiki/quickstart.md
  openwiki/testing/index.md
  openwiki/testing/repository-test-strategy.md
  openwiki/testing/test-tracking-and-assertions.md
  openwiki/workflows/evaluation-and-experiments.md
  openwiki/workflows/index.md
  openwiki/workflows/sandbox-lifecycle-and-execution.md
  openwiki/workflows/trace-capture-and-ingestion.md
Due: none

docs(openwiki): steer the wiki toward the trace-ingestion paths
  openwiki/INSTRUCTIONS.md
Due: none

Bump version: 0.12.4 → 0.12.5
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Update openwiki/operations/development-and-release.md
  openwiki/operations/development-and-release.md
Due: none

release(py): 0.12.5 (#3540)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.4
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.10.4 (#3542)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py): correct broken migration-guide URLs in deprecation warnings
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py)!: send agent addressing as a nested `agent` object
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy
