Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

test(py): add unit tests for wrap_gemini wrapper function
  python/tests/unit_tests/wrappers/test_wrap_gemini.py
Due: python-format, python-lint-ruff

Nit
  js/src/experimental/anthropic/context.ts
Due: js-format, js-lint, js-typecheck

Format
  js/src/experimental/anthropic/context.ts
Due: js-format, js-lint, js-typecheck

fix(js): Pull Claude Agent SDK subagent runs from transcript, add tool span for subagents, merge message blocks by id (#2816)
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/index.ts
  js/src/experimental/anthropic/messages.ts
  js/src/experimental/anthropic/transcripts.ts
  js/src/experimental/anthropic/types.ts
  js/src/experimental/anthropic/usage.ts
  js/src/tests/claude_agent_sdk.int.test.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.26
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Bump version: 0.7.37 → 0.7.38
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.26 (#2824)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.7.38 (#2825)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Require confirmation param when pulling public prompts
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_prompts.py
  python/tests/integration_tests/test_prompts_async.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Default perf optimizations to on
  js/src/client.ts
  js/src/tests/perf.int.test.ts
  js/src/utils/serialize_worker.ts
Due: js-format, js-lint, js-typecheck

feat(js): Default perf optimizations around large image payloads to on (#2829)
  js/src/client.ts
  js/src/tests/perf.int.test.ts
  js/src/utils/serialize_worker.ts
Due: js-format, js-lint, js-typecheck

x
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js,py): Require confirmation param when pulling public prompts (#2828)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_prompts.py
  python/tests/integration_tests/test_prompts_async.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js,py): JS 0.6.0, Py 0.8.0 (#2831)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/tests/perf.int.test.ts
  js/src/utils/serialize_worker.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_prompts.py
  python/tests/integration_tests/test_prompts_async.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release: 0.6.0
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Bump version: 0.7.38 → 0.8.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.6.0 (#2832)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.8.0 (#2833)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Add Python profile loading
  .gitignore
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Add JS profile loading
  .gitignore
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

chore(js): remove experimental opencode integration
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/src/experimental/opencode/index.ts
  js/src/experimental/opencode/tracer.ts
  js/src/tests/opencode/opencode.vitesttest.ts
  js/src/tests/opencode/ses_basic.jsonl
  js/src/tests/opencode/ses_editing.jsonl
  js/src/tests/opencode/ses_images.jsonl
  js/src/tests/opencode/ses_subagents.jsonl
  js/src/tests/utils/mock_client.vitest.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

chore(js): remove experimental opencode integration (#2836)
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/src/experimental/opencode/index.ts
  js/src/experimental/opencode/tracer.ts
  js/src/tests/opencode/opencode.vitesttest.ts
  js/src/tests/opencode/ses_basic.jsonl
  js/src/tests/opencode/ses_editing.jsonl
  js/src/tests/opencode/ses_images.jsonl
  js/src/tests/opencode/ses_subagents.jsonl
  js/src/tests/utils/mock_client.vitest.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

fix(py): silence wrapt import-untyped error after google-adk bump
  python/langsmith/integrations/google_adk/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Refresh profile auth before requests
  python/langsmith/_internal/_profiles.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Refresh profile auth before requests
  js/src/client.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

Use profile URL for OAuth refresh
  python/langsmith/_internal/_profiles.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Use profile URL for OAuth refresh
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

Fix stale profile auth headers
  python/langsmith/_internal/_profiles.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): prevent sending [object Object] as span attribute when dealing with nested objects, send full langsmith.usage_metadata if present
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_translator.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Add JS profile loading (#2834)
  .gitignore
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

Add Python profile loading (#2835)
  python/langsmith/_internal/_profiles.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Extract JS profile auth service
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/profiles.ts
Due: js-format, js-lint, js-typecheck

Bound JS profile auth tracking
  js/src/client.ts
  js/src/utils/profiles.ts
Due: js-format, js-lint, js-typecheck

Extract JS profile auth service (#2846)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/profiles.ts
Due: js-format, js-lint, js-typecheck

Bump JS SDK version to 0.6.1
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Bump Python SDK version to 0.8.1
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump Python SDK version to 0.8.1 (#2848)
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump JS SDK version to 0.6.1 (#2847)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat: add sandbox callback verifier identity
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_callback_verifier.py
  python/tests/unit_tests/sandbox/test_callback_verifier.py
Due: python-format, python-lint-ruff, python-mypy

feat: add sandbox callback verifier
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_callback_verifier.py
  python/tests/unit_tests/sandbox/test_callback_verifier.py
Due: python-format, python-lint-ruff, python-mypy
