Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

Spread OpenAI request metadata into traced metadata
  js/src/tests/wrapped_openai.int.test.ts
  js/src/wrappers/openai.ts
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(otel): make rebuild_readable_span name/end_time required params
  python/langsmith/_internal/otel/_span_utils.py
  python/langsmith/integrations/strands_agents/exporter.py
  python/tests/unit_tests/test_span_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(otel): rebuild spans from updated draft fields
  python/langsmith/_internal/otel/_span_utils.py
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/strands_agents/exporter.py
  python/tests/unit_tests/test_span_utils.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(pipecat): capture realtime tool calls and OpenAI realtime history
  python/langsmith/_internal/otel/_span_utils.py
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(pipecat): capture realtime tool calls and OpenAI realtime history (#3218)
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(py,js): Spread OpenAI request metadata into traced metadata (#3220)
  js/src/tests/wrapped_openai.int.test.ts
  js/src/wrappers/openai.ts
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(deps): correct uv override-dependencies syntax for json-repair
  python/pyproject.toml
  python/uv.lock
Due: none

feat(pipecat): capture realtime user transcripts in conversation order
  python/langsmith/integrations/pipecat/__init__.py
  python/langsmith/integrations/pipecat/_helpers.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat: capture Pipecat realtime transcripts (#3219)
  python/langsmith/integrations/pipecat/__init__.py
  python/langsmith/integrations/pipecat/_helpers.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

fix(deps): correct uv override-dependencies syntax for json-repair (#3221)
  python/pyproject.toml
  python/uv.lock
Due: none

fix(py/openai,gemini): handle OTel-style sync wrappers around async methods
  python/langsmith/wrappers/_gemini.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix: preserve env replica project names
  js/src/run_trees.ts
  js/src/tests/replica_endpoints.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: preserve env replica project names (#3224)
  js/src/run_trees.ts
  js/src/tests/replica_endpoints.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.10.5 → 0.10.6
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): Bump version: 0.10.5 → 0.10.6 (#3225)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(async-py,js): restore _get_openapi_base_url to strip /api/v1 before passing to OpenAPI client
  js/src/client.ts
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Expose method for calculating replica ids
  js/src/index.ts
  js/src/run_trees.ts
  js/src/tests/run_trees.uuid.test.ts
  js/src/uuid.ts
  python/langsmith/__init__.py
  python/langsmith/run_trees.py
  python/langsmith/uuid.py
  python/tests/unit_tests/test_uuid_v7.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(py/strands): convert Bedrock reasoningContent blocks to thinking format
  python/langsmith/integrations/strands_agents/exporter.py
  python/tests/integration_tests/wrappers/test_strands_agents.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
Due: python-format, python-lint-ruff, python-mypy

feat(py/strands): convert Strands tool results into tool output block
  python/langsmith/integrations/strands_agents/exporter.py
  python/tests/integration_tests/wrappers/test_strands_agents.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
Due: python-format, python-lint-ruff, python-mypy

fix(claude-agent-sdk): propagate SDK stream exceptions to the caller
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.10.7Bump version to 0.10.7
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.10.7
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.4
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.8.4 (#3230)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat: shared-run accessor + runs.share and public.runs itg tests
  js/src/client.ts
  js/src/tests/public_runs.int.test.ts
  js/src/tests/runs_share.int.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_v2_public_runs.py
  python/tests/integration_tests/test_v2_runs_share.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(python): bump py version to 0.10.7 (#3229)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Update comments
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: support stable tracing project IDs [closes LSDK-319]
  js/README.md
  js/src/client.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
  python/README.md
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(client): shared-run accessor + runs.share and public.runs itg tests (#3232)
  js/src/client.ts
  js/src/tests/public_runs.int.test.ts
  js/src/tests/runs_share.int.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_v2_public_runs.py
  python/tests/integration_tests/test_v2_runs_share.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Simplify
  js/src/index.ts
  js/src/run_trees.ts
  js/src/tests/replica_endpoints.test.ts
  js/src/tests/run_trees.test.ts
  js/src/tests/run_trees.uuid.test.ts
  js/src/uuid.ts
  python/langsmith/run_trees.py
  python/langsmith/uuid.py
  python/tests/unit_tests/test_replica_endpoints.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_uuid_v7.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Rename
  js/src/index.ts
  js/src/tests/run_trees.test.ts
  js/src/tests/run_trees.uuid.test.ts
  js/src/uuid.ts
  python/langsmith/__init__.py
  python/langsmith/uuid.py
  python/tests/unit_tests/test_replica_endpoints.py
  python/tests/unit_tests/test_uuid_v7.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix Devin comment
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(py,js): Expose method for calculating replica ids and add concept of a primary replica (#3233)
  js/src/index.ts
  js/src/run_trees.ts
  js/src/tests/replica_endpoints.test.ts
  js/src/tests/run_trees.test.ts
  js/src/tests/run_trees.uuid.test.ts
  js/src/uuid.ts
  python/langsmith/__init__.py
  python/langsmith/run_trees.py
  python/langsmith/uuid.py
  python/tests/unit_tests/test_replica_endpoints.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_uuid_v7.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.10.7 → 0.10.8
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): Bump version: 0.10.7 → 0.10.8 (#3234)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: exclude internal signing env vars from trace run metadata
  python/langsmith/env/_runtime_env.py
  python/tests/unit_tests/test_env.py
Due: python-format, python-lint-ruff, python-mypy

feat(py/strands): improved tracing of thinking and tool result blocks from Strands [closes #3226] (#3195)
  python/langsmith/integrations/strands_agents/exporter.py
  python/tests/integration_tests/wrappers/test_strands_agents.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
Due: python-format, python-lint-ruff, python-mypy

Format
  python/langsmith/integrations/strands_agents/exporter.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): exclude internal signing env vars from trace metadata (#3235)
  python/langsmith/env/_runtime_env.py
  python/tests/unit_tests/test_env.py
Due: python-format, python-lint-ruff, python-mypy
