Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(py): trace ClaudeSDKClient.receive_messages()
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): propagate Claude Agent SDK stream errors to the caller
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): record later query() prompts in a single receive_messages() loop
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): detect new query() by timestamp, not prompt text
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): select s3_urls in list_runs so run.attachments is populated
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

test(py): read attachments via read_run in test_trace_file_path
  python/langsmith/client.py
  python/tests/integration_tests/test_runs.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

ci: mirror merges to the staging repos
  .github/scripts/mirror-to-staging.sh
  .github/workflows/mirror-to-staging.yml
  CONTRIBUTING.md
Due: none

fix(ci): address mirror review findings
  .github/scripts/mirror-to-staging.sh
  .github/workflows/mirror-to-staging.yml
Due: none

ci(mirror): ping Thibaut on Slack when a mirror PR is opened or updated
  .github/workflows/mirror-to-staging.yml
Due: none

ci(mirror): one cumulative branch per staging repo
  .github/scripts/mirror-to-staging.sh
  .github/workflows/mirror-to-staging.yml
  CONTRIBUTING.md
Due: none

ci(mirror): replay every unmirrored commit, fix the push lease
  .github/scripts/mirror-since.sh
  .github/workflows/mirror-to-staging.yml
Due: none

ci(mirror): write the PR body to its own file, not the replay summary
  .github/workflows/mirror-to-staging.yml
Due: none

ci: mirror merges to the staging repos (#3578)
  .github/scripts/mirror-since.sh
  .github/scripts/mirror-to-staging.sh
  .github/workflows/mirror-to-staging.yml
  CONTRIBUTING.md
Due: none

ci(mirror): read the App key from the org secret, run on ubuntu-latest
  .github/workflows/mirror-to-staging.yml
Due: none

ci: drop the push-based mirror workflow, staging pulls instead
  .github/scripts/mirror-since.sh
  .github/scripts/mirror-to-staging.sh
  .github/workflows/mirror-to-staging.yml
  CONTRIBUTING.md
Due: none

fix(py): preserve invocation parameters in OTel exports
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): enhance tracing for Claude Agent SDK's receive_messages and response handling
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

test(py): add parameterized tests for context changes in receive_messages
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): remove unnecessary comment regarding receive_messages delegation in Claude Agent SDK instrumentation
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

ci: drop the push-based mirror workflow, staging pulls instead (#3580)
  .github/scripts/mirror-since.sh
  .github/scripts/mirror-to-staging.sh
  .github/workflows/mirror-to-staging.yml
  CONTRIBUTING.md
Due: none

fix(py): enhance context management in instrument_claude_client for tracing
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add ls.agent handle for agent addressing
  python/langsmith/__init__.py
  python/langsmith/_agent.py
  python/tests/unit_tests/test_agent.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): don't restrict agent environments client-side
  python/langsmith/_agent.py
  python/tests/unit_tests/test_agent.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): accept an Agent handle wherever the agent pair is accepted
  python/langsmith/_agent.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_agent.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): shuffle a per-comparator copy of runs in evaluate_comparative
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_evaluate_comparative.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): address runs by agent instead of by project
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/agent_addressing.test.ts
  js/src/tests/client.test.ts
  js/src/utils/agent_addressing.ts
  js/src/utils/env.ts
Due: js-format, js-lint, js-typecheck

Updates
  js/src/client.ts
  js/src/run_trees.ts
  js/src/tests/agent_addressing.test.ts
  js/src/utils/agent_addressing.ts
Due: js-format, js-lint, js-typecheck

test(python): drop Agent handle unit tests
  python/tests/unit_tests/test_agent.py
Due: python-format, python-lint-ruff

refactor(python): rename the Agent handle to Target
  python/langsmith/__init__.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_target.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add an optional region to agent addressing (POC)
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/_internal/_operations.py
  python/langsmith/_target.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): propagate the Target whole instead of loose agent fields
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/_internal/_operations.py
  python/langsmith/_target.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add an optional region dimension to Target (POC)
  python/langsmith/_target.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): target addressing in each of the six root-run placements (POC)
  examples/target_addressing.py
Due: none

refactor(python): rename agent env vars to LANGSMITH_TARGET_*
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_target.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): use LANGSMITH_TARGET_* env vars
  examples/target_addressing.py
Due: none

refactor(python): rename agent baggage keys to langsmith-target-*
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): split target addressing examples into one file each
  examples/target_addressing.py
  examples/target_addressing/1_tracing_context.py
  examples/target_addressing/2_distributed_parent.py
  examples/target_addressing/3_langsmith_extra.py
  examples/target_addressing/4_traceable.py
  examples/target_addressing/5_configure.py
  examples/target_addressing/6_env_vars.py
  examples/target_addressing/7_inheritance.py
  examples/target_addressing/8_replicas.py
  examples/target_addressing/9_loose_fields.py
  examples/target_addressing/README.md
Due: none

feat(python): resolve project and target over one precedence walk
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

test(py): port agent addressing integration tests onto the Target stack
  python/tests/integration_tests/agent_addressing/README.md
  python/tests/integration_tests/agent_addressing/__init__.py
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/inventory.md
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

feat(python): leave calls untraced when the env can't address them
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_target.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
