Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

refactor(python): keep the LRN private; baggage carries agent id and environment
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/address.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

feat: add an Address interface and ls.Agent implementation
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
  python/langsmith/__init__.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(python): carry Address, not Agent; rename _agent_addressing to _addressing
  python/langsmith/_internal/_addressing.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

refactor(js): rename agent_addressing to addressing
  js/src/client.ts
  js/src/run_trees.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/addressing.ts
Due: js-format, js-lint, js-typecheck

refactor(python): accept only Address objects; LRN only on the wire
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

refactor(js): keep the LRN private; baggage carries agent id and environment
  js/src/address.ts
  js/src/client.ts
  js/src/run_trees.ts
  js/src/tests/address.test.ts
  js/src/utils/agent_addressing.ts
Due: js-format, js-lint, js-typecheck

refactor(js): carry Address, not Agent; the interface owns its wire and header forms
  js/src/address.ts
  js/src/client.ts
  js/src/run_trees.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/agent_addressing.ts
Due: js-format, js-lint, js-typecheck

refactor(js): ingestion takes only Agent; Address names any project holder
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/addressing.ts
Due: js-format, js-lint, js-typecheck

feat(python): add Agent.to_agent_address
  python/langsmith/address.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

refactor(js): accept only Address objects; LRN only on the wire
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/utils/agent_addressing.ts
Due: js-format, js-lint, js-typecheck

docs: label every public addressing API and parameter as beta
  js/src/address.ts
  js/src/client.ts
  python/langsmith/address.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: move the address examples to a follow-up PR
  examples/agent_addresses/README.md
  examples/agent_addresses/python/configure.py
  examples/agent_addresses/python/create_run.py
  examples/agent_addresses/python/env_vars.py
  examples/agent_addresses/python/experiment_traces.py
  examples/agent_addresses/python/langsmith_extra.py
  examples/agent_addresses/python/query_agent_traces.py
  examples/agent_addresses/python/run_tree.py
  examples/agent_addresses/python/trace_context_manager.py
  examples/agent_addresses/python/traceable.py
  examples/agent_addresses/python/tracing_context.py
  examples/agent_addresses/typescript/create_run.ts
  examples/agent_addresses/typescript/run_tree.ts
  examples/agent_addresses/typescript/traceable.ts
Due: none

refactor(python): expose address resolution as client.sessions.resolve
  python/langsmith/_openapi_client/_client.py
  python/langsmith/_openapi_client/resources/__init__.py
  python/langsmith/_openapi_client/resources/sessions.py
  python/langsmith/_openapi_client/types/__init__.py
  python/langsmith/_openapi_client/types/session_resolve_params.py
  python/langsmith/_openapi_client/types/session_resolve_response.py
  python/langsmith/address.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: validate a wire address, align experiment ids, update the addressing docs
  js/src/tests/address.test.ts
  js/src/utils/addressing.ts
  python/langsmith/_internal/_addressing.py
  python/langsmith/address.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: carry the address in baggage as a single LRN entry
  js/src/address.ts
  js/src/run_trees.ts
  js/src/tests/address.test.ts
  python/langsmith/address.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: name the agent environment `environment` everywhere
  js/src/address.ts
  js/src/tests/address.test.ts
  python/langsmith/_internal/_addressing.py
  python/langsmith/address.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): format with oxfmt [CI]
  js/src/client.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

fix(js): keep an applied address when a queued run is sent; add address examples
  examples/agent_addresses/README.md
  examples/agent_addresses/python/configure.py
  examples/agent_addresses/python/create_run.py
  examples/agent_addresses/python/env_vars.py
  examples/agent_addresses/python/experiment_traces.py
  examples/agent_addresses/python/langsmith_extra.py
  examples/agent_addresses/python/query_agent_traces.py
  examples/agent_addresses/python/run_tree.py
  examples/agent_addresses/python/trace_context_manager.py
  examples/agent_addresses/python/traceable.py
  examples/agent_addresses/python/tracing_context.py
  examples/agent_addresses/typescript/create_run.ts
  examples/agent_addresses/typescript/run_tree.ts
  examples/agent_addresses/typescript/traceable.ts
  js/src/tests/address.test.ts
  js/src/utils/addressing.ts
Due: js-format, js-lint, js-typecheck

feat(python): addresses for experiments and evaluators; ingestion takes only Agent
  python/langsmith/__init__.py
  python/langsmith/_internal/_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): expose address resolution as client.projects.resolve
  examples/agent_addresses/python/experiment_traces.py
  examples/agent_addresses/python/query_agent_traces.py
  python/langsmith/_openapi_client/_client.py
  python/langsmith/_openapi_client/resources/__init__.py
  python/langsmith/_openapi_client/resources/sessions.py
  python/langsmith/_openapi_client/types/__init__.py
  python/langsmith/_openapi_client/types/project_resolve_params.py
  python/langsmith/_openapi_client/types/project_resolve_response.py
  python/langsmith/address.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): resolve an address with GET; require backend 0.18.0
  examples/agent_addresses/python/experiment_traces.py
  examples/agent_addresses/python/query_agent_traces.py
  python/langsmith/address.py
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

fix(py,js): scope redaction to named fields
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py,js): redact license key and API key salt assignments (#3676)
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: keep the address names in the address namespace
  js/src/address.ts
  js/src/address_public.ts
  js/src/index.ts
  js/src/tests/address.test.ts
  python/langsmith/__init__.py
  python/langsmith/_internal/_addressing.py
  python/langsmith/address.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Revert "refactor: keep the address names in the address namespace"
  js/src/address.ts
  js/src/address_public.ts
  js/src/index.ts
  js/src/tests/address.test.ts
  python/langsmith/__init__.py
  python/langsmith/_internal/_addressing.py
  python/langsmith/address.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: name the address classes AgentAddress, ExperimentAddress and EvaluatorAddress
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/utils/addressing.ts
  python/langsmith/__init__.py
  python/langsmith/_internal/_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: build the URL of a run sent to an agent
  js/src/client.ts
  js/src/tests/address.test.ts
  python/langsmith/_internal/_addressing.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: add AgentAddress, ExperimentAddress and EvaluatorAddress (#3664)
  js/src/address.ts
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/address.test.ts
  js/src/traceable.ts
  js/src/utils/addressing.ts
  python/langsmith/__init__.py
  python/langsmith/_internal/_addressing.py
  python/langsmith/_internal/_context.py
  python/langsmith/address.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_operations.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js): expose client.sessions to resolve an address
  js/src/address.ts
  js/src/client.ts
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

docs: use the Address suffix in the examples
  examples/agent_addresses/python/configure.py
  examples/agent_addresses/python/create_run.py
  examples/agent_addresses/python/experiment_traces.py
  examples/agent_addresses/python/langsmith_extra.py
  examples/agent_addresses/python/query_agent_traces.py
  examples/agent_addresses/python/run_tree.py
  examples/agent_addresses/python/trace_context_manager.py
  examples/agent_addresses/python/traceable.py
  examples/agent_addresses/python/tracing_context.py
  examples/agent_addresses/typescript/create_run.ts
  examples/agent_addresses/typescript/run_tree.ts
  examples/agent_addresses/typescript/traceable.ts
Due: none

docs: add examples for addressing runs and resolving addresses
  examples/agent_addresses/README.md
  examples/agent_addresses/python/configure.py
  examples/agent_addresses/python/create_run.py
  examples/agent_addresses/python/env_vars.py
  examples/agent_addresses/python/experiment_traces.py
  examples/agent_addresses/python/langsmith_extra.py
  examples/agent_addresses/python/query_agent_traces.py
  examples/agent_addresses/python/run_tree.py
  examples/agent_addresses/python/trace_context_manager.py
  examples/agent_addresses/python/traceable.py
  examples/agent_addresses/python/tracing_context.py
  examples/agent_addresses/typescript/create_run.ts
  examples/agent_addresses/typescript/run_tree.ts
  examples/agent_addresses/typescript/traceable.ts
Due: none

docs: resolve addresses with client.sessions.resolve in the examples
  examples/agent_addresses/python/experiment_traces.py
  examples/agent_addresses/python/query_agent_traces.py
Due: none

Annotate sandbox ID on each command stream read
  js/src/sandbox/command_handle.ts
  js/src/tests/sandbox_tracing.test.ts
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_tracing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Attach sandbox IDs to active tracing metadata (#3644)
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/service_url.ts
  js/src/sandbox/tracing.ts
  js/src/tests/sandbox_tracing.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_tracing.py
  python/tests/unit_tests/sandbox/test_run_config_and_files.py
  python/tests/unit_tests/sandbox/test_tracing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js): expose client.sessions to resolve an address (#3679)
  js/src/address.ts
  js/src/client.ts
  js/src/tests/address.test.ts
Due: js-format, js-lint, js-typecheck

feat: accept an address of any kind in get_run_url
  js/src/address.ts
  js/src/client.ts
  js/src/tests/address.test.ts
  python/langsmith/_internal/_addressing.py
  python/langsmith/address.py
  python/langsmith/client.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: resolve an address passed to get_run_url before the run's default project
  python/langsmith/client.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

fix: read a run's own address only when nothing names its project
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: normalize sandbox API endpoint prefixes
  js/src/client.ts
  js/src/sandbox/client.ts
  js/src/tests/sandbox_endpoints.test.ts
  js/src/utils/api_url.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_endpoints.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
