Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

refactor(js): use string[] | RunToAddByKey[] union for addRunsToAnnotationQueue
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/client.int.test.ts
Due: js-format, js-lint, js-typecheck

Quote sandbox client URL path segments
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
Due: python-format, python-lint-ruff, python-mypy

Fix sandbox client import ordering
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
Due: python-format, python-lint-ruff, python-mypy

ci: freeze pnpm environment test installs
  js/internal/environment_tests/docker-compose.yml
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-cjs/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-esm/pnpm-lock.yaml
Due: none

ci: freeze pnpm environment test installs (#3168)
  js/internal/environment_tests/docker-compose.yml
  js/internal/environment_tests/test-exports-cf/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-cjs/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-esm/pnpm-lock.yaml
Due: none

fix: bound voice streaming audio buffers
  python/langsmith/_internal/voice/audio.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

fix: report natural-play audio truncation
  python/langsmith/_internal/voice/audio.py
  python/langsmith/_internal/voice/session.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

fix: tolerate slower v2 integration indexing
  python/tests/integration_tests/test_v2_threads.py
  python/tests/integration_tests/test_v2_traces.py
Due: python-format, python-lint-ruff

fix: reduce run query rate limit pressure
  python/tests/integration_tests/test_runs.py
Due: python-format, python-lint-ruff

Bump version: 0.9.8 → 0.10.0
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.0
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.8.0 (#3171)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.10.0 (#3170)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: bound voice streaming audio buffers (#3169)
  python/langsmith/_internal/voice/audio.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/google_adk_live/_plugin.py
  python/langsmith/integrations/openai_realtime/_connection.py
  python/langsmith/integrations/openai_realtime/_session.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/integration_tests/test_runs.py
  python/tests/integration_tests/test_v2_threads.py
  python/tests/integration_tests/test_v2_traces.py
  python/tests/unit_tests/wrappers/test_pipecat.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

refactor: rename RunToAddByKey -> RunKey; validate homogeneous runs list (js)
  js/src/client.ts
  js/src/schemas.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(js): simplify addRunsToAnnotationQueue routing to allStrings check
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

test: cover insights report html escaping
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff

fix: guard remote HTTP credentials
  python/langsmith/_openapi_client/_client.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/utils.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix: narrow HTTP credential guard
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/utils.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor(voice): move span attribute setters onto TranslatedSpan
  python/langsmith/_internal/voice/base_span_processor.py
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): expose openapi client error classes
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/tsconfig.json
Due: none

fix: make trace sampling deterministic [closes LIN-369]
  js/src/client.ts
  js/src/tests/batch_client.test.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: preserve workspace override in auto-batch queue
  js/src/client.ts
  js/src/tests/batch_client.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): re-export openapi client error classes from root entrypoint
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/src/index.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

chore(js): revert unrelated tsconfig.json formatting from prior commit
  js/tsconfig.json
Due: none

feat(js): expose openapi client error classes (#3181)
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat(livekit): capture realtime user transcript and tool-call output
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.1
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.1 (#3184)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.1
  js/package.json
Due: none

also bump __version__ in js/src/index.ts
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.8.1 (#3185)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

refactor(voice): move span attribute setters onto TranslatedSpan (#3179)
  python/langsmith/_internal/voice/base_span_processor.py
  python/langsmith/integrations/livekit/__init__.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): satisfy mypy in add_runs_to_annotation_queue
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat: add SmithDB by-key path to add_runs_to_annotation_queue (runs= param) [LSDK-287] (#3077)
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/client.int.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

livekit
  python/langsmith/_internal/voice/base_span_processor.py
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

refactor(voice): apply livekit cleanup to pipecat, share message helpers
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/_internal/voice/audio.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/pipecat/_helpers.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

refactor(livekit + pipecat): Refactor for clarity (#3187)
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/_internal/voice/audio.py
  python/langsmith/_internal/voice/base_span_processor.py
  python/langsmith/_internal/voice/translated_span.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/langsmith/integrations/pipecat/_helpers.py
  python/langsmith/integrations/pipecat/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
  python/tests/unit_tests/wrappers/test_pipecat.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): re-export openapi client exceptions from langsmith package
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
