Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(py): optimize to_bytes method to prevent unnecessary re-encoding of multipart body
  python/langsmith/_internal/_multipart.py
  python/tests/unit_tests/test_multipart_attachment_reencode.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): support snapshot tags in the Python client (#3447)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy

feat: LangSmithSecret class for redacting sensitive function parameters
  python/langsmith/__init__.py
  python/langsmith/_internal/_orjson.py
  python/langsmith/_internal/_serde.py
  python/langsmith/_internal/otel/_attribute_utils.py
  python/langsmith/anonymizer.py
  python/langsmith/client.py
  python/langsmith/secret.py
  python/tests/unit_tests/secret/test_secret_integration.py
  python/tests/unit_tests/secret/test_secret_serde.py
  python/tests/unit_tests/secret/test_secret_type.py
Due: python-format, python-lint-ruff, python-mypy

perf: reuse persistent ThreadPoolExecutor in hybrid tracing [closes LSDK-213]
  python/langsmith/_internal/_background_thread.py
Due: python-format, python-lint-ruff, python-mypy

Simplification - send mutlipart & otel sequentially within same thread
  python/langsmith/_internal/_background_thread.py
  python/tests/unit_tests/test_background_thread.py
Due: python-format, python-lint-ruff, python-mypy

New approach - for fork safety and performance
  python/langsmith/_internal/_background_thread.py
  python/tests/unit_tests/test_background_thread.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): retry sandbox websocket rate limits
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): retry sandbox websocket rate limits
  js/src/sandbox/errors.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  js/src/tests/sandbox_ws_handshake.test.ts
Due: js-format, js-lint, js-typecheck

fix(py,js): retry rate-limited sandbox websocket connections (#3493)
  js/src/sandbox/errors.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  js/src/tests/sandbox_ws_handshake.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.12.1 → 0.12.2
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.2
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.12.2 (#3494)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.2 (#3495)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

test(py): benchmark compressed trace ingestion
  python/bench/cases.py
  python/bench/create_compressed_run_tree.py
Due: python-format, python-lint-ruff

test(py): benchmark compressed trace ingestion (#3497)
  python/bench/cases.py
  python/bench/create_compressed_run_tree.py
Due: python-format, python-lint-ruff

fix(py): make the multipart body replayable across both retry layers (#3483)
  python/langsmith/_internal/_constants.py
  python/langsmith/_internal/_multipart.py
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_multipart_attachment_reencode.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

test: ensure sampling rate is preserved during patch without extra metadata
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py): scope sample rate to the Python SDK
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Unittest for thread count and a benchmark test for hybrid payloads
  python/bench/cases.py
  python/bench/hybrid_tracing.py
  python/tests/unit_tests/test_background_thread.py
Due: python-format, python-lint-ruff

fix(wrappers): suppress OpenAI parse serialization warnings
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix(client): remove unnecessary comments regarding metadata handling in patch updates
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Support both-sides of concat and %-interpolation
  python/langsmith/secret.py
  python/tests/unit_tests/secret/test_secret_type.py
Due: python-format, python-lint-ruff, python-mypy

feat(tracing): add support for tracing sample rate in client and tests
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(client): remove outdated comments regarding metadata handling in patch updates
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Benchmark cases
  python/bench/cases.py
  python/bench/wrapped_llm_calls.py
Due: python-format, python-lint-ruff

fix(tracing): update sample rate handling in client to ensure it is added to metadata only if not present
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): stamp runtime on non-batched run patches
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix(client): remove outdated comments regarding runtime stamping in non-batched patches
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix(client): simplify payload serialization by removing runtime environment merging
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

fix: detect cycles in the secret redaction walk
  python/langsmith/_internal/otel/_attribute_utils.py
  python/langsmith/secret.py
  python/tests/unit_tests/secret/test_secret_serde.py
Due: python-format, python-lint-ruff, python-mypy

fix(docs): update README examples for clarity and correctness
  python/README.md
Due: none

fix(docs): update model version in README examples to gpt-5.4
  README.md
  js/README.md
  python/README.md
Due: none

fix(docs): update model version in README examples to gpt-5.4
  README.md
  js/README.md
Due: none

fix(docs): correct README code examples and update model references (#3503)
  README.md
  js/README.md
  python/README.md
Due: none

feat: LangSmithSecret class for redacting sensitive function parameters (#3484)
  python/bench/cases.py
  python/bench/wrapped_llm_calls.py
  python/langsmith/__init__.py
  python/langsmith/_internal/_orjson.py
  python/langsmith/_internal/_serde.py
  python/langsmith/_internal/otel/_attribute_utils.py
  python/langsmith/anonymizer.py
  python/langsmith/client.py
  python/langsmith/secret.py
  python/tests/unit_tests/secret/test_secret_integration.py
  python/tests/unit_tests/secret/test_secret_serde.py
  python/tests/unit_tests/secret/test_secret_type.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): support proxy_config in update_sandbox (Python + JS) (#3430)
  js/src/sandbox/client.ts
  js/src/sandbox/helpers.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck
