Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(python): fix mypy error in exception propagation
  python/langsmith/evaluation/_arunner.py
Due: python-format, python-lint-ruff, python-mypy

test(python): add AsyncExperimentResults edge case tests
  python/tests/unit_tests/evaluation/test_async_experiment_results.py
Due: python-format, python-lint-ruff

fix(python): remove error message assertion from integration test
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

fix(python): replace busy-wait in AsyncExperimentResults.__anext__ (#2550)
  python/langsmith/evaluation/_arunner.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): propagate exceptions from AsyncExperimentResults._proces… (#2572)
  python/langsmith/evaluation/_arunner.py
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): remove unused asyncio import in test file
  python/tests/unit_tests/evaluation/test_async_experiment_results.py
Due: python-format, python-lint-ruff

style(python): auto-format test file
  python/tests/unit_tests/evaluation/test_async_experiment_results.py
Due: python-format, python-lint-ruff

fix(python): propagate exceptions from ExperimentResults._process_data
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_sync_experiment_results.py
Due: python-format, python-lint-ruff, python-mypy

test(python): add AsyncExperimentResults edge case tests (#2573)
  python/tests/unit_tests/evaluation/test_async_experiment_results.py
Due: python-format, python-lint-ruff

fix(python): handle concurrent example creation in pytest-xdist (#2549)
  python/langsmith/testing/_internal.py
Due: python-format, python-lint-ruff, python-mypy

AI SDK telemetry
  js/package.json
  js/src/experimental/vercel/index.ts
  js/src/experimental/vercel/middleware.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/wrap.ts
  js/src/tests/vercel/telemetry/anthropic.int.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.int.test.ts
  js/yarn.lock
Due: js-format, js-lint, js-typecheck

fix(python): propagate exceptions from ExperimentResults._process_data (#2574)
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_sync_experiment_results.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.17 → 0.7.18
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.17 → 0.7.18 (#2582)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): fix flaky test_workspace_error_recovery_flow
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix(python): fix flaky test_workspace_error_recovery_flow (#2583)
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

adding tracking for sdk create dataset source
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: set source: "sdk" on SDK-created datasets (#2584)
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(python): add _on_ending to OtelSpanProcessor for opentelemetry-sdk 1.40.0
  python/langsmith/integrations/otel/processor.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): add _on_ending to OtelSpanProcessor for opentelemetry-sdk 1.40.0 (#2586)
  python/langsmith/integrations/otel/processor.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.18 → 0.7.19
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.18 → 0.7.19 (#2588)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: apply auth headers for multipart compressed
  python/langsmith/__init__.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

lint
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

chore: apply auth headers for multipart compressed (#2589)
  python/langsmith/__init__.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Fix AI SDK and Claude Agents SDK
  js/src/experimental/anthropic/index.ts
  js/src/experimental/vercel/index.ts
  js/src/tests/claude_agent_sdk.test.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

fix(js): Fix AI SDK and Claude Agents SDK in non-Node envs (#2591)
  js/src/experimental/anthropic/index.ts
  js/src/experimental/vercel/index.ts
  js/src/tests/claude_agent_sdk.test.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.11
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.11 (#2592)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: add debug logging to background thread shutdown and final flush
  python/langsmith/_internal/_background_thread.py
Due: python-format, python-lint-ruff, python-mypy

fix: add debug logging to background thread shutdown and final flush (#2597)
  python/langsmith/_internal/_background_thread.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump python SDK version to 0.7.21
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump python SDK version to 0.7.21 (#2598)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: add experiment id
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

chore: comparison url
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

chore: update the version
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: make ExperimentResults.url return the comparison/dataset view URL
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

chore: add experiment id (#2599)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

Parse AI SDK reasoning blocks into standard content blocks
  js/src/experimental/vercel/utils.ts
Due: js-format, js-lint, js-typecheck

feat(js): Parse AI SDK reasoning blocks into standard content blocks (#2601)
  js/src/experimental/vercel/utils.ts
Due: js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
