Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat(client): expose v2 OpenAPI runs resource on Python and JS clients (#3084)
  js/src/client.ts
  js/src/tests/client.int.test.ts
  python/langsmith/_internal/_beta_decorator.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.2
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): bump js sdk version to 0.7.12
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(python): bump py version to 0.9.2 (#3088)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): bump js sdk version to 0.7.12 (#3089)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): do not gate dataplane ops on sandbox status
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): do not gate dataplane ops on sandbox status (#3090)
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci: pin all GitHub Actions to immutable SHA pins
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/actions/python-integration-tests/action.yml
  .github/workflows/auto-label-issues.yml
  .github/workflows/js-perf.yml
  .github/workflows/link-check.yml
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
  .github/workflows/release.yml
  .github/workflows/release_js.yml
Due: none

fix(google_adk): capture LLM inputs after before_model_callback runs
  python/langsmith/integrations/google_adk/_client.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

lint
  python/langsmith/integrations/google_adk/_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: remove unsupported sandbox registry credentials
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): expose registries via generated v2 client
  js/src/client.ts
  js/src/sandbox/README.md
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): expose registries on SandboxClient
  js/src/sandbox/client.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: lazily initialize sync OpenAPI client
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

ci: pin all GitHub Actions to immutable SHA pins (#3093)
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/actions/python-integration-tests/action.yml
  .github/workflows/auto-label-issues.yml
  .github/workflows/js-perf.yml
  .github/workflows/link-check.yml
  .github/workflows/py-baseline.yml
  .github/workflows/py-bench.yml
  .github/workflows/release.yml
  .github/workflows/release_js.yml
Due: none

feat(sandbox): expose registries via generated v2 client (#3087)
  js/src/client.ts
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: use _get_langsmith_api() for sandboxes property [CI]
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(client): apply anonymizer to run error field
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(client): lazily initialize sync OpenAPI client (#3099)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.9.3
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.9.3
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(python): bump py version to 0.9.3 (#3101)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

nit
  python/langsmith/integrations/google_adk/_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(google_adk): capture LLM inputs after before_model_callback runs [LSDK-279] (#3094)
  python/langsmith/integrations/google_adk/_client.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

release(js): bump js sdk version to 0.7.13
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

doc: improve resources comments
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

release(js): bump js sdk version to 0.7.13 (#3104)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

doc: improve resource comments (#3108)
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(client): expose projects resource accessor on Client, AsyncClient, and JS Client
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/integration_tests/test_projects.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: remove unused imports left from dropped dashboard test [CI]
  python/tests/integration_tests/test_projects.py
Due: python-format, python-lint-ruff

Fix linter
  python/tests/integration_tests/test_projects.py
Due: python-format, python-lint-ruff

test(client): address review on PR #3100
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

feat(client): expose datasets v2 resource and add experiment-runs tests [langchainplus#28358]
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(client): address review feedback on v2 datasets resource PR
  js/src/client.ts
  python/langsmith/async_client.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/test_v2_datasets.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(tests): make dataset integration tests async and fix ruff formatting
  python/tests/integration_tests/test_v2_datasets.py
Due: python-format, python-lint-ruff

fix(client): apply anonymizer to run error field (#3100)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(lint): sort imports in test_removed_sdk_methods_absent
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff
