Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

feat(py/strands): improved tracing of thinking and tool result blocks from Strands (#3236)
  python/langsmith/integrations/strands_agents/exporter.py
  python/tests/integration_tests/wrappers/test_strands_agents.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.10.8 → 0.10.9
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): Bump version: 0.10.8 → 0.10.9 (#3237)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

document streaming support and the aggregator option
  js/README.md
Due: none

fix(python): promote usage_metadata from run.extra to OTEL span attributes
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): decouple usage_metadata fallback from outputs presence
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

deprecate list_runs, listRuns, and legacy exception classes
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

deprecate read_run, read_thread, list_threads, get_run_stats, get_experiment_results, and run_ids path of add_runs_to_annotation_queue
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

remove invented descriptions from TypeScript deprecation JSDoc blocks
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix: wrap long lines in deprecated docstrings and update list_runs test [CI]
  python/langsmith/utils.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: remove unused import and shorten long comment lines [CI]
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix: add version to deprecated directives and move list_runs warn to call time [CI]
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

fix: sort import block in client.py [CI]
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: use @_deprecated decorator consistently across all deprecated methods [CI]
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: add process.emitWarning() to deprecated JS client methods [CI]
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix: guard JS deprecation warnings against browser environments [CI]
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix: auto-fix lint/format failures [CI]
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

js: only check min backend version on stainless resource access
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix: update evaluators test to mock /info prefetch from stainless getter [CI]
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

js: only check min backend version on stainless resource access (#3245)
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

feat: un-deprecate get_run_stats / getRunStats
  js/src/client.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): merge sandbox request headers case-insensitively (#3244)
  python/langsmith/sandbox/_helpers.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_helpers.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy

fix: include experiment metadata in eval feedback
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

Fix harness agent tracing
  js/package.json
  js/pnpm-lock.yaml
  js/src/experimental/vercel/telemetry.ts
  js/src/tests/vercel/telemetry/anthropic.int.test.ts
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

fix: add session_id and start_time to feedback generated from evaluations
  js/src/client.ts
  js/src/evaluation/_runner.ts
  js/src/tests/client.test.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/tests/jestlike/globals.test.ts
  js/src/utils/jestlike/globals.ts
  js/src/utils/jestlike/index.ts
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/evaluation/test_runner.py
  python/tests/unit_tests/test_testing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Revert tool output change
  js/src/experimental/vercel/telemetry.ts
  js/src/tests/vercel/telemetry/anthropic.int.test.ts
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

Fix
  .github/workflows/js-perf.yml
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
Due: js-format, js-lint, js-typecheck

Fix usage reporting for Pi
  js/src/experimental/vercel/telemetry.ts
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Add delay to int test
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
Due: js-format, js-lint, js-typecheck

fix int tests
  js/src/tests/vercel/telemetry/anthropic.int.test.ts
  js/src/tests/vercel/telemetry/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

fix(python): preserve `feedback_config` dict keys
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_evaluator.py
Due: python-format, python-lint-ruff, python-mypy

feat: require project in get_run_stats / getRunStats
  js/src/client.ts
  js/src/tests/run_stats.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test: remove feedback formula integration test
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

fix: auto-fix ruff format after test removal [CI]
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

ci(py): remove test_feedback_formula_crud_flow integration test after endpoint deprecation (#3251)
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

feat: require project in get_run_stats / getRunStats (#3250)
  js/src/client.ts
  js/src/tests/run_stats.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix
  js/src/experimental/vercel/telemetry.ts
Due: js-format, js-lint, js-typecheck

Bump beta version
  js/package.json
  js/pnpm-lock.yaml
Due: none

Simplify
  js/src/experimental/vercel/telemetry.ts
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

feat: warn when session_id/project_id omitted from create_feedback
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
