Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

Update workflows
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/workflows/ci.yml
  .github/workflows/release_js.yml
  README.md
  js/README.md
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Release action
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/workflows/ci.yml
  .github/workflows/release_js.yml
  js/package.json
Due: none

Fix
  js/src/tests/utils/mock_client.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

Fix
  js/package.json
  js/pnpm-lock.yaml
  js/tsconfig.json
Due: none

Fix
  js/src/tests/replica_endpoints.test.ts
  js/src/tests/traceable.test.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_gemini.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

Fix
  js/internal/environment_tests/test-exports-cf/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-cjs/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-esm/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-metro/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-vite/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-webpack/pnpm-workspace.yaml
Due: none

format
  js/src/tests/traceable.test.ts
Due: js-format, js-lint, js-typecheck

Foo
  js/internal/environment_tests/test-exports-metro/pnpm-workspace.yaml
Due: none

fix
  js/internal/environment_tests/test-exports-metro/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: none

foo
  js/internal/environment_tests/test-exports-metro/pnpm-lock.yaml
Due: none

chore: Switch to pnpm, use minimumReleaseAge (#2635)
  .github/actions/js-integration-tests/action.yml
  .github/actions/js-vitest-eval-test/action.yml
  .github/workflows/ci.yml
  .github/workflows/release_js.yml
  README.md
  js/.gitignore
  js/Makefile
  js/README.md
  js/internal/environment_tests/docker-compose.yml
  js/internal/environment_tests/test-exports-cf/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-cjs/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-esbuild/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-esbuild/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-esbuild/yarn.lock
  js/internal/environment_tests/test-exports-esm/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-metro/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-metro/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-metro/yarn.lock
  js/internal/environment_tests/test-exports-vite/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-vite/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-vite/yarn.lock
  js/internal/environment_tests/test-exports-webpack/pnpm-lock.yaml
  js/internal/environment_tests/test-exports-webpack/pnpm-workspace.yaml
  js/internal/environment_tests/test-exports-webpack/yarn.lock
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
  js/src/index.ts
  js/src/tests/replica_endpoints.test.ts
  js/src/tests/traceable.test.ts
  js/src/tests/utils/mock_client.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_gemini.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
  js/tsconfig.json
  js/yarn.lock
Due: js-format, js-lint, js-typecheck

fix(py): prevent memory leak from copy_context() in @traceable async wrappers
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Adds exclude-newer to uv settings
  python/pyproject.toml
  python/uv.lock
Due: none

Use ISO
  python/pyproject.toml
Due: none

Fix lockfile for pulled package
  js/pnpm-lock.yaml
Due: none

chore: Adds exclude-newer to uv settings (#2638)
  js/pnpm-lock.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

add description to hub prompts sdk
  js/src/client.ts
  js/src/schemas.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

add tests
  js/src/tests/client.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

remove Record
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

fix: patch 3 security alerts (2 high, 1 medium)
  js/package.json
  js/pnpm-lock.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

lint
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

fix: add wrapping for client.beta.messages.parse
  python/langsmith/wrappers/_anthropic.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

chore: add anthropic parse test
  python/tests/integration_tests/wrappers/test_anthropic.py
Due: python-format, python-lint-ruff

fix: flakey test
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

fix: add wrapping for client.beta.messages.parse (#2642)
  python/langsmith/wrappers/_anthropic.py
  python/tests/integration_tests/test_client.py
  python/tests/integration_tests/wrappers/test_anthropic.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

chore: bummp py version
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump py version (#2643)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: anthropic parse messages in js
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/wrappers/anthropic.ts
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_parse_sync_api.yaml
Due: js-format, js-lint, js-typecheck

chore: remove accidentally committed VCR cassette file
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_parse_sync_api.yaml
Due: none

fix: int test
  js/src/tests/vercel/wrapper/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

fix: test
  js/src/tests/vercel/wrapper/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

chore: skip bugged test
  js/src/tests/vercel/wrapper/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

fix: anthropic parse messages in js (#2644)
  js/src/tests/vercel/wrapper/openai.int.test.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/wrappers/anthropic.ts
Due: js-format, js-lint, js-typecheck

chore: bump js
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

chore: bump js (#2647)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py): avoid retaining trace context in async tasks
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

feat(py, js): add description to hub prompts sdk (#2639)
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(otel): add set_metadata to OtelSpanProcessor for thread_id propagation
  python/langsmith/integrations/otel/processor.py
Due: python-format, python-lint-ruff, python-mypy

trim docstrings, add unit tests for set_metadata
  python/langsmith/integrations/otel/processor.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

remove redundant tests
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff
