Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix(client): ensure sample rate is preserved when patching without extra metadata
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(client): remove outdated comments regarding extra metadata handling in run updates
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): carry the ADK tool call ids into traced messages [LSDK-509]
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_messages.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.12.2 → 0.12.3
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(client): ensure sample rate is included in run metadata for created and updated runs
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(client): ensure sample rate is preserved during multipart batching and zstd compression
  js/src/tests/batch_client.test.ts
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

feat(evaluate): allow upload_results to be resolved per run
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

fix(tests): lint
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

release(py): 0.12.3 (#3507)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(evaluate): reject callable upload_results for experiment targets
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

refactor(livekit): tighten telemetry helper types
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
Due: python-format, python-lint-ruff, python-mypy

refactor(voice): share GenAI message helpers
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

fix(livekit): support agents 1.7 and 1.8 telemetry
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

refactor(voice): reuse tool call builder
  python/langsmith/_internal/voice/_helpers.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.12.4
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

refactor(sandbox): drop no_proxy from proxy config helpers
  js/src/sandbox/README.md
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): type proxy_config callbacks in the TS SDK
  js/src/sandbox/index.ts
  js/src/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

fix(livekit): support agents 1.7 and 1.8 telemetry [Closes LSDK-506] (#3510)
  python/langsmith/_internal/voice/_helpers.py
  python/langsmith/integrations/livekit/_helpers.py
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.12.4 (#3511)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: preserve sandbox API error IDs
  js/src/sandbox/helpers.ts
  js/src/tests/sandbox_error_handling.test.ts
  python/langsmith/sandbox/_helpers.py
  python/tests/unit_tests/sandbox/test_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: preserve sandbox API error IDs (#3515)
  js/src/sandbox/helpers.ts
  js/src/tests/sandbox_error_handling.test.ts
  python/langsmith/sandbox/_helpers.py
  python/tests/unit_tests/sandbox/test_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): preserve 403 JSON error body in raiseForStatus
  js/src/utils/error.ts
Due: js-format, js-lint, js-typecheck

test(js): cover raiseForStatus 403 error-body handling
  js/src/tests/error.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): avoid stored reasoning in OpenAI integration tests
  js/src/tests/vercel/telemetry/openai.int.test.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

feat: add LANGSMITH_ENVIRONMENT and ingest it as agent_environment
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): run_config, stdin EOF, and native file search/range ops
  js/src/sandbox/client.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/helpers.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_run_config_and_files.test.ts
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_run_config_and_files.py
  python/tests/unit_tests/sandbox/test_sync_async_conversion.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(js): decouple OpenAI retrieval tracing from persistence
  js/src/tests/wrapped_openai.int.test.ts
  js/src/tests/wrapped_openai.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): avoid stored reasoning in OpenAI integration tests (#3519)
  js/src/tests/vercel/telemetry/openai.int.test.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
  js/src/tests/wrapped_openai.test.ts
Due: js-format, js-lint, js-typecheck

fix(js,py): tag guardrail/subagent structurally in openai-agents integration
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): update vulnerable test dependencies
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
Due: none

fix(js): adapt evaluation integration to Vitest 5
  js/src/tests/jestlike/wrap_vitest.vitesteval.ts
  js/src/vitest/reporter.mts
  js/src/vitest/reporter.ts
  js/src/vitest/utils/reporter.ts
  js/src/vitest/utils/wrapper.ts
Due: js-format, js-lint, js-typecheck

fix(js): preserve Vitest reporter compatibility
  js/src/vitest/reporter.ts
Due: js-format, js-lint, js-typecheck

fix(js): update vulnerable test dependencies (#3525)
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
  js/src/vitest/reporter.ts
Due: js-format, js-lint, js-typecheck

fix(js): patch vulnerable Vitest and Hono dependencies
  js/package.json
  js/pnpm-lock.yaml
  js/src/tests/vitest_reporter.vitesttest.ts
  js/src/vitest/reporter.ts
  js/src/vitest/utils/reporter.ts
Due: js-format, js-lint, js-typecheck

fix(serde): handle cyclic dict/list in dumps_json without RecursionError
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_serde_cycles.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.3
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(js): patch vulnerable Vitest and Hono dependencies (#3516)
  js/package.json
  js/pnpm-lock.yaml
  js/src/tests/vitest_reporter.vitesttest.ts
  js/src/vitest/reporter.ts
  js/src/vitest/utils/reporter.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.10.3 (#3509)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(py): pair ADK tool calls by the ids ADK actually sends [LSDK-509]
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/google_adk/_messages.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): drop an answered ADK call from the pending queue [LSDK-509]
  python/langsmith/integrations/google_adk/_messages.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
