Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

feat(py,js): read LANGSMITH_REVISION_ID for run revision_id (#3673)
  js/src/tests/client.test.ts
  js/src/utils/env.ts
  python/langsmith/env/_runtime_env.py
  python/tests/unit_tests/test_env.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: build the URL of a run sent to an agent (#3677)
  js/src/address.ts
  js/src/client.ts
  js/src/tests/address.test.ts
  python/langsmith/_internal/_addressing.py
  python/langsmith/address.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): retry multipart ingest once, through urllib3 only
  python/langsmith/client.py
  python/tests/unit_tests/test_multipart_attachment_reencode.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): drop the two-layer retry wording from multipart comments
  python/langsmith/_internal/_multipart.py
  python/tests/unit_tests/test_multipart_attachment_reencode.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff, python-mypy

build(py): require urllib3>=1.26
  python/langsmith/client.py
  python/pyproject.toml
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.14.5
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.9
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.14.5 (#3686)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.9 (#3687)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(wrappers): don't require completions resource in wrap_anthropic
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

ci: freeze js/ now that the JS SDK moved to langsmith-javascript
  .github/workflows/ci.yml
Due: none

ci: freeze js/ now that the JS SDK moved (#3690)
  .github/workflows/ci.yml
Due: none

feat: send OTLP traces to an Agent environment
  js/src/experimental/otel/constants.ts
  js/src/experimental/otel/exporter.ts
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_exporter.test.ts
  js/src/tests/otel_translator.vitesttest.ts
  python/langsmith/_internal/_addressing.py
  python/langsmith/_internal/otel/_otel_client.py
  python/langsmith/_internal/otel/_otel_exporter.py
  python/langsmith/integrations/otel/__init__.py
  python/langsmith/integrations/otel/processor.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: send only the Agent headers on OTLP exports
  js/src/experimental/otel/constants.ts
  js/src/experimental/otel/exporter.ts
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_exporter.test.ts
  js/src/tests/otel_translator.vitesttest.ts
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(py): make flush() wait for buffered run ops to be queued
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): fire compress thread flush_interval under steady traffic
  python/langsmith/_internal/_background_thread.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): fall back to /runs/batch when /runs/multipart returns 404
  python/langsmith/client.py
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): import numpy in EmbeddingDistance non-cosine metrics
  python/langsmith/_internal/_embedding_distance.py
  python/tests/unit_tests/test_embedding_distance.py
Due: python-format, python-lint-ruff, python-mypy

test: loosen embedding distance tolerance for float32 cosine path
  python/tests/unit_tests/test_embedding_distance.py
Due: python-format, python-lint-ruff

fix(py): wrap summary evaluators that have extra defaulted params
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): bind summary evaluator args by keyword and keep legacy path for all-custom names
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

ci: point frozen-folder PRs to the right repo and show why on the checks page
  .github/workflows/ci.yml
Due: none

ci: point frozen-folder PRs to the right repo (#3702)
  .github/workflows/ci.yml
Due: none

fix(wrappers): don't require completions resource in wrap_anthropic (#3703)
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.14.6
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.14.6 (#3704)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: normalize sandbox API endpoint prefixes (#3683)
  js/src/client.ts
  js/src/sandbox/client.ts
  js/src/tests/sandbox_endpoints.test.ts
  js/src/utils/api_url.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_endpoints.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.14.7
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.10.10
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: keep punctuation out of freeze guard links
  .github/workflows/ci.yml
Due: none

test(py): share one run op helper in multipart retry tests
  python/tests/unit_tests/test_multipart_retry_matrix.py
Due: python-format, python-lint-ruff

test(py): follow sibling zstd test naming and style
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

fix(py): hoist duplicated predicate in summary evaluator normalizer
  python/langsmith/evaluation/evaluator.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): keep the HTTP response on LangSmith API errors
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): retry 429 responses in AsyncClient, honouring Retry-After
  python/langsmith/async_client.py
  python/tests/unit_tests/test_async_client.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.14.7 (#3705)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): send session_id on RunTree.patch (#3675)
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix: keep punctuation out of freeze guard links (#3707)
  .github/workflows/ci.yml
Due: none

feat(py): add beta agent self-report tool
  python/langsmith/beta/__init__.py
  python/langsmith/beta/_self_report.py
  python/tests/unit_tests/test_beta_self_report.py
Due: python-format, python-lint-ruff, python-mypy
