Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(livekit): preserve system instructions with history
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

docs(openwiki): update quickstart and manifest files for clarity and accuracy
  openwiki/.claims/quickstart.json
  openwiki/.last-update.json
  openwiki/.page-manifest.json
  openwiki/index.md
  openwiki/quickstart.md
Due: none

fix: read the agent env vars from LANGSMITH_ only
  js/src/tests/client.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
  python/langsmith/env/_runtime_env.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

revert(js): drop the stale JS agent addressing
  js/src/client.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/schemas.ts
  js/src/tests/client.test.ts
  js/src/tests/run_trees.test.ts
  js/src/utils/env.ts
  js/src/utils/project.ts
Due: js-format, js-lint, js-typecheck

docs: add OpenWiki, with a weekly refresh workflow (#3541)
  .github/workflows/openwiki-update.yml
  AGENTS.md
  CLAUDE.md
  openwiki/.claims/architecture/sdk-architecture.json
  openwiki/.claims/concepts/client-configuration-and-auth.json
  openwiki/.claims/concepts/platform-client.json
  openwiki/.claims/concepts/run-tree-and-context.json
  openwiki/.claims/integrations/provider-wrappers-and-opentelemetry.json
  openwiki/.claims/operations/development-and-release.json
  openwiki/.claims/quickstart.json
  openwiki/.claims/testing/repository-test-strategy.json
  openwiki/.claims/testing/test-tracking-and-assertions.json
  openwiki/.claims/workflows/evaluation-and-experiments.json
  openwiki/.claims/workflows/sandbox-lifecycle-and-execution.json
  openwiki/.claims/workflows/trace-capture-and-ingestion.json
  openwiki/.claims/workflows/trace-ingestion-measured.json
  openwiki/.last-update.json
  openwiki/.page-manifest.json
  openwiki/INSTRUCTIONS.md
  openwiki/architecture/index.md
  openwiki/architecture/sdk-architecture.md
  openwiki/concepts/client-configuration-and-auth.md
  openwiki/concepts/index.md
  openwiki/concepts/platform-client.md
  openwiki/concepts/run-tree-and-context.md
  openwiki/index.md
  openwiki/integrations/index.md
  openwiki/integrations/provider-wrappers-and-opentelemetry.md
  openwiki/operations/development-and-release.md
  openwiki/operations/index.md
  openwiki/quickstart.md
  openwiki/testing/index.md
  openwiki/testing/repository-test-strategy.md
  openwiki/testing/test-tracking-and-assertions.md
  openwiki/workflows/evaluation-and-experiments.md
  openwiki/workflows/index.md
  openwiki/workflows/sandbox-lifecycle-and-execution.md
  openwiki/workflows/trace-capture-and-ingestion.md
  openwiki/workflows/trace-ingestion-measured.md
Due: none

fix(py): let the backend reject agent addressing, not the SDK
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

fix: correct the agent addressing tests [CI]
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff

fix(py): don't let ambient env vars overwrite an explicit agent [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py)!: send agent addressing as flat fields, not a nested object
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): drop comments that describe past behavior
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): drop the agent field docstrings
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): reject a call naming both a project and an agent
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): limit shared mount authentication to AWS
  js/src/sandbox/mounts.ts
  js/src/tests/sandbox_aws_role_auth.test.ts
  python/langsmith/sandbox/_mounts.py
  python/tests/unit_tests/sandbox/test_aws_role_auth.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(py): mark agent addressing experimental
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/langsmith/utils.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): ignore a baggage agent when the caller named a project by ID
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

ci(openwiki): open the update PR with gh instead of a third-party action
  .github/workflows/openwiki-update.yml
Due: none

test(py): drop duplicative agent addressing tests
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff

ci(openwiki): read OPENWIKI_OPENAI_API_KEY and the existing LANGSMITH_API_KEY
  .github/workflows/openwiki-update.yml
Due: none

refactor(sandbox): keep AWS auth variants internal
  js/src/sandbox/index.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox_aws_role_auth.test.ts
Due: js-format, js-lint, js-typecheck

ci(openwiki): keep a dedicated OPENWIKI_LANGSMITH_API_KEY secret
  .github/workflows/openwiki-update.yml
Due: none

ci(openwiki): refresh the open update PR's body with the current run outcome
  .github/workflows/openwiki-update.yml
Due: none

release(py): 0.12.6
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(livekit): preserve system instructions with history (#3544)
  python/langsmith/integrations/livekit/processor.py
  python/tests/unit_tests/wrappers/test_livekit.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.12.6 (#3546)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(evaluate): add trace_evaluators toggle to evaluate/aevaluate
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): preserve the 403 JSON error body in raiseForStatus
  js/src/tests/error.test.ts
  js/src/utils/error.ts
Due: js-format, js-lint, js-typecheck

chore(js): drop explanatory comment in raiseForStatus
  js/src/utils/error.ts
Due: js-format, js-lint, js-typecheck

refactor(evaluate): rename flag to disable_evaluator_tracing
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

feat(evaluate): add disable_evaluator_tracing toggle to evaluate() and aevaluate() (#3547)
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): add disableEvaluatorTracing option to evaluate()
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): don't force summary evaluator tracing on by default
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
Due: js-format, js-lint, js-typecheck

refactor(sandbox): deprecate no_proxy instead of removing it
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): keep stdin EOF and PTY state across a reconnect
  js/src/sandbox/command_handle.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox_run_config_and_files.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_run_config_and_files.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

ci(openwiki): open the update PR with gh instead of a third-party action (#3545)
  .github/workflows/openwiki-update.yml
Due: none

fix(error): improve handling of non-JSON 403 responses in raiseForStatus
  js/src/tests/error.test.ts
  js/src/utils/error.ts
Due: js-format, js-lint, js-typecheck

refactor(sandbox): deprecate no_proxy in proxy config helpers (#3512)
  js/src/sandbox/README.md
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js): surface non-JSON 403 bodies in raiseForStatus (#3551)
  js/src/tests/error.test.ts
  js/src/utils/error.ts
Due: js-format, js-lint, js-typecheck

fix(py): don't resolve the ambient agent on batch updates [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): three addressing defects found in review
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): preserve the 403 JSON error body in raiseForStatus (#3548)
  js/src/tests/error.test.ts
  js/src/utils/error.ts
Due: js-format, js-lint, js-typecheck
