Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

Restore `otel_enabled` param with a warning
  python/langsmith/client.py
  python/test.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Python unit tests
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat: per-replica client arg to support runtime destination overrides
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Improve error message and restore otel gate for feedbacks as-is
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py, js): per-replica `client` arg to support runtime destination overrides (#2759)
  js/src/client.ts
  js/src/run_trees.ts
  js/src/singletons/otel.ts
  js/src/tests/tracing_mode.test.ts
  js/src/traceable.ts
  js/src/utils/env.ts
  python/langsmith/__init__.py
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(sandbox): document server-side default idle TTL of 10 minutes
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.7.36
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Add perf action
  .github/workflows/js-perf.yml
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

Fix
  .github/workflows/js-perf.yml
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

release(py): 0.7.36 (#2789)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.24
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

perf(js): Offload serialize to worker thread at flush time (#2781)
  .github/workflows/js-perf.yml
  js/package.json
  js/src/client.ts
  js/src/tests/perf.int.test.ts
  js/src/tests/serialize.test.ts
  js/src/tests/serialize_worker.test.ts
  js/src/utils/fast-safe-stringify/index.ts
  js/src/utils/serialize_worker.ts
  js/src/utils/worker_threads.browser.ts
  js/src/utils/worker_threads.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.24 (#2790)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Fix perf test flagging
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

chore(js): Fix perf test flagging (#2792)
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

Adds hub model config and provider to schemas
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

Apply to JS
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/perf.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(js,python): Adds hub model config and provider to schemas (#2793)
  js/src/client.ts
  js/src/schemas.ts
  js/src/tests/perf.int.test.ts
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Format
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
  js/src/tests/vercel/wrapper/sdk5-backcompat.vitesttest.ts
Due: js-format, js-lint, js-typecheck

fix(js): minor test improvements (#2429)
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
  js/src/tests/vercel/wrapper/sdk5-backcompat.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Fix concurrency for multiple Claude Agent SDK sessions
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_tools.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): flush both tracing_queue and compressed_traces in flush()
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Fix
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Fix concurrent tool use
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Cleanup
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(evaluation): preserve plain dict passed to feedback_config
  python/langsmith/evaluation/evaluator.py
  python/tests/unit_tests/evaluation/test_evaluator.py
Due: python-format, python-lint-ruff, python-mypy

Cleanup
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Cleanup
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): move run-compression init into Client.__init__
  python/langsmith/_internal/_background_thread.py
  python/langsmith/client.py
  python/tests/unit_tests/conftest.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Fix issues with MCP tool attribution
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Cleanup
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Cleanup
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_tools.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): flush pending traces during Client.cleanup()
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Fix lint
  js/src/client.ts
  js/src/tests/context.int.test.ts
Due: js-format, js-lint, js-typecheck

chore(python): ruff format
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): Include auth headers on info requests (#2800)
  js/src/client.ts
  js/src/tests/context.int.test.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.25
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.25 (#2801)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(python): flush both tracing_queue and compressed_traces in flush() (#2796)
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy
