Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

Fix prototype pollution bug in anonymizers
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  js/src/utils/lodash/LICENSE
  js/src/utils/lodash/assignValue.ts
  js/src/utils/lodash/baseAssignValue.ts
  js/src/utils/lodash/baseSet.ts
  js/src/utils/lodash/castPath.ts
  js/src/utils/lodash/eq.ts
  js/src/utils/lodash/getTag.ts
  js/src/utils/lodash/isIndex.ts
  js/src/utils/lodash/isKey.ts
  js/src/utils/lodash/isObject.ts
  js/src/utils/lodash/isSymbol.ts
  js/src/utils/lodash/memoizeCapped.ts
  js/src/utils/lodash/set.ts
  js/src/utils/lodash/stringToPath.ts
  js/src/utils/lodash/toKey.ts
Due: js-format, js-lint, js-typecheck

fix(js): Fix prototype pollution bug in anonymizers (#2690)
  js/src/anonymizer/index.ts
  js/src/tests/anonymizer.test.ts
  js/src/utils/lodash/LICENSE
  js/src/utils/lodash/assignValue.ts
  js/src/utils/lodash/baseAssignValue.ts
  js/src/utils/lodash/baseSet.ts
  js/src/utils/lodash/castPath.ts
  js/src/utils/lodash/eq.ts
  js/src/utils/lodash/getTag.ts
  js/src/utils/lodash/isIndex.ts
  js/src/utils/lodash/isKey.ts
  js/src/utils/lodash/isObject.ts
  js/src/utils/lodash/isSymbol.ts
  js/src/utils/lodash/memoizeCapped.ts
  js/src/utils/lodash/set.ts
  js/src/utils/lodash/stringToPath.ts
  js/src/utils/lodash/toKey.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.18
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.18 (#2691)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

chore(js/sandbox): suppress warning log
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
Due: js-format, js-lint, js-typecheck

Add metadata to Claude Agent SDK JS tracing
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/index.ts
Due: js-format, js-lint, js-typecheck

chore(js/sandbox): suppress warning log (#2694)
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
Due: js-format, js-lint, js-typecheck

Fix run tree memory leak
  python/langsmith/_internal/_context.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_tree_gc_leak.py
Due: python-format, python-lint-ruff, python-mypy

Docstring
  python/tests/unit_tests/test_run_tree_gc_leak.py
Due: python-format, python-lint-ruff

feat(js): Add metadata to Claude Agent SDK JS tracing (#2695)
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/index.ts
Due: js-format, js-lint, js-typecheck

Add experiment version fix to JS
  js/src/evaluation/_runner.ts
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Simplify
  python/langsmith/_internal/_context.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Fix
  python/langsmith/integrations/claude_agent_sdk/_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): Fix run tree memory leak (#2696)
  python/langsmith/_internal/_context.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
  python/tests/unit_tests/test_run_tree_gc_leak.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.29 → 0.7.30
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.30 (#2698)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Tag OpenAI Agent Python SDK runs with ls_agent_type
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/integration_tests/cassettes/test_openai_agents_test_ls_agent_type_metadata.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_ls_agent_type_metadata_for_handoffs.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_openai_agents_with_evaluate.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_traceable_decorator_nests_under_agent_trace.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_wrap_openai_nests_under_agent_trace.yaml
  python/tests/integration_tests/wrappers/test_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): Tag OpenAI Agent Python SDK runs with ls_agent_type (#2699)
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/integration_tests/cassettes/test_openai_agents_test_ls_agent_type_metadata.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_ls_agent_type_metadata_for_handoffs.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_openai_agents_with_evaluate.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_traceable_decorator_nests_under_agent_trace.yaml
  python/tests/integration_tests/cassettes/test_openai_agents_test_wrap_openai_nests_under_agent_trace.yaml
  python/tests/integration_tests/wrappers/test_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy

Adds ls_agent_type metadata to AI SDK runs
  js/src/experimental/vercel/index.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

feat(js): Adds ls_agent_type metadata to AI SDK runs (#2701)
  js/src/experimental/vercel/index.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
Due: js-format, js-lint, js-typecheck

fix(py): Flush buffered runs on Client.cleanup()
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): include tool ids on tool runs for claude agent sdk
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(lint): sort stdlib imports alphabetically in _runner.py and _arunner.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

Apply to patch too
  js/src/run_trees.ts
  js/src/tests/client.int.test.ts
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Update
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix
  js/src/run_trees.ts
Due: js-format, js-lint, js-typecheck

feat(python/sandbox): add snapshot API and start/stop lifecycle
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy

fix: clean up dangling periods in docstrings
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
Due: python-format, python-lint-ruff, python-mypy

Filter kwargs from new token events
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Fix test
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
Due: js-format, js-lint, js-typecheck

feat: Filter kwargs from new token events (#2714)
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style: run ruff format
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.19
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Bump version: 0.7.30 → 0.7.31
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.31 (#2716)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.5.19 (#2715)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: address PR review feedback
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

feat(python/sandbox): add snapshot API and start/stop lifecycle (#2713)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_models.py
Due: python-format, python-lint-ruff, python-mypy
