Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

comment explanation
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

lint comment
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): derive create_child run id from start_time [LSDK-220] (#3027)
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Add GCS sandbox mount SDK support
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

Add GCS sandbox mount SDK support
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Clarify sandbox mount cache docs
  js/src/sandbox/types.ts
Due: js-format, js-lint, js-typecheck

Clarify sandbox mount cache docs
  python/langsmith/sandbox/_mounts.py
Due: python-format, python-lint-ruff, python-mypy

align openapi fetch options with generated types
  js/src/client.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck

fix python lint
  python/tests/integration_tests/test_client.py
Due: python-format, python-lint-ruff

bump: js 0.7.8 and py 0.8.16
  js/src/index.ts
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): compose proxy auth rules
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat(sandbox): compose proxy auth rules
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

Update package.json
  js/package.json
Due: none

chore: js to 0.7.8 and py to 0.8.16 (#3029)
  js/package.json
  js/src/index.ts
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Remove bearer token param
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat: expose the resources from the generated openapi client in the langsmith client (#3018)
  js/src/client.ts
  js/src/tests/client.int.test.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/integration_tests/test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js): port `isTracingEnabled` utility from Python
  js/src/env.ts
  js/src/experimental/otel/exporter.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/tests/guard.vitesttest.ts
  js/src/traceable.ts
  js/src/utils/guard.ts
  js/src/utils/jestlike/globals.ts
Due: js-format, js-lint, js-typecheck

Use repeat for query params array
  python/langsmith/_openapi_client/_client.py
Due: python-format, python-lint-ruff, python-mypy

docs: note that _openapi_client directories are auto-generated
  CONTRIBUTING.md
Due: none

feat(sandbox): add mount config helpers
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add mount config helpers
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

refactor(sandbox): require mount config for mounts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

refactor(sandbox): require mount config for mounts
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Add version check on client init
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): port `isTracingEnabled` utility from Python (#3032)
  js/src/env.ts
  js/src/experimental/otel/exporter.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/index.ts
  js/src/run_trees.ts
  js/src/tests/guard.vitesttest.ts
  js/src/traceable.ts
  js/src/utils/guard.ts
  js/src/utils/jestlike/globals.ts
Due: js-format, js-lint, js-typecheck

Set minimum version to 0.17.0
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

release(js): bump to 0.7.9
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(sandbox): compose mount and proxy config
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

fix(sandbox): compose mount and proxy config
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix(sandbox): reject duplicate mount proxy auth
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/proxy_config.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix(sandbox): reject duplicate mount proxy auth
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

Add sandbox mount support to JS SDK (#3010)
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/proxy_config.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Fix sandbox mount config unit tests
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff

release(js): bump to 0.7.9 (#3035)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Add sandbox mount support to Python SDK (#3009)
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_mounts.py
  python/langsmith/sandbox/_proxy_config.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy

Add sandbox Git mount SDK helpers
  js/README.md
  js/src/sandbox/README.md
  js/src/sandbox/index.ts
  js/src/sandbox/mounts.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/README.md
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_mounts.py
  python/tests/unit_tests/sandbox/test_proxy_config.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Rename SUPPORTED_BACKEND_VERSION to MIN_BACKEND_VERSION
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: update tests for /info call in Client.__init__ and ruff format [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: use session.request directly for init version check to avoid OAuth refresh [CI]
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy
