Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix: fail-closed when per-function anonymization callables fail
  js/src/run_trees.ts
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js,py): extract ls_agent_type resolver into shared util
  js/src/tests/ls_agent_type.test.ts
  js/src/tests/wrapped_openai_agent_type.test.ts
  js/src/utils/ls_agent_type.ts
  js/src/wrappers/openai.ts
  python/langsmith/_internal/_ls_agent_type.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/test_ls_agent_type.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js,py): add metadata-level default helper to ls_agent_type util
  js/src/tests/ls_agent_type.test.ts
  js/src/utils/ls_agent_type.ts
  js/src/wrappers/openai.ts
  python/langsmith/_internal/_ls_agent_type.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/test_ls_agent_type.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore(js,py): drop unused LS_AGENT_TYPES / NARROWING_LS_AGENT_TYPES
  js/src/tests/ls_agent_type.test.ts
  js/src/utils/ls_agent_type.ts
  python/langsmith/_internal/_ls_agent_type.py
  python/tests/unit_tests/test_ls_agent_type.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style(js): apply oxfmt to ls_agent_type test file
  js/src/tests/ls_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

fix(js,py): stamp ls_agent_type on wrap_openai LLM runs (#3317)
  js/src/tests/ls_agent_type.test.ts
  js/src/utils/ls_agent_type.ts
  js/src/wrappers/openai.ts
  python/langsmith/_internal/_ls_agent_type.py
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/test_ls_agent_type.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style(js): apply oxfmt on Gap B test file
  js/src/tests/openai_agents_sdk.test.ts
Due: js-format, js-lint, js-typecheck

fix(js,py): null opt-out passes through; trace-end matches start precedence
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style: trim verbose comments to match codebase single-line style
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js,py): preserve user-supplied ls_agent_type in openai-agents-sdk integration
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor(js,py): apply reframed model to openai-agents-sdk integration
  js/src/tests/openai_agents_sdk.test.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js,py): consume shared ls_agent_type util in oai-agents processor
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(js,py): expose NON_ROOT_LS_AGENT_TYPES from util; expand OAI-Agents JS test coverage
  js/src/tests/ls_agent_type.test.ts
  js/src/tests/openai_agents_sdk.test.ts
  js/src/utils/ls_agent_type.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/_internal/_ls_agent_type.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/test_ls_agent_type.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs: reframe metadata merge comment around the three sources being reconciled
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs: reframe on_trace_end merge comment around why we re-merge
  js/src/wrappers/openai_agents.ts
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style: trim verbose comments to match codebase single-line style
  js/src/experimental/vercel/_agent_type.ts
  js/src/tests/vercel_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): inherit parent's ls_agent_type in Vercel _getLsAgentType helper
  js/src/experimental/vercel/_agent_type.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/wrap.ts
  js/src/tests/vercel_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): use isRunTree so ContextPlaceholder falls back to root default
  js/src/experimental/vercel/_agent_type.ts
  js/src/tests/vercel_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

refactor(js): apply reframed model to Vercel _getLsAgentType helper
  js/src/experimental/vercel/_agent_type.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/wrap.ts
  js/src/tests/vercel_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): reorder Vercel resolver so run_type=tool wins over root inheritance
  js/src/experimental/vercel/_agent_type.ts
  js/src/tests/vercel_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): consume shared ls_agent_type util in vercel composition
  js/src/experimental/vercel/_agent_type.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/wrap.ts
  js/src/tests/vercel_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

test: avoid unrelated import warnings
  python/tests/unit_tests/test_otel_url.py
Due: python-format, python-lint-ruff

bring Python up to par with JS
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Empty outputs for JS when anonymizer fails
  js/src/tests/traceable.test.ts
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

Superflous check
  js/src/traceable.ts
Due: js-format, js-lint, js-typecheck

docs: reframe _agent_type.ts comment around config-build timing
  js/src/experimental/vercel/_agent_type.ts
Due: js-format, js-lint, js-typecheck

fix: avoid resetting compression threads
  python/langsmith/_internal/_compressed_traces.py
Due: python-format, python-lint-ruff, python-mypy

fix(profiles): resolve the OAuth token endpoint from deployment metadata
  js/src/tests/client.test.ts
  js/src/tests/profile-lock.test.ts
  js/src/tests/profile-oauth-discovery.test.ts
  js/src/utils/profiles.ts
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_profiles_oauth_discovery.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(js,py): preserve user-supplied ls_agent_type in openai-agents-sdk integration (#3318)
  js/src/tests/ls_agent_type.test.ts
  js/src/tests/openai_agents_sdk.test.ts
  js/src/utils/ls_agent_type.ts
  js/src/wrappers/openai_agents.ts
  python/langsmith/_internal/_ls_agent_type.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/unit_tests/test_ls_agent_type.py
  python/tests/unit_tests/wrappers/test_openai_agents_processor.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(profiles): keep discovery off the network path in tests
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_profiles_oauth_discovery.py
Due: python-format, python-lint-ruff, python-mypy

fix(profiles): probe the RFC 8414 path-inserted metadata URL as well
  js/src/tests/client.test.ts
  js/src/tests/profile-lock.test.ts
  js/src/tests/profile-oauth-discovery.test.ts
  js/src/utils/profiles.ts
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_profiles_oauth_discovery.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: support tags when creating datasets and experiments
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

style(js): oxfmt trailing whitespace in _agent_type.ts
  js/src/experimental/vercel/_agent_type.ts
Due: js-format, js-lint, js-typecheck

fix(python): constrain incompatible tooling deps
  python/pyproject.toml
  python/uv.lock
Due: none

fix(python): preserve Google ADK compatibility
  python/pyproject.toml
  python/uv.lock
Due: none

fix(js): inherit parent's ls_agent_type in Vercel _getLsAgentType helper (#3319)
  js/src/experimental/vercel/_agent_type.ts
  js/src/experimental/vercel/telemetry.ts
  js/src/experimental/vercel/wrap.ts
  js/src/tests/vercel_agent_type.test.ts
Due: js-format, js-lint, js-typecheck

fix(profiles): resolve the OAuth token endpoint from deployment metadata (#3333)
  js/src/tests/client.test.ts
  js/src/tests/profile-lock.test.ts
  js/src/tests/profile-oauth-discovery.test.ts
  js/src/utils/profiles.ts
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_profiles_oauth_discovery.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: avoid resetting compression threads (#3332)
  python/langsmith/_internal/_compressed_traces.py
Due: python-format, python-lint-ruff, python-mypy

docs(sandbox): fix invalid sizing example in JS sandbox README (#3335)
  js/src/sandbox/README.md
Due: none

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
