Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

ci: run the full CI nightly against every environment
  .github/workflows/ci.yml
  python/test.py
Due: python-format, python-lint-ruff

Drop stray python/test.py
  python/test.py
Due: python-format, python-lint-ruff

test(claude-agent-sdk): run subagent in foreground so trace nests correctly
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

test(claude-agent-sdk): run subagent in foreground so trace nests correctly (#3339)
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
Due: python-format, python-lint-ruff

Bump version: 0.10.15 → 0.10.16
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.10.16 (#3337)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): support httpx2 with httpx fallback [closes LSDK-448]
  python/Makefile
  python/langsmith/_internal/_httpx.py
  python/langsmith/_openapi_client/_base_client.py
  python/langsmith/_openapi_client/_client.py
  python/langsmith/_openapi_client/_constants.py
  python/langsmith/_openapi_client/_exceptions.py
  python/langsmith/_openapi_client/_response.py
  python/langsmith/_openapi_client/_streaming.py
  python/langsmith/_openapi_client/_types.py
  python/langsmith/_openapi_client/pagination.py
  python/langsmith/_openapi_client/resources/annotation_queues/annotation_queues.py
  python/langsmith/_openapi_client/resources/annotation_queues/items.py
  python/langsmith/_openapi_client/resources/annotation_queues/runs.py
  python/langsmith/_openapi_client/resources/datasets/experiment_runs.py
  python/langsmith/_openapi_client/resources/info.py
  python/langsmith/_openapi_client/resources/issues.py
  python/langsmith/_openapi_client/resources/online_evaluators.py
  python/langsmith/_openapi_client/resources/public/runs.py
  python/langsmith/_openapi_client/resources/runs/runs.py
  python/langsmith/_openapi_client/resources/runs/share.py
  python/langsmith/_openapi_client/resources/sandboxes/boxes.py
  python/langsmith/_openapi_client/resources/sandboxes/registries.py
  python/langsmith/_openapi_client/resources/sandboxes/snapshots.py
  python/langsmith/_openapi_client/resources/threads.py
  python/langsmith/_openapi_client/resources/traces.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_transport.py
  python/langsmith/utils.py
  python/pyproject.toml
  python/tests/httpx2_alias/sitecustomize.py
  python/tests/unit_tests/test_httpx_compat.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

perf: avoid serializing and sending Inputs on Patch
  python/bench/tracing_client_bench.py
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/run_helpers.py
  python/langsmith/testing/_internal.py
Due: python-format, python-lint-ruff, python-mypy

fix: sanitize git remote credentials [closes JKB-51]
  js/src/tests/git_info.test.ts
  js/src/utils/_git.ts
  python/langsmith/env/_git.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_experiment_metadata.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix create_child() ignoring tracing_context(replicas=...) when a parent is set
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_replica_endpoints.py
Due: python-format, python-lint-ruff, python-mypy

Update python/langsmith/client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: add replicas to RunTrees created from headers/dotted-order
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): use inspect.iscoroutinefunction() instead of the asyncio alias
  python/langsmith/_internal/_beta_decorator.py
Due: python-format, python-lint-ruff, python-mypy

Note in .add_inputs() that Inputs would be ignored on patch
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Lint fix
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff

fix: add replicas to RunTrees created from headers/dotted-order (#3346)
  python/langsmith/run_helpers.py
  python/tests/unit_tests/test_run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.10.16 → 0.10.17
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: sanitize git remote credentials [closes JKB-51] (#3343)
  js/src/tests/git_info.test.ts
  js/src/utils/_git.ts
  python/langsmith/env/_git.py
  python/tests/unit_tests/test_env.py
  python/tests/unit_tests/test_experiment_metadata.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.10.17 (#3349)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add LANGSMITH_EXCLUDE_INPUTS_ON_PATCH to skip inputs on run patches
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

Update bench script
  python/bench/tracing_client_bench.py
Due: python-format, python-lint-ruff

feat(python): LANGSMITH_EXCLUDE_INPUTS_ON_PATCH to skip inputs on patch (#3350)
  python/bench/tracing_client_bench.py
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): optimize serialization of Pydantic v2 objects
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): remove stale default param from dumps_json docstring
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): clarify _serialization_methods comments
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): explain why _simple_default keeps datetime/UUID branches
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): hoist surrogate regex out of _elide_surrogates
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): don't swallow KeyboardInterrupt/SystemExit during serialization
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py): drop redundant set handling in _serialize_json
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): serialize non-dict model dumps as native JSON, not str
  python/langsmith/_internal/_serde.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): remove stale default param from dumps_json docstring (#3354)
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): clarify _serialization_methods table comments (#3355)
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

docs(py): document _simple_default datetime/UUID branches (#3356)
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy

perf(py): hoist surrogate regex to module scope (#3357)
  python/langsmith/_internal/_serde.py
Due: python-format, python-lint-ruff, python-mypy
