Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(py): trace ClaudeSDKClient.receive_messages() (#3576)
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): keep a RunTree's address on the batch ingest path
  python/langsmith/client.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

Fix comment @thibautlehmann
  js/src/experimental/otel/translator.ts
Due: js-format, js-lint, js-typecheck

fix: resolve a header parent's destination only when there is one [CI]
  python/langsmith/run_helpers.py
Due: python-format, python-lint-ruff, python-mypy

refactor(python): make ls.address's agent_id keyword-only
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

docs(examples): pass agent_id by keyword
  examples/addressing/1_tracing_context.py
  examples/addressing/2_distributed_parent.py
  examples/addressing/3_langsmith_extra.py
  examples/addressing/4_traceable.py
  examples/addressing/5_configure.py
  examples/addressing/7_inheritance.py
  examples/addressing/8_replicas.py
Due: none

test(py): pass agent_id by keyword
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_evaluate.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
  python/tests/integration_tests/agent_addressing/test_rollout_disabled.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

fix(sandbox): share one JWKS fetch across concurrent misses; reject malformed JWKS
  js/src/sandbox/verify.ts
  js/src/tests/sandbox_verify.test.ts
  python/langsmith/sandbox/_verify.py
  python/tests/unit_tests/sandbox/test_verify.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(sandbox): require HTTPS for the JWKS URL
  js/src/sandbox/README.md
  js/src/sandbox/verify.ts
  js/src/tests/sandbox_verify.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_verify.py
  python/tests/unit_tests/sandbox/test_verify.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

test(sandbox): clear the env var cache around verifier tests
  python/tests/unit_tests/sandbox/test_verify.py
Due: python-format, python-lint-ruff

feat(sandbox): verify service URL user tokens and proxy callbacks (#3593)
  js/src/sandbox/README.md
  js/src/sandbox/errors.ts
  js/src/sandbox/index.ts
  js/src/sandbox/verify.ts
  js/src/tests/sandbox_verify.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_verify.py
  python/pyproject.toml
  python/tests/unit_tests/sandbox/test_verify.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(python): fix wording left over from the Address rename
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/env/_runtime_env.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

docs(python): note that explicit batch ingestion raises EnvAddressError
  python/langsmith/_address.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): configure(project_name=None) clears only the project
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.14.0 → 0.14.1
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.14.1 (#3595)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): trace Deepgram voice agents
  python/langsmith/_internal/voice/session.py
  python/langsmith/integrations/deepgram_voice/__init__.py
  python/langsmith/integrations/deepgram_voice/_connection.py
  python/tests/unit_tests/wrappers/test_deepgram_voice.py
  python/tests/unit_tests/wrappers/test_voice_session.py
Due: python-format, python-lint-ruff, python-mypy

Keep the response on HTTPError raised by raise_for_status_with_text
  python/langsmith/utils.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

docs(sandbox): describe who restricted service URLs admit
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_models.py
Due: python-format, python-lint-ruff, python-mypy

fix(py,js): redact unterminated PEM blocks and keep the PEM rule linear
  js/src/anonymizer/index.ts
  python/langsmith/anonymizer.py
  python/tests/unit_tests/test_anonymizer.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

make Address fields keyword-only
  python/langsmith/_address.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): stop leaking root history into Claude Agent SDK subagent LLM inputs
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): seed background Claude Agent SDK subagent prompts into LLM inputs
  js/src/experimental/anthropic/context.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

chore: require seven-day-old Python and JS dependency releases
  js/pnpm-workspace.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

fix(js): add Claude Agent SDK prompt to root LLM inputs once
  js/src/experimental/anthropic/index.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

fix(python): address Quentin's review on the Address handle
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/run_helpers.py
  python/langsmith/run_trees.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

Tool ID from Extra taking preference over Metadata (when available)
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_translator.vitesttest.ts
Due: js-format, js-lint, js-typecheck

test(python): cover env warnings, level errors and baggage metadata
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff

docs(examples): pass address= instead of the removed Address shortcuts
  examples/addressing/1_tracing_context.py
  examples/addressing/2_distributed_parent.py
  examples/addressing/3_langsmith_extra.py
  examples/addressing/4_traceable.py
  examples/addressing/6_env_vars.py
  examples/addressing/7_inheritance.py
  examples/addressing/8_replicas.py
Due: none

fix(js): missing OTel exports for tool name, call_id and definitions (#3592)
  js/src/experimental/otel/constants.ts
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_translator.vitesttest.ts
Due: js-format, js-lint, js-typecheck

docs(python): describe addressing in the module docstring, drop the private doc link
  python/langsmith/_internal/_agent_addressing.py
Due: python-format, python-lint-ruff, python-mypy

docs(python): drop the private design-doc link from the integration README
  python/tests/integration_tests/agent_addressing/README.md
Due: none

docs(python): add the beta warning box to the addressing module docstring
  python/langsmith/_internal/_agent_addressing.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): validate agent_id with the server's rule
  python/langsmith/_address.py
  python/langsmith/_internal/_agent_addressing.py
  python/tests/unit_tests/test_address.py
Due: python-format, python-lint-ruff, python-mypy

test(python): use valid agent-id placeholders in the integration suite
  python/tests/integration_tests/agent_addressing/conftest.py
  python/tests/integration_tests/agent_addressing/test_create_feedback.py
  python/tests/integration_tests/agent_addressing/test_create_update_run.py
  python/tests/integration_tests/agent_addressing/test_multipart_ingest.py
  python/tests/integration_tests/agent_addressing/test_traceable.py
Due: python-format, python-lint-ruff

chore: increase Python and JS dependency delay to seven days (#3606)
  js/pnpm-workspace.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

fix(py): export gen_ai prompt/completion as str, not bytes
  python/langsmith/_internal/otel/_otel_exporter.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): apply service tier to streamed OpenAI chat usage metadata
  python/langsmith/wrappers/_openai.py
  python/tests/unit_tests/wrappers/test_openai_processing.py
Due: python-format, python-lint-ruff, python-mypy

Cover invalid parent commits in sync and async agent pushes
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff

test: add environment variable handling in batch and client tests
  js/src/tests/batch_client.test.ts
  js/src/tests/client.test.ts
Due: js-format, js-lint, js-typecheck
