Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

chore: lint
  python/langsmith/wrappers/_gemini.py
Due: python-format, python-lint-ruff, python-mypy

fix: handle none
  python/langsmith/wrappers/_gemini.py
Due: python-format, python-lint-ruff, python-mypy

feat: propagate thread_id to child runs
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: sum Anthropic cache tokens into input_tokens for correct cost calculation (#2519)
  js/src/tests/anthropic_usage.test.ts
  js/src/wrappers/anthropic.ts
  python/langsmith/schemas.py
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.7.13 → 0.7.14
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore(py): Bump version: 0.7.13 → 0.7.14 (#2535)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): use UUID v7 for evaluator run IDs
  js/src/evaluation/evaluator.ts
  js/src/utils/jestlike/vendor/evaluatedBy.ts
Due: js-format, js-lint, js-typecheck

fix(js): replace all uuid v4 usage with v7
  js/src/client.ts
  js/src/evaluation/_runner.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/anonymizer.test.ts
  js/src/tests/batch_client.int.test.ts
  js/src/tests/batch_client.test.ts
  js/src/tests/client.int.test.ts
  js/src/tests/client_retry.test.ts
  js/src/tests/evaluate.int.test.ts
  js/src/tests/evaluate_attachments.int.test.ts
  js/src/tests/experiment_manager.int.test.ts
  js/src/tests/failed_traces.test.ts
  js/src/tests/few_shot.int.test.ts
  js/src/tests/jestlike/jest_existing_dataset.int.test.ts
  js/src/tests/lcls_handoff.int.test.ts
  js/src/tests/node_fetch.int.test.ts
  js/src/tests/otel/traceable_otel.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_evaluate.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_extended.int.test.ts
  js/src/tests/otel/vercel/anthropic_cache_otel.int.test.ts
  js/src/tests/otel/vercel/openai_cache_otel.int.test.ts
  js/src/tests/run_trees.int.test.ts
  js/src/tests/run_trees.uuid.test.ts
  js/src/tests/traceable.test.ts
  js/src/tests/utils.ts
  js/src/tests/vercel/wrapper/anthropic.int.test.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

fix: tool_calls fix for anthropic wrapper
  python/langsmith/wrappers/_anthropic.py
Due: python-format, python-lint-ruff, python-mypy

revert: scope down to only evaluator run ID changes
  js/src/client.ts
  js/src/evaluation/_runner.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/anonymizer.test.ts
  js/src/tests/batch_client.int.test.ts
  js/src/tests/batch_client.test.ts
  js/src/tests/client.int.test.ts
  js/src/tests/client_retry.test.ts
  js/src/tests/evaluate.int.test.ts
  js/src/tests/evaluate_attachments.int.test.ts
  js/src/tests/experiment_manager.int.test.ts
  js/src/tests/failed_traces.test.ts
  js/src/tests/few_shot.int.test.ts
  js/src/tests/jestlike/jest_existing_dataset.int.test.ts
  js/src/tests/lcls_handoff.int.test.ts
  js/src/tests/node_fetch.int.test.ts
  js/src/tests/otel/traceable_otel.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_evaluate.int.test.ts
  js/src/tests/otel/vercel/ai_sdk_extended.int.test.ts
  js/src/tests/otel/vercel/anthropic_cache_otel.int.test.ts
  js/src/tests/otel/vercel/openai_cache_otel.int.test.ts
  js/src/tests/run_trees.int.test.ts
  js/src/tests/run_trees.uuid.test.ts
  js/src/tests/traceable.test.ts
  js/src/tests/utils.ts
  js/src/tests/vercel/wrapper/anthropic.int.test.ts
  js/src/tests/vercel/wrapper/openai.int.test.ts
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

chore: fix comments
  python/langsmith/wrappers/_anthropic.py
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix: use uuid7 for feedback IDs in client.ts
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.8
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

chore: prop all metadata
  python/langsmith/run_trees.py
Due: python-format, python-lint-ruff, python-mypy

chore: fix json format asset
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff

chore: js propagate all metadata
  js/src/run_trees.ts
Due: js-format, js-lint, js-typecheck

fix(js): use UUID v7 for evaluator run IDs and feedback IDs (#2536)
  js/src/client.ts
  js/src/evaluation/evaluator.ts
  js/src/utils/jestlike/vendor/evaluatedBy.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.5.8 (#2538)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: simplfy type conversions
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff, python-mypy

fix: add async create support for sandboxes
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/errors.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix: add async create support for sandboxes
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/errors.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix: add async create support for sandboxes (#2539)
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/errors.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

feat: add ws based exec to js sdk
  js/package.json
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/command_handle.ts
  js/src/experimental/sandbox/errors.ts
  js/src/experimental/sandbox/index.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  js/yarn.lock
Due: js-format, js-lint, js-typecheck

cleanup
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Fix pytest behavior with fixtures
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_testing.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): Fix pytest behavior with fixtures (#2543)
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_testing.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.14 → 0.7.15
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): include test name in example ID hash to prevent collisions
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_testing.py
Due: python-format, python-lint-ruff, python-mypy

release(py): Bump version: 0.7.14 → 0.7.15 (#2544)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(python): add test_name to example metadata
  python/langsmith/testing/_internal.py
Due: python-format, python-lint-ruff, python-mypy

Revert "feat(python): add test_name to example metadata"
  python/langsmith/testing/_internal.py
Due: python-format, python-lint-ruff, python-mypy

fix: gemini wrapper inputs (#2532)
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff, python-mypy

chore: fix js int test
  js/src/tests/utils.ts
Due: js-format, js-lint, js-typecheck

fix: tool calls fix for anthropic wrapper (#2537)
  js/src/tests/utils.ts
  python/langsmith/wrappers/_anthropic.py
  python/langsmith/wrappers/_gemini.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
  python/tests/unit_tests/wrappers/test_gemini_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat: auto populate trace id child runs (#2534)
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: bump ver
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump js ver
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
