Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

fix: allow extra sandbox callback jwt claims
  python/langsmith/sandbox/_callback_verifier.py
  python/tests/unit_tests/sandbox/test_callback_verifier.py
Due: python-format, python-lint-ruff, python-mypy

fix: default sandbox callback leeway to 60s
  python/langsmith/sandbox/_callback_verifier.py
  python/tests/unit_tests/sandbox/test_callback_verifier.py
Due: python-format, python-lint-ruff, python-mypy

fix: parse urllib3 version with packaging.Version
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

test: regression for PEP 440 local-version parsing in _default_retry_config
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

sdk(py): replace ttl_seconds with idle_ttl_seconds + delete_after_stop_seconds
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

sdk(js): replace ttlSeconds with idleTtlSeconds + deleteAfterStopSeconds
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

fix: import packaging.version submodule explicitly
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: parse urllib3 version with packaging.Version (#2851)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

Bump Python SDK version to 0.8.2
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump Python SDK version to 0.8.2 (#2855)
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): prevent sending [object Object] as span attribute when dealing with nested objects, send full langsmith.usage_metadata if present (#2845)
  js/src/experimental/otel/translator.ts
  js/src/tests/otel_translator.vitesttest.ts
Due: js-format, js-lint, js-typecheck

release(js): bump to 0.6.2
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(js): bump to 0.6.2 (#2856)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

sdk(py): replace ttl_seconds with idle_ttl_seconds + delete_after_stop_seconds (#2853)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

sdk(js): replace ttlSeconds with idleTtlSeconds + deleteAfterStopSeconds (#2854)
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/client.ts
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

x
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

x
  js/src/client.ts
Due: js-format, js-lint, js-typecheck

Fix push_agent URL owner for name-only identifiers
  js/src/client.ts
  js/src/tests/context.test.ts
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix CI formatting failures in JS and Python
  js/src/tests/context.test.ts
  python/langsmith/async_client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Fix push_agent URL owner for name-only identifiers (#2862)
  js/src/client.ts
  js/src/tests/context.test.ts
  python/langsmith/_internal/_hub.py
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_hub_methods.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.8.2 → 0.8.3
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.6.3
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

docs(langsmith): clarify trust boundaries when working with hub (#2861)
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(py): 0.8.3 (#2863)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.6.3 (#2864)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

feat: add sandbox github clone example
  python/examples/sandbox_private_github_app.py
Due: python-format, python-lint-ruff

fix(js): add oauth user header and refresh locking
  js/src/client.ts
  js/src/tests/client.test.ts
  js/src/utils/fs.browser.ts
  js/src/utils/fs.ts
  js/src/utils/profiles.ts
Due: js-format, js-lint, js-typecheck

fix(python): add oauth user header and refresh locking
  python/langsmith/_internal/_profiles.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

sdk(py): drop sandbox alpha/experimental warnings
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
Due: python-format, python-lint-ruff, python-mypy

sdk(js): rename experimental/sandbox -> sandbox (breaking)
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/errors.ts
  js/src/sandbox/helpers.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_error_handling.test.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

sdk(js): rename experimental/sandbox -> sandbox (breaking) (#2885)
  js/.gitignore
  js/package.json
  js/scripts/create-entrypoints.js
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/command_handle.ts
  js/src/sandbox/errors.ts
  js/src/sandbox/helpers.ts
  js/src/sandbox/index.ts
  js/src/sandbox/sandbox.ts
  js/src/sandbox/types.ts
  js/src/sandbox/ws_execute.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_error_handling.test.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

sdk(py): drop sandbox alpha/experimental warnings (#2884)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): default create to server runtime
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

docs(sandbox): soften snapshot wording
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

feat(sandbox): support options-first creation
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/tests/sandbox.test.ts
Due: js-format, js-lint, js-typecheck

Expose runs, threads and traces resources
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): make snapshot optional and add TS options overload (#2887)
  js/src/sandbox/README.md
  js/src/sandbox/client.ts
  js/src/sandbox/types.ts
  js/src/tests/sandbox.test.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Add depreciation warnings
  python/langsmith/_internal/_beta_decorator.py
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
