Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

Isolate state
  js/src/experimental/vercel/telemetry.ts
Due: js-format, js-lint, js-typecheck

optionally use V2 list runs in evaluator runners
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

fix: remove project_id from session_id warning in create_feedback
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

refactor: simplify session_id warning condition
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

use sync v2 call
  python/langsmith/client.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy

refactor(py): deprecate composite feedback formula APIs
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

Use v2 list runs
  js/src/client.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/v2_migration.ts
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Refactor
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/v2_migration.ts
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

optionally use V2 list runs in evaluator runners (#3257)
  js/src/client.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/v2_migration.ts
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Add overload and deprecate old signature for JS logEvaluationFeedback
  js/src/client.ts
  js/src/evaluation/_runner.ts
  js/src/utils/jestlike/globals.ts
Due: js-format, js-lint, js-typecheck

nits
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
Due: python-format, python-lint-ruff, python-mypy

nits
  js/src/client.ts
  js/src/evaluation/_runner.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/tests/jestlike/globals.test.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/jestlike/globals.ts
  js/src/utils/v2_migration.ts
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/client.py
  python/tests/unit_tests/evaluation/test_runner.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: add session_id and start_time to feedback generated from evaluat… (#3249)
  js/src/client.ts
  js/src/evaluation/_runner.ts
  js/src/evaluation/evaluate_comparative.ts
  js/src/tests/client.test.ts
  js/src/tests/evaluate_runner.test.ts
  js/src/tests/jestlike/globals.test.ts
  js/src/tests/v2_migration.test.ts
  js/src/utils/jestlike/globals.ts
  js/src/utils/jestlike/index.ts
  js/src/utils/v2_migration.ts
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/client.py
  python/langsmith/evaluation/_arunner.py
  python/langsmith/evaluation/_runner.py
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/evaluation/test_runner.py
  python/tests/unit_tests/test_testing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump version: 0.10.9 → 0.10.10
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.5
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

release(py): Bump version: 0.10.9 → 0.10.10 (#3258)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(js): 0.8.5 (#3259)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

Update versions
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
Due: none

Bump
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
Due: none

Fix
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
Due: js-format, js-lint, js-typecheck

Ensure dataset version for an experiment is after all examples
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

Unit test
  js/src/tests/jestlike/experiment_metadata.test.ts
Due: js-format, js-lint, js-typecheck

OpenSWE
  js/src/tests/jestlike/experiment_metadata.test.ts
  js/src/utils/jestlike/globals.ts
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

refactor(js): consolidate deprecation warnings into warnOnce
  js/src/client.ts
  js/src/utils/warn.ts
Due: js-format, js-lint, js-typecheck

refactor(py): remove composite feedback formula APIs (#3248)
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

chore: address reviewer comments on deprecation warnings
  js/src/client.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: update test assertions to match DeprecationWarning category [CI]
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

chore: deprecate all legacy SDK methods from SmithDB migration guide (#3241)
  js/src/client.ts
  js/src/utils/warn.ts
  python/langsmith/async_client.py
  python/langsmith/client.py
  python/langsmith/utils.py
  python/tests/unit_tests/test_async_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump
  js/package.json
  js/pnpm-lock.yaml
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
Due: js-format, js-lint, js-typecheck

feat: migrate internal list_runs/read_run usages to SmithDB v2 API
  js/src/client.ts
  js/src/utils/v2_migration.ts
  python/langsmith/_internal/_v2_migration_utils.py
  python/langsmith/beta/_evals.py
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Update js/src/utils/jestlike/index.ts
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

fix(js): Ensure dataset version for an experiment is after all examples (#3260)
  js/src/tests/jestlike/experiment_metadata.test.ts
  js/src/utils/jestlike/globals.ts
  js/src/utils/jestlike/index.ts
Due: js-format, js-lint, js-typecheck

Add Claude Code test
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
  js/src/tests/vercel/telemetry/harness-claude-code.int.test.ts
Due: js-format, js-lint, js-typecheck

Skip
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
Due: js-format, js-lint, js-typecheck

feat(js): Support harness agent tracing in AI SDK 7 (#3247)
  .github/workflows/js-perf.yml
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
  js/src/experimental/vercel/telemetry.ts
  js/src/tests/vercel/telemetry/anthropic.int.test.ts
  js/src/tests/vercel/telemetry/harness-agent.int.test.ts
  js/src/tests/vercel/telemetry/harness-claude-code.int.test.ts
  js/src/tests/vercel/telemetry/methods.vitesttest.ts
  js/src/tests/vercel/telemetry/openai.int.test.ts
Due: js-format, js-lint, js-typecheck

release(js): 0.8.6
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix(sandbox): retry exec on graceful close before 'started' (#3261)
  js/src/sandbox/command_handle.ts
  js/src/sandbox/errors.ts
  js/src/sandbox/sandbox.ts
  js/src/tests/sandbox.test.ts
  js/src/tests/sandbox_command_id_retry.test.ts
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_ws_execute.py
  python/tests/unit_tests/sandbox/test_async_ws_execute.py
  python/tests/unit_tests/sandbox/test_command_id_retry.py
  python/tests/unit_tests/sandbox/test_ws_execute.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

release(js): 0.8.6 (#3263)
  js/package.json
  js/src/index.ts
Due: js-format, js-lint, js-typecheck

fix: normalize run_type case and add missing fields to v2 selects
  js/src/utils/v2_migration.ts
  python/langsmith/_internal/_v2_migration_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: guard start_time None in get_test_results; reformat v2_migration.ts [CI]
  js/src/utils/v2_migration.ts
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
