Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks that auto-fix formatting and linting issues
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # ==========================================================================
      # Python Checks
      # ==========================================================================

      # Python - auto-format with ruff
      - id: python-format
        name: Python Ruff Format
        entry: bash -c 'cd python && uv run ruff format .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - lint and auto-fix with ruff
      - id: python-lint-ruff
        name: Python Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix .'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

      # Python - type check with mypy (cannot auto-fix)
      - id: python-mypy
        name: Python MyPy Type Check
        entry: bash -c 'cd python && uv run mypy langsmith'
        language: system
        files: ^python/langsmith/.*\.py$
        pass_filenames: false

      # ==========================================================================
      # JavaScript/TypeScript Checks
      # ==========================================================================

      # JS - auto-format with prettier
      - id: js-format
        name: JS Prettier Format
        entry: bash -c 'cd js && yarn run format'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

      # JS - lint and auto-fix with eslint
      - id: js-lint
        name: JS ESLint
        entry: bash -c 'cd js && yarn run lint:fix'
        language: system
        files: ^js/src/.*\.(ts|js)$
        pass_filenames: false

      # JS - type check with TypeScript (cannot auto-fix)
      - id: js-typecheck
        name: JS TypeScript Type Check
        entry: bash -c 'cd js && yarn run check:types'
        language: system
        files: ^js/src/.*\.(ts|tsx|mts)$
        pass_filenames: false

fix(python): restore if/if and correct order in flush() for tracing_queue + compressed_traces
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(python): flush pending traces during Client.cleanup() (#2799)
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): Fix concurrency for multiple Claude Agent SDK sessions (#2795)
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/claude_agent_sdk/_hooks.py
  python/langsmith/integrations/claude_agent_sdk/_tools.py
  python/langsmith/integrations/claude_agent_sdk/_transcripts.py
  python/tests/integration_tests/wrappers/test_claude_agent_sdk.py
  python/tests/unit_tests/wrappers/test_claude_agent_sdk_hooks.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.36 → 0.7.37
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

release(py): 0.7.37 (#2802)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

feat(js): add tracing of opencode
  js/.gitignore
  js/package.json
  js/pnpm-lock.yaml
  js/scripts/create-entrypoints.js
  js/src/experimental/opencode/index.ts
  js/src/experimental/opencode/tracer.ts
  js/src/tests/opencode/opencode.vitesttest.ts
  js/src/tests/opencode/ses_basic.jsonl
  js/src/tests/opencode/ses_editing.jsonl
  js/src/tests/opencode/ses_images.jsonl
  js/src/tests/opencode/ses_subagents.jsonl
  js/src/tests/utils/mock_client.vitest.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

Skip lint
  js/src/tests/opencode/opencode.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Remove unused
  js/src/experimental/opencode/tracer.ts
Due: js-format, js-lint, js-typecheck

Fix test
  js/src/tests/opencode/opencode.vitesttest.ts
Due: js-format, js-lint, js-typecheck

Remove direct dependency on OpenCode
  js/package.json
  js/pnpm-lock.yaml
  js/src/experimental/opencode/index.ts
  js/src/experimental/opencode/tracer.ts
Due: js-format, js-lint, js-typecheck

Check
  js/src/experimental/opencode/index.ts
Due: js-format, js-lint, js-typecheck

feat(js): add tracing of opencode (#2776)
  js/.gitignore
  js/package.json
  js/pnpm-lock.yaml
  js/scripts/create-entrypoints.js
  js/src/experimental/opencode/index.ts
  js/src/experimental/opencode/tracer.ts
  js/src/tests/opencode/opencode.vitesttest.ts
  js/src/tests/opencode/ses_basic.jsonl
  js/src/tests/opencode/ses_editing.jsonl
  js/src/tests/opencode/ses_images.jsonl
  js/src/tests/opencode/ses_subagents.jsonl
  js/src/tests/utils/mock_client.vitest.ts
  js/tsconfig.json
Due: js-format, js-lint, js-typecheck

Remove types/uuid
  js/package.json
  js/pnpm-lock.yaml
Due: none

chore(js): Remove types/uuid (#2814)
  js/package.json
  js/pnpm-lock.yaml
Due: none

docs(sandbox): document default idle TTL of 10 minutes (#2788)
  js/src/experimental/sandbox/README.md
  js/src/experimental/sandbox/sandbox.ts
  js/src/experimental/sandbox/types.ts
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

Bump pytest timeout to 2m
  python/pyproject.toml
Due: none

ci(py): Bump pytest timeout to 2m (#2815)
  python/pyproject.toml
Due: none

Pull Claude Agent SDK subagent runs from transcript, add tool span
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/index.ts
  js/src/experimental/anthropic/messages.ts
  js/src/experimental/anthropic/transcripts.ts
  js/src/experimental/anthropic/types.ts
  js/src/experimental/anthropic/usage.ts
  js/src/tests/claude_agent_sdk.int.test.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

Add nested traceable test
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/index.ts
  js/src/tests/claude_agent_sdk.int.test.ts
Due: js-format, js-lint, js-typecheck

Polish
  js/src/experimental/anthropic/context.ts
  js/src/experimental/anthropic/transcripts.ts
  js/src/tests/claude_agent_sdk.int.test.ts
  js/src/tests/claude_agent_sdk.test.ts
Due: js-format, js-lint, js-typecheck

Simplify
  js/src/experimental/anthropic/context.ts
Due: js-format, js-lint, js-typecheck

Avoid double wrapping tools
  js/src/experimental/anthropic/index.ts
Due: js-format, js-lint, js-typecheck

test(js): replace toThrowError with toThrow for jest 30 compat
  js/src/tests/client.test.ts
  js/src/tests/traceable.test.ts
  js/src/tests/wrapped_anthropic.int.test.ts
  js/src/tests/wrapped_gemini.int.test.ts
  js/src/tests/wrapped_openai.int.test.ts
Due: js-format, js-lint, js-typecheck

style: apply ruff format to test_client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

test(py): tolerate new None-default kwargs in pull/push roundtrip
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff

Adds strands exporter
  python/langsmith/integrations/strands_agents/__init__.py
  python/langsmith/integrations/strands_agents/exporter.py
  python/pyproject.toml
  python/tests/integration_tests/wrappers/test_strands_agents.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

Adds Strands Agents SDK wrapper
  python/langsmith/integrations/strands_agents/exporter.py
  python/pyproject.toml
  python/tests/integration_tests/wrappers/test_strands_agents.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix(tests): update VCR cassettes to use uppercase HTTP method
  python/tests/integration_tests/cassettes/test_gemini_test_generate_content_async.yaml
  python/tests/integration_tests/cassettes/test_gemini_test_generate_content_stream_async.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_runner_run_async.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_runner_run_sync_with_tool.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_sequential_agent.yaml
Due: none

Cassettes for some reason
  python/tests/integration_tests/cassettes/test_gemini_test_generate_content_async.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_runner_run_async.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_runner_run_sync_with_tool.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_sequential_agent.yaml
Due: none

Skip
  python/tests/integration_tests/wrappers/test_gemini.py
Due: python-format, python-lint-ruff

feat(py): Adds strands OTEL exporter (#2817)
  python/langsmith/integrations/strands_agents/__init__.py
  python/langsmith/integrations/strands_agents/exporter.py
  python/pyproject.toml
  python/tests/integration_tests/cassettes/test_gemini_test_generate_content_async.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_runner_run_async.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_runner_run_sync_with_tool.yaml
  python/tests/integration_tests/cassettes/test_google_adk_test_sequential_agent.yaml
  python/tests/integration_tests/wrappers/test_gemini.py
  python/tests/integration_tests/wrappers/test_strands_agents.py
  python/tests/unit_tests/wrappers/test_strands_agents.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

Fix
  js/src/tests/claude_agent_sdk.int.test.ts
Due: js-format, js-lint, js-typecheck

revert
  js/src/tests/claude_agent_sdk.int.test.ts
Due: js-format, js-lint, js-typecheck

lint
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(run-trees): coerce Pydantic BaseModel to dict in RunTree inputs/outputs
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

fix(py): fix RunTree ValidationError when inputs or outputs is a Pydantic BaseModel (#2820)
  python/langsmith/run_trees.py
  python/tests/unit_tests/test_run_trees.py
Due: python-format, python-lint-ruff, python-mypy

chore: add apac support
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

chore: add apac support (#2821)
  js/src/client.ts
  js/src/tests/client.test.ts
  python/langsmith/utils.py
  python/tests/unit_tests/test_client.py
  python/tests/unit_tests/test_utils.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck
