Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

move langsmith-cli into this repo
  python/langsmith/cli/README.md
  python/langsmith/cli/__init__.py
  python/langsmith/cli/__main__.py
  python/langsmith/cli/config.py
  python/langsmith/cli/dataset.py
  python/langsmith/cli/evaluator.py
  python/langsmith/cli/example.py
  python/langsmith/cli/experiment.py
  python/langsmith/cli/filters.py
  python/langsmith/cli/generation.py
  python/langsmith/cli/main.py
  python/langsmith/cli/output.py
  python/langsmith/cli/run.py
  python/langsmith/cli/thread.py
  python/langsmith/cli/trace.py
  python/langsmith/cli/tracing_project.py
  python/langsmith/cli/utils.py
  python/pyproject.toml
  python/tests/unit_tests/cli/conftest.py
  python/tests/unit_tests/cli/test_config.py
  python/tests/unit_tests/cli/test_dataset.py
  python/tests/unit_tests/cli/test_evaluator.py
  python/tests/unit_tests/cli/test_example.py
  python/tests/unit_tests/cli/test_experiment.py
  python/tests/unit_tests/cli/test_filters.py
  python/tests/unit_tests/cli/test_generation.py
  python/tests/unit_tests/cli/test_main.py
  python/tests/unit_tests/cli/test_output.py
  python/tests/unit_tests/cli/test_run.py
  python/tests/unit_tests/cli/test_thread.py
  python/tests/unit_tests/cli/test_trace.py
  python/tests/unit_tests/cli/test_tracing_project.py
  python/tests/unit_tests/cli/test_utils.py
Due: python-format, python-lint-ruff, python-mypy

linting
  python/langsmith/cli/dataset.py
  python/langsmith/cli/evaluator.py
  python/langsmith/cli/example.py
  python/langsmith/cli/experiment.py
  python/langsmith/cli/filters.py
  python/langsmith/cli/generation.py
  python/langsmith/cli/main.py
  python/langsmith/cli/output.py
  python/langsmith/cli/run.py
  python/langsmith/cli/thread.py
  python/langsmith/cli/trace.py
  python/langsmith/cli/tracing_project.py
  python/langsmith/cli/utils.py
  python/tests/unit_tests/cli/test_dataset.py
  python/tests/unit_tests/cli/test_evaluator.py
  python/tests/unit_tests/cli/test_example.py
  python/tests/unit_tests/cli/test_experiment.py
  python/tests/unit_tests/cli/test_generation.py
  python/tests/unit_tests/cli/test_output.py
  python/tests/unit_tests/cli/test_run.py
  python/tests/unit_tests/cli/test_thread.py
  python/tests/unit_tests/cli/test_trace.py
  python/tests/unit_tests/cli/test_tracing_project.py
  python/tests/unit_tests/cli/test_utils.py
  python/uv.lock
Due: python-format, python-lint-ruff, python-mypy

fix: sum Anthropic cache tokens into input_tokens for correct cost calculation
  js/src/tests/anthropic_usage.test.ts
  js/src/utils/usage.ts
  js/src/wrappers/anthropic.ts
  python/langsmith/schemas.py
  python/langsmith/wrappers/_anthropic.py
  python/tests/unit_tests/wrappers/test_anthropic_processing.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

u
  pyproject.toml
  uv.lock
Due: none

u
  python/langsmith/client.py
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

lint
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

u
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff

u
  python/langsmith/schemas.py
Due: python-format, python-lint-ruff, python-mypy

add get insights reports with runs (#2517)
  python/langsmith/client.py
  python/langsmith/schemas.py
  python/tests/unit_tests/test_insights_report.py
Due: python-format, python-lint-ruff, python-mypy

bump version for insights sdk changse
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

bump version for insights sdk changes (#2520)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: sample before transform in ingest (#2488)
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

chore: bump version
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: add missing `await` on `_current_tenant_is_owner` in `AsyncClient._get_prompt_url`
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(testing): add experiment-level metadata to pytest integration
  python/langsmith/pytest_plugin.py
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_experiment_metadata.py
Due: python-format, python-lint-ruff, python-mypy

style: fix ruff lint errors in test_experiment_metadata
  python/tests/unit_tests/test_experiment_metadata.py
Due: python-format, python-lint-ruff

chore: fix flakey test
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff

chore: bump version (#2521)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
  python/tests/unit_tests/test_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

1hr
  js/src/tests/anthropic_usage.test.ts
  js/src/utils/usage.ts
Due: js-format, js-lint, js-typecheck

fix(testing): use request_obj.getfixturevalue for langsmith_experiment_metadata fixture
  python/langsmith/pytest_plugin.py
Due: python-format, python-lint-ruff, python-mypy

style: ruff format _internal.py and test_experiment_metadata
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_experiment_metadata.py
Due: python-format, python-lint-ruff, python-mypy

fix: initialize otel exporter before background thread
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: initialize otel exporter before background thread (#2526)
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

fix: convert non primative types to JSON strings
  python/langsmith/_internal/otel/_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

chore: lint
  python/langsmith/_internal/otel/_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix: missing await
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix: convert non primitive types to JSON strings (#2527)
  python/langsmith/_internal/otel/_otel_exporter.py
Due: python-format, python-lint-ruff, python-mypy

fix: missing await (#2528)
  python/langsmith/async_client.py
Due: python-format, python-lint-ruff, python-mypy

fix(js): cache remapped UUIDs in _remapForProject to fix trace_id/dotted_order mismatch
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
Due: js-format, js-lint, js-typecheck

chore: remove internal ticket reference from test comment
  js/src/tests/run_trees.test.ts
Due: js-format, js-lint, js-typecheck

fix(js): use module-level cache for remapped UUIDs in _remapForProject
  js/src/run_trees.ts
  js/src/tests/run_trees.test.ts
Due: js-format, js-lint, js-typecheck

fix: bump minimatch to resolve CVE-2026-27903 (#2502)
  js/internal/environment_tests/test-exports-metro/yarn.lock
  js/yarn.lock
Due: none

fix: raise ValueError on invalid LANGSMITH_EXPERIMENT_METADATA JSON
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_experiment_metadata.py
Due: python-format, python-lint-ruff, python-mypy

feat(py): add experiment-level metadata to pytest integration (#2524)
  python/langsmith/pytest_plugin.py
  python/langsmith/testing/_internal.py
  python/tests/unit_tests/test_experiment_metadata.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.12 → 0.7.13
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.12 → 0.7.13 (#2531)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: gemini wrapper inputs
  python/langsmith/wrappers/_gemini.py
Due: python-format, python-lint-ruff, python-mypy

chore: lint
  python/langsmith/wrappers/_gemini.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
