Repository langchain-ai/langsmith-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

python-format:
  name: Python Ruff Format
  entry: bash -c 'cd python && uv run ruff format .'
  language: system
  pass_filenames: false

python-lint-ruff:
  name: Python Ruff Lint
  entry: bash -c 'cd python && uv run ruff check --fix .'
  language: system
  pass_filenames: false

python-mypy:
  name: Python MyPy Type Check
  entry: bash -c 'cd python && uv run mypy langsmith'
  language: system
  pass_filenames: false

js-format:
  name: JS Prettier Format
  entry: bash -c 'cd js && yarn run format'
  language: system
  pass_filenames: false

js-lint:
  name: JS ESLint
  entry: bash -c 'cd js && yarn run lint:fix'
  language: system
  pass_filenames: false

js-typecheck:
  name: JS TypeScript Type Check
  entry: bash -c 'cd js && yarn run check:types'
  language: system
  pass_filenames: false

more tests
  js/src/tests/claude_agent_sdk.test.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
  python/tests/integration_tests/wrappers/test_openai_agents.py
Due: python-format, python-lint-ruff, js-format, js-lint, js-typecheck

fix: add integration and version num (#2481)
  js/src/experimental/anthropic/index.ts
  js/src/experimental/vercel/index.ts
  js/src/tests/claude_agent_sdk.test.ts
  js/src/tests/vercel/wrapper/methods.vitesttest.ts
  python/langsmith/integrations/claude_agent_sdk/_client.py
  python/langsmith/integrations/google_adk/_client.py
  python/langsmith/integrations/openai_agents_sdk/_openai_agents.py
  python/tests/integration_tests/wrappers/test_openai_agents.py
  python/tests/unit_tests/wrappers/test_google_adk.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix: bump versions
  js/package.json
  js/src/index.ts
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

.cfg file
  python/.bumpversion.cfg
Due: none

Bump version: 0.7.7 → 0.7.8
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.8 → 0.7.9
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.9 → 0.7.10
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

.7.7
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: bump versions (#2482)
  js/package.json
  js/src/index.ts
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy, js-format, js-lint, js-typecheck

fix(ci): replace mistakenly pinned Node 22.4.1 with 22.x (#2477)
  .github/workflows/ci.yml
Due: none

ci: bump GitHub workflow Node.js versions to 24.x
  .github/workflows/ci.yml
Due: none

chore: bump GitHub workflow Node.js versions to 24.x (#2485)
  .github/workflows/ci.yml
Due: none

feat(sandbox): add retry mechanism for python client
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_transport.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): add retry mechanism for python client (#2486)
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_sandbox.py
  python/langsmith/sandbox/_transport.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_sandbox.py
  python/tests/unit_tests/sandbox/test_transport.py
Due: python-format, python-lint-ruff, python-mypy

fix: sample before transform in ingest
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

description change to reflect read_dataset_version needs exact timestamp in as_of params
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Description change for read_dataset_version (#2487)
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

chore: add tests
  python/langsmith/client.py
  python/tests/unit_tests/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): async sandbox creation
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_exceptions.py
  python/tests/unit_tests/sandbox/test_models.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

fix ResourceCreationError raise on wait_for_sandbox
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_client.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_client.py
Due: python-format, python-lint-ruff, python-mypy

feat(sandbox): async sandbox creation (#2493)
  python/langsmith/sandbox/README.md
  python/langsmith/sandbox/__init__.py
  python/langsmith/sandbox/_async_client.py
  python/langsmith/sandbox/_async_sandbox.py
  python/langsmith/sandbox/_client.py
  python/langsmith/sandbox/_exceptions.py
  python/langsmith/sandbox/_helpers.py
  python/langsmith/sandbox/_models.py
  python/langsmith/sandbox/_sandbox.py
  python/tests/unit_tests/sandbox/test_async_client.py
  python/tests/unit_tests/sandbox/test_async_sandbox.py
  python/tests/unit_tests/sandbox/test_client.py
  python/tests/unit_tests/sandbox/test_exceptions.py
  python/tests/unit_tests/sandbox/test_models.py
  python/tests/unit_tests/sandbox/test_sandbox.py
Due: python-format, python-lint-ruff, python-mypy

docs: rm pytest beta docstring
  python/langsmith/testing/_internal.py
Due: python-format, python-lint-ruff, python-mypy

update wrap_anthropic to include usage_metadata in metadata
  python/langsmith/wrappers/_anthropic.py
  python/tests/integration_tests/wrappers/test_anthropic_with_raw_response.py
Due: python-format, python-lint-ruff, python-mypy

fmt
  python/tests/integration_tests/wrappers/test_anthropic.py
Due: python-format, python-lint-ruff

fix(tests): update anthropic test model name and re-record cassettes
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_prepopulated_invocation_params.yaml
  python/tests/integration_tests/wrappers/test_anthropic.py
Due: python-format, python-lint-ruff

docs: rm pytest beta docstring (#2496)
  python/langsmith/testing/_internal.py
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_beta_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_async_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_chat_sync_api_stream.yaml
  python/tests/integration_tests/cassettes/test_anthropic_test_prepopulated_invocation_params.yaml
  python/tests/integration_tests/wrappers/test_anthropic.py
Due: python-format, python-lint-ruff, python-mypy

add usage_metadata to metadata for wrap_anthropic
  python/langsmith/wrappers/_anthropic.py
Due: python-format, python-lint-ruff, python-mypy

standardize
  python/langsmith/wrappers/_anthropic.py
Due: python-format, python-lint-ruff, python-mypy

fix token count
  python/langsmith/wrappers/_anthropic.py
Due: python-format, python-lint-ruff, python-mypy

comment
  python/langsmith/wrappers/_anthropic.py
Due: python-format, python-lint-ruff, python-mypy

fix(anthropic): Add usage_metadata to metadata (#2497)
  python/langsmith/wrappers/_anthropic.py
  python/tests/integration_tests/wrappers/test_anthropic_with_raw_response.py
Due: python-format, python-lint-ruff, python-mypy

fix: catch blocksize typeError
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Bump version: 0.7.7 → 0.7.8 (#2498)
  python/.bumpversion.cfg
  python/langsmith/__init__.py
Due: python-format, python-lint-ruff, python-mypy

fix: catch blocksize typeError (#2499)
  python/langsmith/client.py
Due: python-format, python-lint-ruff, python-mypy

Path conditions:
  python-format: any of: ^python/.*\.py$
  python-lint-ruff: any of: ^python/.*\.py$
  python-mypy: any of: ^python/langsmith/.*\.py$
  js-format: any of: ^js/src/.*\.(ts|tsx|mts)$
  js-lint: any of: ^js/src/.*\.(ts|js)$
  js-typecheck: any of: ^js/src/.*\.(ts|tsx|mts)$
